MAIN/Система защиты (лицензирования)/Add Admin - Form.json
{
  "name": "Add Admin - Form",
  "nodes": [
    {
      "parameters": {
        "path": "add-admin-form-webhook",
        "formTitle": "Добавить нового администратора",
        "formDescription": "Заполните данные для создания нового администратора системы",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Имя пользователя (Username)",
              "requiredField": true
            },
            {
              "fieldLabel": "Пароль",
              "fieldType": "password",
              "requiredField": true
            },
            {
              "fieldLabel": "Email (необязательно)",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Роль",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "super_admin"
                  },
                  {
                    "option": "admin"
                  },
                  {
                    "option": "moderator"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "39eae6c9-b1cc-4092-bfd3-3051951e2566",
      "name": "Form - Add Admin",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -1824,
        -288
      ],
      "webhookId": "add-admin-form-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Извлечение и валидация данных из формы\nconst formData = $input.item.json;\n\nconst username = (formData['Имя пользователя (Username)'] || '').trim();\nconst password = formData['Пароль'] || '';\nconst email = (formData['Email (необязательно)'] || '').trim() || null;\nconst role = formData['Роль'] || 'admin';\n\n// Валидация\nconst errors = [];\n\nif (!username) {\n  errors.push('Username is required');\n} else if (username.length < 3) {\n  errors.push('Username must be at least 3 characters');\n} else if (!/^[a-zA-Z0-9_-]+$/.test(username)) {\n  errors.push('Username can only contain letters, numbers, underscore and dash');\n}\n\nif (!password) {\n  errors.push('Password is required');\n} else if (password.length < 6) {\n  errors.push('Password must be at least 6 characters');\n}\n\nif (email && !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) {\n  errors.push('Invalid email format');\n}\n\n// Если есть ошибки валидации\nif (errors.length > 0) {\n  return [{\n    json: {\n      error: true,\n      message: 'Validation failed',\n      errors: errors\n    }\n  }];\n}\n\n// Возвращаем валидированные данные\nreturn [{\n  json: {\n    username: username,\n    password: password,\n    email: email,\n    role: role,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "2b0caf07-0776-4d80-8942-493b725e285a",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53de9586-4ac2-4268-86a6-969eca5dff88",
      "name": "IF Validation OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1376,
        -288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COALESCE(\n    (SELECT username FROM admins WHERE LOWER(username) = LOWER('{{ $json.username }}') LIMIT 1),\n    ''\n  ) as username;",
        "options": {}
      },
      "id": "26434ccc-2598-42cf-a978-7ad483947806",
      "name": "Check Username Exists",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1168,
        -432
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Проверка доступности username\nconst usernameFromDB = $input.item.json.username || '';\n\n// Если username пустой - значит НЕ найден в БД = свободен\nconst isFree = usernameFromDB === '';\n\nreturn [{\n  json: {\n    username_from_db: usernameFromDB,\n    is_username_free: isFree,\n    original_username: $('Validate Input').item.json.username\n  }\n}];"
      },
      "id": "cc5b585d-a0c7-4ba2-8d5b-499b2cd96af0",
      "name": "Check If Username Free",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "username-free-check",
              "leftValue": "={{ $json.is_username_free }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e9ecf6b5-21ca-4a56-abfe-6e338efad34c",
      "name": "IF Username Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -848,
        -432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT crypt('{{ $('Validate Input').item.json.password }}', gen_salt('bf')) as password_hash;",
        "options": {}
      },
      "id": "dbed1474-1cc9-4c4e-8bbd-edb39dcd4255",
      "name": "Generate Password Hash",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -640,
        -512
      ],
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Объединение данных для вставки\nconst userData = $('Validate Input').item.json;\nconst hashData = $input.item.json;\n\nreturn [{\n  json: {\n    username: userData.username,\n    password_hash: hashData.password_hash,\n    email: userData.email,\n    role: userData.role,\n    is_active: true,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "29fc1dbb-ece8-47f9-b39a-760eceb41c82",
      "name": "Prepare Insert Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO admins (\n  username,\n  password_hash,\n  email,\n  role,\n  is_active,\n  created_at\n)\nVALUES (\n  '{{ $json.username }}',\n  '{{ $json.password_hash }}',\n  {{ $json.email ? \"'\" + $json.email + \"'\" : \"NULL\" }},\n  '{{ $json.role }}',\n  {{ $json.is_active }},\n  NOW()\n)\nRETURNING id, username, email, role, created_at, is_active;",
        "options": {}
      },
      "id": "ac671df5-0264-4682-9282-fc93425a5e20",
      "name": "Insert Admin to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -288,
        -512
      ],
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const adminData = $input.item.json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Admin created successfully',\n    admin: {\n      id: adminData.id,\n      username: adminData.username,\n      email: adminData.email,\n      role: adminData.role,\n      created_at: adminData.created_at,\n      is_active: adminData.is_active\n    }\n  }\n}];"
      },
      "id": "fc24ad21-8bd4-4b68-aa9a-0b1ae3272642",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обработка ошибки - username уже существует\nconst checkData = $input.item.json;\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    message: `Username '${checkData.original_username}' already exists`,\n    code: 'USERNAME_EXISTS'\n  }\n}];"
      },
      "id": "99982774-cacb-48af-abb0-8d456f897cd8",
      "name": "Error - Username Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обработка ошибки валидации\nconst validationData = $input.item.json;\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    message: validationData.message,\n    errors: validationData.errors,\n    code: 'VALIDATION_ERROR'\n  }\n}];"
      },
      "id": "5527639d-4916-45a4-b2a1-2c83d5977401",
      "name": "Error - Validation Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Финальная обработка вывода для формы\nconst data = $input.item.json;\n\nlet outputText = '';\n\nif (data.success === true && data.admin) {\n  // Успешное создание админа\n  outputText = `✅ Администратор успешно создан!\n\nUsername: ${data.admin.username}\nRole: ${data.admin.role}\nEmail: ${data.admin.email || 'Не указан'}\n\nВы можете закрыть эту страницу и войти с новыми credentials.`;\n} else if (data.error === true) {\n  // Ошибка\n  outputText = `❌ Ошибка: ${data.message || 'Unknown error'}`;\n  \n  if (data.errors && Array.isArray(data.errors)) {\n    outputText += '\\n\\n' + data.errors.join('\\n');\n  }\n  \n  if (data.code) {\n    outputText += `\\n\\nКод ошибки: ${data.code}`;\n  }\n} else {\n  outputText = '⚠️ Неизвестный результат';\n}\n\nreturn [{\n  json: {\n    text: outputText\n  }\n}];"
      },
      "id": "cab573a8-f430-4c59-9fce-79438ec5d563",
      "name": "Set Output Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Form - Add Admin": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Validation OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Validation OK": {
      "main": [
        [
          {
            "node": "Check Username Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Username Exists": {
      "main": [
        [
          {
            "node": "Check If Username Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Username Free": {
      "main": [
        [
          {
            "node": "IF Username Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Username Available": {
      "main": [
        [
          {
            "node": "Generate Password Hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Username Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Password Hash": {
      "main": [
        [
          {
            "node": "Prepare Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Insert Data": {
      "main": [
        [
          {
            "node": "Insert Admin to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Admin to DB": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Set Output Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error - Username Exists": {
      "main": [
        [
          {
            "node": "Set Output Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error - Validation Failed": {
      "main": [
        [
          {
            "node": "Set Output Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "786486ad-fac8-4865-beb8-9dae221565ef",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "cmgdw1nMMvpYS8xS",
  "tags": []
}