MAIN/Система защиты (лицензирования)/License Verification API.json
{
  "name": "License Verification API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-license",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b969120f-a80a-4ecf-a5af-fe14e67c49eb",
      "name": "Webhook - Verify License",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2800,
        32
      ],
      "webhookId": "verify-license-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Извлечение license_key, domain и IP адреса из запроса\nconst body = $input.item.json.body || {};\nconst query = $input.item.json.query || {};\nconst headers = $input.item.json.headers || {};\n\n// License key может быть в body или query\nconst licenseKey = body.license_key || query.license_key;\n\n// IP адрес клиента\nconst clientIp = headers['x-real-ip'] || headers['x-forwarded-for']?.split(',')[0]?.trim() || 'unknown';\n\n// Извлечение домена (приоритет: origin > referer > body)\nlet domain = '';\nlet source = 'unknown';\n\n// Пробуем origin\nconst origin = headers['origin'] || '';\nif (origin) {\n  // Простой парсинг без new URL() (может не работать в n8n)\n  const match = origin.match(/^https?:\\/\\/([^/:]+)/);\n  if (match) {\n    domain = match[1];\n    source = 'origin';\n  }\n}\n\n// Если не получилось - пробуем referer\nif (!domain) {\n  const referer = headers['referer'] || '';\n  if (referer) {\n    const match = referer.match(/^https?:\\/\\/([^/:]+)/);\n    if (match) {\n      domain = match[1];\n      source = 'referer';\n    }\n  }\n}\n\n// Fallback на body (для обратной совместимости)\nif (!domain) {\n  domain = body.domain || query.domain || '';\n  source = 'body';\n}\n\n// Валидация\nif (!licenseKey) {\n  return [{\n    json: {\n      error: true,\n      message: 'license_key is required',\n      valid: false\n    }\n  }];\n}\n\nif (!domain) {\n  return [{\n    json: {\n      error: true,\n      message: 'Unable to determine domain from request',\n      valid: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    license_key: licenseKey,\n    client_ip: clientIp,\n    domain: domain,\n    timestamp: new Date().toISOString(),\n    domain_source: source\n  }\n}];"
      },
      "id": "72353599-7eb3-45c8-ab73-e5951cea2164",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COALESCE(ip_address, '{{ $json.client_ip }}') as ip_address,\n  COALESCE(request_count, 0) as request_count,\n  COALESCE(window_start, NOW()) as window_start,\n  CASE \n    WHEN window_start IS NULL THEN 1\n    WHEN window_start < NOW() - INTERVAL '1 minute' THEN 1\n    WHEN request_count >= 100 THEN -1\n    ELSE request_count + 1\n  END as new_count\nFROM (\n  SELECT * \n  FROM rate_limits\n  WHERE ip_address = '{{ $json.client_ip }}'\n    AND endpoint = 'verify-license'\n  ORDER BY window_start DESC\n  LIMIT 1\n) sub\nRIGHT JOIN (SELECT 1) dummy ON TRUE\nLIMIT 1;",
        "options": {}
      },
      "id": "7b8a489c-e29f-44ee-b39f-743c5988f4b9",
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2320,
        32
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Объединяем данные из Extract Request Data и Check Rate Limit\nconst requestData = $('Extract Request Data').item.json;\nconst rateLimitResult = $input.item.json;\n\n// Если нет записи в rate_limits, считаем что это первый запрос\nconst newCount = rateLimitResult.new_count !== undefined ? rateLimitResult.new_count : 1;\n\nreturn [{\n  json: {\n    ...requestData,\n    rate_limit_count: newCount,\n    rate_limit_allowed: newCount > 0\n  }\n}];"
      },
      "id": "b7411908-edd6-4f01-8f0e-7ee7c3894470",
      "name": "Merge Rate Limit Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "rate-ok",
              "leftValue": "={{ $json.rate_limit_allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7878f15-62d6-4389-88c2-9fcf9369a747",
      "name": "IF Rate Limit OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1840,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rate_limits (ip_address, endpoint, request_count, window_start, created_at)\nVALUES (\n  '{{ $json.client_ip }}',\n  'verify-license',\n  1,\n  NOW(),\n  NOW()\n)\nON CONFLICT (ip_address, endpoint) \nDO UPDATE SET\n  request_count = CASE \n    WHEN rate_limits.window_start < NOW() - INTERVAL '1 minute' THEN 1\n    ELSE rate_limits.request_count + 1\n  END,\n  window_start = CASE \n    WHEN rate_limits.window_start < NOW() - INTERVAL '1 minute' THEN NOW()\n    ELSE rate_limits.window_start\n  END\nRETURNING ip_address, request_count, window_start;",
        "options": {}
      },
      "id": "e4470f2b-c16e-4049-8a8f-4a287f211208",
      "name": "Update Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1600,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Восстанавливаем данные после Update Rate Limit\nconst requestData = $('Merge Rate Limit Data').item.json;\n\nreturn [{\n  json: {\n    license_key: requestData.license_key,\n    client_ip: requestData.client_ip,\n    domain: requestData.domain,\n    timestamp: requestData.timestamp\n  }\n}];"
      },
      "id": "1bd83828-0fe3-436f-b33c-5a78ef9e6e84",
      "name": "Restore Request Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  client_id,\n  name,\n  email,\n  license_key,\n  status,\n  allowed_domains,\n  features,\n  expires_at,\n  CASE \n    WHEN status != 'active' THEN 'inactive'\n    WHEN expires_at IS NOT NULL AND expires_at < NOW() THEN 'expired'\n    ELSE 'valid'\n  END as license_status\nFROM clients\nWHERE license_key = '{{ $json.license_key }}';",
        "options": {}
      },
      "id": "9d4dab8f-a821-4ba3-964e-17b691a2adb6",
      "name": "Verify License in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1120,
        -48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Объединяем данные лицензии с данными запроса\nconst requestData = $('Restore Request Data').item.json;\nconst licenseData = $input.item.json;\n\n// Если лицензия не найдена (пустой объект или нет license_key)\nif (!licenseData || !licenseData.license_key) {\n  return [{\n    json: {\n      ...requestData,\n      license_status: 'not_found',\n      valid: false\n    }\n  }];\n}\n\n// Если лицензия найдена\nreturn [{\n  json: {\n    ...requestData,\n    ...licenseData\n  }\n}];"
      },
      "id": "33ebe4cf-dd87-4222-acc8-511059144c4c",
      "name": "Merge License Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "license-valid",
              "leftValue": "={{ $json.license_status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a14502eb-b1c4-4b37-9801-d1df2804bb3d",
      "name": "IF License Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Проверка домена\nconst licenseData = $input.item.json;\nconst requestDomain = licenseData.domain;\nconst allowedDomains = licenseData.allowed_domains || [];\n\n// Если домен в запросе не указан - отклоняем\nif (!requestDomain) {\n  return [{\n    json: {\n      ...licenseData,\n      domain_allowed: false,\n      error: 'Domain is required in request'\n    }\n  }];\n}\n\n// КРИТИЧНО: Если список разрешенных доменов ПУСТОЙ - отклоняем\nif (allowedDomains.length === 0) {\n  return [{\n    json: {\n      ...licenseData,\n      domain_allowed: false,\n      error: 'No domains configured for this license. Add domains in Client Dashboard.'\n    }\n  }];\n}\n\n// Проверяем домен в списке разрешенных\nconst domainAllowed = allowedDomains.some(allowed => {\n  // Точное совпадение\n  if (requestDomain === allowed) return true;\n  \n  // Поддомен (example.com разрешает app.example.com)\n  if (requestDomain.endsWith('.' + allowed)) return true;\n  \n  return false;\n});\n\nreturn [{\n  json: {\n    ...licenseData,\n    domain_allowed: domainAllowed,\n    checked_domain: requestDomain,\n    allowed_list: allowedDomains,\n    error: domainAllowed ? null : `Domain '${requestDomain}' is not in allowed list`\n  }\n}];"
      },
      "id": "4efff621-d5e8-42d2-a474-b4b92b69ffb6",
      "name": "Check Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "domain-ok",
              "leftValue": "={{ $json.domain_allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b6f4d144-5abd-493a-9c22-23b8b8ac1d9b",
      "name": "IF Domain OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  valid: true,\n  license_status: 'active',\n  client_id: $json.client_id,\n  features: $json.features,\n  expires_at: $json.expires_at,\n  message: 'License is valid'\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "83ebf0e4-bd5f-4b77-9f4e-60a1c37f5fcd",
      "name": "Response - Valid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        -208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  valid: false,\n  error: $json.error || 'Domain not allowed',\n  message: $json.error || ('Domain not allowed. Allowed domains: ' + JSON.stringify($json.allowed_domains)),\n  request_domain: $json.checked_domain || $json.domain,\n  allowed_domains: $json.allowed_list || $json.allowed_domains\n}) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "5971b447-5b3a-48b8-ab8e-d9da918f5d6b",
      "name": "Response - Domain Denied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  valid: false,\n  license_status: $json.license_status,\n  message: $json.license_status === 'inactive' ? 'License is inactive' : $json.license_status === 'expired' ? 'License has expired' : 'License not found'\n}) }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "624ab938-2aa7-4c3e-8d45-2678afdd19b9",
      "name": "Response - Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -400,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  valid: false,\n  message: 'Rate limit exceeded. Maximum 100 requests per minute.',\n  retry_after: 60\n}) }}",
        "options": {
          "responseCode": 429,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Retry-After",
                "value": "60"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c235a69b-2b5e-438a-8e82-31be44a5d856",
      "name": "Response - Rate Limit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1600,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Verify License": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "Check Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit": {
      "main": [
        [
          {
            "node": "Merge Rate Limit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Rate Limit Data": {
      "main": [
        [
          {
            "node": "IF Rate Limit OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Rate Limit OK": {
      "main": [
        [
          {
            "node": "Update Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rate Limit": {
      "main": [
        [
          {
            "node": "Restore Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Request Data": {
      "main": [
        [
          {
            "node": "Verify License in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify License in DB": {
      "main": [
        [
          {
            "node": "Merge License Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge License Data": {
      "main": [
        [
          {
            "node": "IF License Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF License Valid": {
      "main": [
        [
          {
            "node": "Check Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Domain": {
      "main": [
        [
          {
            "node": "IF Domain OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Domain OK": {
      "main": [
        [
          {
            "node": "Response - Valid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Domain Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4cc02d5c-1f88-4372-82c7-dc6038705e0b",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "Tpo2iKzVLd03z3oq",
  "tags": []
}