MAIN/Система защиты (лицензирования)/Reset Client Password API.json
{
  "name": "Reset Client Password API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/reset-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ace03927-5876-4faa-9a16-c50f912dca97",
      "name": "Webhook - Reset Password",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        -48
      ],
      "webhookId": "reset-password-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Получение client_id из запроса\nconst body = $input.item.json.body;\nconst clientId = body.client_id;\n\nif (!clientId) {\n  return [{\n    json: {\n      error: true,\n      message: 'client_id is required'\n    }\n  }];\n}\n\n// Генерация нового пароля БЕЗ crypto модуля\nconst generatePassword = () => {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnpqrstuvwxyz23456789!@#$%';\n  let password = '';\n  for (let i = 0; i < 16; i++) {\n    password += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return password;\n};\n\nconst newPassword = generatePassword();\n\nreturn [{\n  json: {\n    client_id: clientId,\n    new_password: newPassword\n  }\n}];"
      },
      "id": "64581763-1646-40d7-b0a5-b58e584eed29",
      "name": "Generate New Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE clients \nSET \n  password_hash = crypt('{{ $json.new_password }}', gen_salt('bf')),\n  updated_at = NOW()\nWHERE client_id = '{{ $json.client_id }}'\nRETURNING client_id, name, email;",
        "options": {}
      },
      "id": "73bf517d-2a6d-4415-a358-12b6783991f7",
      "name": "Update Password in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Password reset successfully',\n  client_id: $json.client_id,\n  name: $json.name,\n  email: $json.email,\n  new_password: $('Generate New Password').item.json.new_password,\n  note: 'Share this password with the client - it will not be shown again!'\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "22b8d906-d4d4-4e37-971a-f0f59eac64d2",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: false,\n  error: $json.message || 'Password reset failed'\n}) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "70fd386e-769b-49cd-8cf0-2106ff175bb9",
      "name": "Response - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        64,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Reset Password": {
      "main": [
        [
          {
            "node": "Generate New Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate New Password": {
      "main": [
        [
          {
            "node": "Update Password in DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Password in DB": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad5754ec-d54b-44b2-a0a4-c11cd96c9a83",
  "meta": {
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "qCu7zgYlBxqdHIme",
  "tags": []
}