MAIN/ИИ агент/Facebook Messenger Adapter.json
{
  "name": "Facebook Messenger Adapter",
  "nodes": [
    {
      "parameters": {
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1232,
        -352
      ],
      "id": "c62cc590-38a2-419d-9f0f-0d082f55c8c0",
      "name": "Facebook Webhook",
      "webhookId": "facebook-messenger-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse Facebook Messenger webhook data\nconst body = items[0].json.body;\nlet parsedData;\n\ntry {\n  parsedData = typeof body === 'string' ? JSON.parse(body) : body;\n} catch (error) {\n  console.error('Failed to parse webhook data:', error);\n  return [{json: {error: 'Invalid webhook data'}}];\n}\n\n// Handle webhook verification\nif (items[0].json.query?.['hub.mode'] === 'subscribe') {\n  const verifyToken = items[0].json.query?.['hub.verify_token'];\n  const challenge = items[0].json.query?.['hub.challenge'];\n  \n  console.log('Verification attempt:');\n  console.log('Token received:', verifyToken);\n  console.log('Token expected:', 'fb_verify_token_2024');\n  console.log('Challenge:', challenge);\n  \n  // Проверяем токен напрямую со строкой\n  if (verifyToken === 'fb_verify_token_2024') {\n    console.log('Token matched! Returning challenge:', challenge);\n    return [{json: {verification: true, challenge: challenge}}];\n  }\n  \n  console.log('Token mismatch!');\n  return [{json: {verification: false}}];\n}\n\n// Extract message data from Facebook webhook\nconst entry = parsedData.entry?.[0];\nconst messaging = entry?.messaging?.[0];\n\nif (!messaging) {\n  console.log('No messaging data found');\n  return [{json: {skip: true}}];\n}\n\n// Format Facebook data to common structure\nconst formattedData = {\n  message: {\n    id: messaging.message?.mid || messaging.postback?.mid,\n    from: {\n      id: messaging.sender?.id,\n      name: 'Facebook User'\n    },\n    chat: {\n      id: messaging.sender?.id,\n      type: 'private'\n    },\n    text: messaging.message?.text || messaging.postback?.payload || '',\n    timestamp: messaging.timestamp\n  },\n  platform: 'facebook',\n  page_id: messaging.recipient?.id,\n  raw: parsedData\n};\n\n// Handle attachments\nif (messaging.message?.attachments) {\n  const attachment = messaging.message.attachments[0];\n  if (attachment.type === 'audio') {\n    formattedData.message.voice = {\n      file_url: attachment.payload?.url\n    };\n  } else if (attachment.type === 'image') {\n    formattedData.message.photo = {\n      file_url: attachment.payload?.url\n    };\n  }\n}\n\n// Handle quick replies\nif (messaging.message?.quick_reply) {\n  formattedData.quick_reply = messaging.message.quick_reply.payload;\n}\n\nreturn [{json: formattedData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -208
      ],
      "id": "499a69d8-f566-4f3a-9f6c-86fbba2d0999",
      "name": "Parse Facebook Data"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16,
        -448
      ],
      "id": "815515a6-9616-4257-9025-bbfc3e94a2b2",
      "name": "Webhook Verification"
    },
    {
      "parameters": {
        "url": "={{ $json.message.voice.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -592
      ],
      "id": "0f903944-8fae-4217-994d-6efd84c6013f",
      "name": "Download Voice"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        464,
        -592
      ],
      "id": "5d442fa0-1377-4a2d-9cf8-1830e579557e",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "vp6LDk9EYrV3plgd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Language Detection and User Info Extraction for Facebook\nconst input = $input.all();\nlet messageText = '';\nlet userId = '';\nlet pageId = '';\n\nconsole.log('=== FACEBOOK LANGUAGE DETECTION ===');\n\nif (input && input.length > 0) {\n  const item = input[0].json;\n  \n  if (item.message) {\n    messageText = item.message.text || '';\n    userId = item.message.from?.id || '';\n    pageId = item.page_id || '';\n  }\n  \n  // For transcribed voice\n  if (item.text && !messageText) {\n    messageText = item.text;\n  }\n}\n\n// Language detection function\nfunction detectLanguageFromText(text) {\n  if (!text || typeof text !== 'string' || text.length < 2) {\n    return 'en';\n  }\n  \n  const lowerText = text.toLowerCase().trim();\n  let scores = { 'en': 0, 'ru': 0 };\n  \n  const russianChars = /[а-яё]/g;\n  const russianMatches = lowerText.match(russianChars);\n  if (russianMatches) {\n    scores.ru += russianMatches.length * 3;\n  }\n  \n  const onlyLatin = /^[a-z\\s\\.,!?'\"]+$/;\n  if (onlyLatin.test(lowerText)) {\n    scores.en += 5;\n  }\n  \n  const commonRussianWords = [\n    'привет', 'пока', 'да', 'нет', 'хорошо', 'спасибо',\n    'что', 'где', 'когда', 'как', 'почему', 'кто'\n  ];\n  \n  const commonEnglishWords = [\n    'hello', 'hi', 'yes', 'no', 'ok', 'thanks',\n    'the', 'and', 'or', 'but', 'in', 'on', 'at'\n  ];\n  \n  const words = lowerText.split(/\\s+/);\n  words.forEach(word => {\n    const cleanWord = word.replace(/[.,!?'\"]/g, '');\n    if (commonEnglishWords.includes(cleanWord)) scores.en += 10;\n    if (commonRussianWords.includes(cleanWord)) scores.ru += 10;\n  });\n  \n  return scores.ru > scores.en ? 'ru' : 'en';\n}\n\nconst detectedLanguage = detectLanguageFromText(messageText);\n\nconsole.log('Detected language:', detectedLanguage);\n\n// Extract contact info\nconst contactData = {\n  session_id: userId,\n  platform: 'facebook',\n  platform_user_id: userId,\n  platform_metadata: { page_id: pageId },\n  extracted_from: 'facebook_profile',\n  confidence_score: 60\n};\n\nreturn input.map(item => ({\n  json: {\n    ...item.json,\n    detected_language: detectedLanguage,\n    original_text: messageText,\n    text: messageText,\n    contact_data: contactData,\n    session_id: userId,\n    detection_timestamp: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -128
      ],
      "id": "7ad3729b-bf17-47e3-951c-da1bd34b1433",
      "name": "Language Detection"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.message.from.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "first_name,last_name,locale,timezone,gender"
            },
            {
              "name": "access_token",
              "value": "=EAAZAtONZApCwoBPa5p7sH6BTvfe4FswROGE7o9dfM20OtIFD1clChU2OftMVMiQGYowrKKZCYc8ZCied44JHkZCku2PYdNQmH0gGgltdAwwyumWv0PMjB9h0b4A115tAdZBM0ZAwQ9nr1PXkV4Pdc5rHbysVV2ibd2jX6zWdva11GlrPCaDThJbkf1CEb7QvrNXjxomRafxywZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -272
      ],
      "id": "2adea6d8-36bd-42b3-a0f4-674f213c5867",
      "name": "Get User Profile",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract and save Facebook profile\nconst profileData = items[0].json;\nconst languageData = $('Language Detection').item.json;\n\nif (!profileData || profileData.error) {\n  console.log('No profile data available');\n  return [{json: languageData.contact_data}];\n}\n\n// Enrich contact data with profile info\nconst enrichedContact = {\n  ...languageData.contact_data,\n  session_id: `facebook_${languageData.contact_data.platform_user_id}`, // Добавляем префикс\n  platform_first_name: profileData.first_name || null,\n  platform_last_name: profileData.last_name || null,\n  platform_full_name: profileData.first_name && profileData.last_name ? \n                      `${profileData.first_name} ${profileData.last_name}` : \n                      profileData.first_name || null,\n  profile_pic: profileData.profile_pic || null\n};\n\nreturn [{json: enrichedContact}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -272
      ],
      "id": "e6a1fc1a-dc0c-4ac0-945a-59c197f0e112",
      "name": "Process Profile"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Save Facebook Profile\nINSERT INTO user_contact_data (\n    session_id,\n    platform,\n    platform_user_id,\n    platform_first_name,\n    platform_last_name,\n    full_name,\n    platform_metadata,\n    extracted_from,\n    confidence_score,\n    last_updated\n) VALUES (\n    '{{ $json.session_id }}',\n    '{{ $json.platform }}',\n    '{{ $json.platform_user_id }}',\n    {{ $json.platform_first_name ? \"'\" + $json.platform_first_name + \"'\" : 'NULL' }},\n    {{ $json.platform_last_name ? \"'\" + $json.platform_last_name + \"'\" : 'NULL' }},\n    {{ $json.platform_full_name ? \"'\" + $json.platform_full_name + \"'\" : 'NULL' }},\n    {{ $json.platform_metadata ? \"'\" + JSON.stringify($json.platform_metadata) + \"'::jsonb\" : 'NULL' }},\n    '{{ $json.extracted_from }}',\n    {{ $json.confidence_score }},\n    CURRENT_TIMESTAMP\n)\nON CONFLICT (session_id)\nDO UPDATE SET\n    -- Платформенные данные всегда обновляем\n    platform_metadata = EXCLUDED.platform_metadata,\n    \n    -- Имена: заполняем если пусто ИЛИ обновляем если confidence выше\n    platform_first_name = CASE\n        WHEN user_contact_data.platform_first_name IS NULL \n        THEN EXCLUDED.platform_first_name\n        WHEN EXCLUDED.confidence_score >= user_contact_data.confidence_score \n        THEN COALESCE(EXCLUDED.platform_first_name, user_contact_data.platform_first_name)\n        ELSE user_contact_data.platform_first_name\n    END,\n    \n    platform_last_name = CASE\n        WHEN user_contact_data.platform_last_name IS NULL \n        THEN EXCLUDED.platform_last_name\n        WHEN EXCLUDED.confidence_score >= user_contact_data.confidence_score \n        THEN COALESCE(EXCLUDED.platform_last_name, user_contact_data.platform_last_name)\n        ELSE user_contact_data.platform_last_name\n    END,\n    \n    full_name = CASE\n        WHEN user_contact_data.full_name IS NULL \n        THEN EXCLUDED.full_name\n        WHEN EXCLUDED.confidence_score >= user_contact_data.confidence_score \n        THEN COALESCE(EXCLUDED.full_name, user_contact_data.full_name)\n        ELSE user_contact_data.full_name\n    END,\n    \n    -- Сохраняем максимальный confidence_score\n    confidence_score = GREATEST(user_contact_data.confidence_score, EXCLUDED.confidence_score),\n    last_updated = CURRENT_TIMESTAMP\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        -272
      ],
      "id": "a1f8e14f-cb34-4722-8a9a-a414cb7002a7",
      "name": "Save FB Profile",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ai-core-api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "24fs-$r4d-defd-77ds-7eds"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"facebook\",\n  \"message_text\": {{ JSON.stringify($json.text || 'test message') }},\n  \"user_id\": {{ JSON.stringify($json.message.from.id || 'unknown') }},\n  \"user_name\": {{ JSON.stringify($json.message.from.name || 'Facebook User') }},\n  \"chat_id\": {{ JSON.stringify($json.session_id) }},\n  \"language\": {{ JSON.stringify($json.detected_language || 'en') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -112
      ],
      "id": "28d570df-5052-45fc-b68c-d68ae70dc09c",
      "name": "Send to AI Core",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Response Handler for Facebook\nconst input = $input.all();\nconst coreResponse = input[0];\nconst languageData = $('Language Detection').item.json;\nconst userId = languageData.message?.from?.id || '';\n\nlet responseData = {};\n\nif (coreResponse.binary && coreResponse.binary.data) {\n  // Voice response - convert to text for Facebook\n  responseData = {\n    json: {\n      user_id: userId,\n      response_text: \"🎤 [Голосовое сообщение получено]\",\n      is_voice: false\n    }\n  };\n} else if (coreResponse.json) {\n  let responseText = coreResponse.json.response_text || \n                     coreResponse.json.response || \n                     coreResponse.json.text || \n                     'Error: No response';\n  \n  // Очистка HTML тегов и форматирования\n  responseText = responseText\n    .replace(/<b>/g, '') // убираем жирный текст\n    .replace(/<\\/b>/g, '')\n    .replace(/<br>/g, '\\n')\n    .replace(/<[^>]*>/g, '') // удаляет все остальные HTML теги\n    .replace(/\\[Name\\],?\\s*/g, '')\n    .replace(/\\[Имя\\],?\\s*/g, '')\n    .replace(/\\n\\n+/g, '\\n') // заменяем множественные переносы на одинарные\n    .replace(/\\n\\s*\\n/g, '\\n') // убираем пустые строки с пробелами\n    .replace(/\\*\\s+/g, '• ') // заменяем * на точки для списков\n    .replace(/\\n•/g, '\\n• ') // нормализуем списки\n    .trim();\n  \n  responseData = {\n    json: {\n      user_id: userId,\n      response_text: responseText,\n      is_voice: false\n    }\n  };\n}\n\nreturn [responseData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -112
      ],
      "id": "06609bb4-3288-4d35-a57c-aa47d6a80a9b",
      "name": "Response Handler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "=EAAZAtONZApCwoBPa5p7sH6BTvfe4FswROGE7o9dfM20OtIFD1clChU2OftMVMiQGYowrKKZCYc8ZCied44JHkZCku2PYdNQmH0gGgltdAwwyumWv0PMjB9h0b4A115tAdZBM0ZAwQ9nr1PXkV4Pdc5rHbysVV2ibd2jX6zWdva11GlrPCaDThJbkf1CEb7QvrNXjxomRafxywZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": {{ JSON.stringify($json.user_id) }}\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.response_text) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -112
      ],
      "id": "2efdf6b3-9d90-43c3-ad09-40a17194c38b",
      "name": "Send Text Reply"
    },
    {
      "parameters": {
        "jsCode": "// Monitoring data for Facebook Messenger\nconst fbData = items[0].json;\nconst from = fbData.message?.from || {};\n\nconst monitoringData = {\n  sessionId: `facebook_${from.id || 'unknown'}`,\n  userId: from.id || 'unknown',\n  userName: from.name || 'Facebook User',\n  configName: 'defaultConfig',\n  platform: 'facebook',\n  sessionDuration: 0,\n  eventType: 'message',\n  messageCount: 1,\n  messageType: fbData.message?.voice ? 'voice' : (fbData.message?.photo ? 'photo' : 'text'),\n  currentLanguage: 'en',\n  isMinimized: false,\n  userAgent: 'Facebook Messenger',\n  screenResolution: '',\n  language: 'unknown',\n  timezone: '',\n  referrer: '',\n  currentUrl: '',\n  domain: 'facebook.com',\n  geo: {\n    ip: 'Facebook',\n    country: 'Unknown',\n    city: 'Unknown',\n    region: 'Unknown',\n    latitude: null,\n    longitude: null\n  }\n};\n\nconsole.log('Monitoring data prepared:', monitoringData);\n\nreturn [{json: monitoringData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -400
      ],
      "id": "993cb931-61ef-48bd-adcb-b3fed6f7f5ce",
      "name": "Monitoring Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.cryptomator.pro/webhook/chat-monitoring",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        -400
      ],
      "id": "a50d368a-9176-4cba-ba22-53eccc7e7bb2",
      "name": "Send Monitoring"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        -112
      ],
      "id": "3852f7cd-fd1b-4595-ab0f-3427f34123d6",
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1232,
        -208
      ],
      "id": "fe614c38-18bc-4818-9174-b059524d9c18",
      "name": "Facebook Webhook POST",
      "webhookId": "facebook-messenger-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.verification }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "85b9a29e-5859-42a3-9f3b-1a0034740c3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Verification"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e3f174a-fc1c-4f51-8659-b664c29773af",
                    "leftValue": "={{ $json.skip }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0a31191a-36de-456c-aec7-e2bb38d422cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "176a984a-05b7-4ddf-91a2-2e56d1c96258",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -144,
        -208
      ],
      "id": "96dac058-1578-4bf8-aecb-1abefe1008f4",
      "name": "Message Switch"
    },
    {
      "parameters": {
        "jsCode": "// Check Manager Mode\nconst input = $input.all();\nconst data = input[0].json;\n\n// Извлекаем данные\nconst userId = data.message?.from?.id || '';\nconst pageId = data.page_id || '';\nconst messageText = data.message?.text || '';\n\n// Проверяем, не от страницы ли сообщение (менеджер)\nif (userId === pageId) {\n  return [{\n    json: {\n      ...data,\n      skip: true,\n      skip_reason: 'Message from page/manager',\n      is_manager_message: true\n    }\n  }];\n}\n\n// Проверяем команды менеджера\nif (messageText && messageText.toLowerCase() === '/bot off') {\n  // Менеджер хочет взять управление\n  return [{\n    json: {\n      ...data,\n      skip: true,\n      skip_reason: 'Manager takeover command',\n      manager_takeover: true,\n      notification: 'Бот отключен. Менеджер взял управление чатом.'\n    }\n  }];\n}\n\nif (messageText && messageText.toLowerCase() === '/bot on') {\n  // Менеджер возвращает управление боту\n  return [{\n    json: {\n      ...data,\n      skip: false,\n      manager_release: true,\n      notification: 'Бот включен. AI снова отвечает на сообщения.'\n    }\n  }];\n}\n\n// Обычное сообщение от пользователя\nreturn [{\n  json: {\n    ...data,\n    skip: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -208
      ],
      "id": "556d5a92-1b6f-4c21-9344-5f40316bceff",
      "name": "Check Manager Mode"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Handle manager commands or check status\nINSERT INTO chat_status (session_id, manager_mode, activated_at, last_manager_message)\nVALUES (\n  'facebook_{{ $json.message.from.id }}',\n  {{ $json.manager_takeover ? 'true' : 'false' }},\n  CURRENT_TIMESTAMP,\n  CURRENT_TIMESTAMP\n)\nON CONFLICT (session_id) \nDO UPDATE SET \n  manager_mode = \n    CASE \n      WHEN {{ $json.manager_takeover ? 'true' : 'false' }} THEN true\n      WHEN {{ $json.manager_release ? 'true' : 'false' }} THEN false\n      ELSE chat_status.manager_mode\n    END,\n  last_manager_message = CURRENT_TIMESTAMP\nRETURNING manager_mode;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        -208
      ],
      "id": "96e0924a-86fc-46d8-a8ae-fa6407fb1218",
      "name": "Update Manager Status",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process Manager Status - FIXED VERSION\nconst inputs = $input.all();\nconst checkData = $('Check Manager Mode').all()[0].json;\nconst pgData = inputs[0]?.json;\n\n// Если была команда takeover или release\nif (checkData.manager_takeover || checkData.manager_release) {\n  return [{\n    json: {\n      ...checkData,\n      skip: true,\n      skip_reason: 'Manager command processed'\n    }\n  }];\n}\n\n// ВАЖНО: manager_mode находится прямо в pgData, а не в pgData[0]\nconst managerMode = pgData?.manager_mode;\n\nif (managerMode === true || managerMode === 'true' || managerMode === 't') {\n  return [{\n    json: {\n      ...checkData,\n      skip: true,\n      skip_reason: 'Manager mode is active'\n    }\n  }];\n}\n\n// Менеджер не активен\nreturn [{\n  json: {\n    ...checkData,\n    skip: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -208
      ],
      "id": "113ee641-a8d3-45e6-b470-e9ee7b360d9b",
      "name": "Process Manager Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAZAtONZApCwoBPa5p7sH6BTvfe4FswROGE7o9dfM20OtIFD1clChU2OftMVMiQGYowrKKZCYc8ZCied44JHkZCku2PYdNQmH0gGgltdAwwyumWv0PMjB9h0b4A115tAdZBM0ZAwQ9nr1PXkV4Pdc5rHbysVV2ibd2jX6zWdva11GlrPCaDThJbkf1CEb7QvrNXjxomRafxywZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.message.from.id }}\"\n  },\n  \"sender_action\": \"typing_on\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -480
      ],
      "id": "19ba914f-656c-43bb-8b10-1f29ca9458e9",
      "name": "Send Typing After Language",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        432,
        -304
      ],
      "id": "876812f1-f64e-4196-94eb-c785e633a48c",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Изменяем MIME type с video/mp4 на audio/mp4\nconst input = items[0];\nconst binary = input.binary?.data;\n\nif (!binary) {\n  throw new Error('No binary data');\n}\n\n// Создаем новый объект с измененным MIME type\nconst modifiedBinary = {\n  ...binary,\n  mimeType: 'audio/mp4',  // Меняем с video/mp4 на audio/mp4\n  fileExtension: 'mp4'\n};\n\nreturn [{\n  json: input.json,\n  binary: {\n    data: modifiedBinary\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -304
      ],
      "id": "e0c197a6-b0fd-4ed2-9b41-51fc83e60c96",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Объединяем транскрибированный текст с оригинальными данными\nconst transcription = items[0].json;\nconst originalData = $('Message Switch').item.json;\n\n// Извлекаем текст из ответа Gemini\nlet transcribedText = '';\nif (transcription.content?.parts?.[0]?.text) {\n  transcribedText = transcription.content.parts[0].text;\n} else if (transcription[0]?.content?.parts?.[0]?.text) {\n  transcribedText = transcription[0].content.parts[0].text;\n} else if (typeof transcription === 'string') {\n  transcribedText = transcription;\n}\n\n// Очищаем текст от лишних символов\ntranscribedText = transcribedText\n  .replace(/\\[buzzer\\]/g, '')\n  .replace(/\\n+/g, ' ')\n  .trim();\n\nconsole.log('Transcribed text:', transcribedText);\n\n// Возвращаем полные данные для Language Detection\nreturn [{\n  json: {\n    ...originalData,\n    message: {\n      ...originalData.message,\n      text: transcribedText,  // Добавляем транскрибированный текст\n      original_voice: originalData.message.voice,  // Сохраняем оригинальные voice данные\n      transcribed: true\n    },\n    text: transcribedText,  // Дублируем для совместимости\n    transcribed_from_voice: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -304
      ],
      "id": "f6758bee-f7ef-4468-8a7a-c2ab9e258b70",
      "name": "Merge Transcription Data"
    },
    {
      "parameters": {
        "url": "={{ $json.message.voice.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -304
      ],
      "id": "e1c3dfe8-1555-47a4-8d6e-4967905a7484",
      "name": "Download Voice1"
    },
    {
      "parameters": {
        "path": "manager-toggle",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f443e282-7869-4998-83e3-83676e4a553e",
      "name": "Toggle Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1216,
        48
      ],
      "webhookId": "34243404-1581-4066-a88e-82f0dac1811d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, manager_mode: $json[0].manager_mode}) }}",
        "options": {}
      },
      "id": "8b869b50-9ec3-43cf-a20a-6428d3c53f42",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -816,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_status (session_id, manager_mode, activated_at, last_manager_message)\nVALUES (\n    '{{ $json.body.session_id }}',\n    {{ $json.body.manager_mode }},\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n)\nON CONFLICT (session_id) \nDO UPDATE SET \n    manager_mode = {{ $json.body.manager_mode }},\n    last_manager_message = CASE \n        WHEN {{ $json.body.manager_mode }} = true \n        THEN CURRENT_TIMESTAMP \n        ELSE chat_status.last_manager_message \n    END\nRETURNING *;",
        "options": {}
      },
      "id": "3da2c7dd-fd27-4786-a17c-2ce76cd42498",
      "name": "Update Manager Status1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1024,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Facebook Webhook": {
      "main": [
        [
          {
            "node": "Parse Facebook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Facebook Data": {
      "main": [
        [
          {
            "node": "Monitoring Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Manager Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        []
      ]
    },
    "Language Detection": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to AI Core",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Typing After Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Process Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Profile": {
      "main": [
        [
          {
            "node": "Save FB Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AI Core": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Handler": {
      "main": [
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Reply": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitoring Data": {
      "main": [
        [
          {
            "node": "Send Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Webhook POST": {
      "main": [
        [
          {
            "node": "Parse Facebook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Switch": {
      "main": [
        [
          {
            "node": "Webhook Verification",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Download Voice1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Language Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Manager Mode": {
      "main": [
        [
          {
            "node": "Update Manager Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Manager Status": {
      "main": [
        [
          {
            "node": "Process Manager Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Manager Status": {
      "main": [
        [
          {
            "node": "Message Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge Transcription Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Transcription Data": {
      "main": [
        [
          {
            "node": "Language Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Webhook": {
      "main": [
        [
          {
            "node": "Update Manager Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Manager Status1": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2eb680d0-27f0-4abd-a0d8-80846c86db17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "dmtJaOg9TNq03VWb",
  "tags": []
}