PRODUCTION/RU/📊 Monitoring [Production RU].json
{
  "name": "📊 Monitoring [Production RU]",
  "nodes": [
    {
      "parameters": {
        "content": "# 📊 МОНИТОРИНГ WEBCHAT\n\n\n\n## ⚙️ НАСТРОЙКА\n\n\n\n### 1️⃣ Настройте узлы «⚙️ CONFIG»\n\nКаждый процесс имеет свой CONFIG узел.\nОткройте и настройте параметры:\n\n\n\n**🔑 Авторизация:**\n\n• `api_key` — Ваш API ключ\n\n• `rate_limit_max` — Лимит запросов/мин\n\n\n\n**🗄️ Таблицы базы данных:**\n\n• `table_monitoring` — Таблица мониторинга\n\n• `table_chat_ru` — RU диалоги\n\n• `table_chat_en` — EN диалоги\n\n• `table_contacts` — Контакты\n\n\n\n**⏱️ Временные параметры:**\n\n• `active_interval_minutes` — Интервал активности\n\n• `data_retention_days` — Хранение данных\n\n\n\n---\n\n\n\n### 2️⃣ Подключите Credentials\n\n\n\n**PostgreSQL** → все узлы с иконкой 🐘\n\n\n\n---\n\n\n\n### 3️⃣ API Endpoints\n\n\n\n| Метод | Endpoint | Описание |\n|:-----:|----------|----------|\n| POST | `/chat-monitoring` | Сохранение |\n| GET | `/chat-monitoring-data` | Дашборд |\n| GET | `/chat-dialogs` | Диалоги |\n| GET | `/server-time` | Время |\n| GET | `/real-message-count` | Счётчик |\n| GET | `/get-contact-data` | Контакты |\n\n\n\n---\n\n\n\n### 4️⃣ Авторизация запросов\n\n\n\nПередайте API ключ одним из способов:\n\n• Header: `x-api-key: ВАШ_КЛЮЧ`\n\n• Query: `?apiKey=ВАШ_КЛЮЧ`\n\n• Body: `{\"apiKey\": \"ВАШ_КЛЮЧ\"}`\n\n\n\n---\n\n\n\n### 5️⃣ Активация\n\n\n\nНажмите **Active** ↗️ в правом верхнем углу",
        "height": 1180,
        "width": 380,
        "color": 6
      },
      "id": "sticky-instructions-ru",
      "name": "📋 ИНСТРУКЦИЯ",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        -700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-monitoring",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -288
      ],
      "id": "webhook-save-activity",
      "name": "🌐 Webhook: Save Activity",
      "webhookId": "eb90ca04-d6ee-45f7-aada-b9b996978901"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"YOUR-API-KEY-CHANGE-ME\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_monitoring\": \"webchat_monitoring\"\n}",
        "options": {}
      },
      "id": "config-save-activity",
      "name": "⚙️ CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -288
      ],
      "id": "security-check-1",
      "name": "🔐 Security Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -288
      ],
      "id": "auth-check-1",
      "name": "❓ Auth OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        -192
      ],
      "id": "error-response-1",
      "name": "❌ Error Response"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 EXTRACT MONITORING DATA\n// Извлечение и подготовка данных мониторинга\n// ═══════════════════════════════════════════════════════════════\n\nconst webhook = items[0].json;\nconst inputData = webhook.body || webhook;\n\n// Генерируем временные метки в момент получения данных\nconst currentTime = new Date();\nconst currentTimeISO = currentTime.toISOString();\n\n// Создаем объект для БД\nconst monitoringData = {\n    // Основные идентификаторы\n    recordId: `${inputData.sessionId}_${Date.now()}`,\n    recordTimestamp: currentTimeISO,\n    session_id: inputData.sessionId,\n    user_id: inputData.userId,\n    user_name: inputData.userName,\n    config_name: inputData.configName,\n    platform: inputData.platform,\n    \n    // Временные метки\n    timestamp: currentTimeISO,\n    session_start_time: currentTimeISO,\n    last_activity_time: currentTimeISO,\n    session_duration: inputData.sessionDuration || 0,\n    \n    // Данные о событии\n    event_type: inputData.eventType || 'activity',\n    message_count: inputData.messageCount || 0,\n    \n    // Данные о пользователе\n    current_language: inputData.currentLanguage || 'ru',\n    is_minimized: inputData.isMinimized || false,\n    user_agent: inputData.userAgent || '',\n    screen_resolution: inputData.screenResolution || '',\n    language: inputData.language || '',\n    timezone: inputData.timezone || '',\n    referrer: inputData.referrer || '',\n    current_url: inputData.currentUrl || '',\n    domain: inputData.domain || '',\n    \n    // Геоданные\n    geo_ip: inputData.geo?.ip || 'Unknown',\n    geo_country: inputData.geo?.country || 'Unknown',\n    geo_city: inputData.geo?.city || 'Unknown',\n    geo_region: inputData.geo?.region || 'Unknown',\n    geo_latitude: inputData.geo?.latitude || null,\n    geo_longitude: inputData.geo?.longitude || null\n};\n\nreturn [{json: monitoringData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        -368
      ],
      "id": "extract-monitoring-data",
      "name": "📊 Extract Monitoring Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 📊 Таблица: {{ $('⚙️ CONFIG').item.json.table_monitoring }}\n-- ═══════════════════════════════════════════════════════════════\n\nINSERT INTO {{ $('⚙️ CONFIG').item.json.table_monitoring }} (\n    record_id, record_timestamp, session_id, user_id, user_name,\n    config_name, platform, timestamp, session_start_time, \n    last_activity_time, session_duration, event_type, message_count,\n    current_language, is_minimized, user_agent, screen_resolution,\n    language, timezone, referrer, current_url, domain,\n    geo_ip, geo_country, geo_city, geo_region, geo_latitude, geo_longitude\n)\nVALUES (\n    '{{ $json.recordId }}',\n    '{{ $json.recordTimestamp }}',\n    '{{ $json.session_id }}',\n    '{{ $json.user_id }}',\n    '{{ $json.user_name }}',\n    '{{ $json.config_name }}',\n    '{{ $json.platform }}',\n    '{{ $json.timestamp }}',\n    '{{ $json.session_start_time }}',\n    '{{ $json.last_activity_time }}',\n    {{ $json.session_duration }},\n    '{{ $json.event_type }}',\n    {{ $json.message_count }},\n    '{{ $json.current_language }}',\n    {{ $json.is_minimized }},\n    '{{ $json.user_agent }}',\n    '{{ $json.screen_resolution }}',\n    '{{ $json.language }}',\n    '{{ $json.timezone }}',\n    '{{ $json.referrer }}',\n    '{{ $json.current_url }}',\n    '{{ $json.domain }}',\n    '{{ $json.geo_ip }}',\n    '{{ $json.geo_country }}',\n    '{{ $json.geo_city }}',\n    '{{ $json.geo_region }}',\n    {{ $json.geo_latitude || 'NULL' }},\n    {{ $json.geo_longitude || 'NULL' }}\n)\nON CONFLICT (session_id) \nDO UPDATE SET\n    config_name = EXCLUDED.config_name,\n    platform = EXCLUDED.platform,\n    last_activity_time = EXCLUDED.last_activity_time,\n    session_duration = EXTRACT(EPOCH FROM (EXCLUDED.last_activity_time::timestamp - {{ $('⚙️ CONFIG').item.json.table_monitoring }}.session_start_time::timestamp))::integer,\n    message_count = {{ $('⚙️ CONFIG').item.json.table_monitoring }}.message_count,\n    current_language = EXCLUDED.current_language,\n    is_minimized = EXCLUDED.is_minimized,\n    geo_ip = EXCLUDED.geo_ip,\n    geo_country = EXCLUDED.geo_country,\n    geo_city = EXCLUDED.geo_city,\n    geo_region = EXCLUDED.geo_region,\n    geo_latitude = EXCLUDED.geo_latitude,\n    geo_longitude = EXCLUDED.geo_longitude,\n    event_type = EXCLUDED.event_type,\n    user_id = CASE \n        WHEN {{ $('⚙️ CONFIG').item.json.table_monitoring }}.user_id IS NULL OR {{ $('⚙️ CONFIG').item.json.table_monitoring }}.user_id = '' \n        THEN EXCLUDED.user_id \n        ELSE {{ $('⚙️ CONFIG').item.json.table_monitoring }}.user_id \n    END,\n    user_name = CASE \n        WHEN {{ $('⚙️ CONFIG').item.json.table_monitoring }}.user_name IS NULL OR {{ $('⚙️ CONFIG').item.json.table_monitoring }}.user_name = '' \n        THEN EXCLUDED.user_name \n        ELSE {{ $('⚙️ CONFIG').item.json.table_monitoring }}.user_name \n    END\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        -368
      ],
      "id": "save-to-monitoring",
      "name": "🐘 Save to Monitoring",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Data saved\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        760,
        -368
      ],
      "id": "success-response-1",
      "name": "✅ Success Response"
    },
    {
      "parameters": {
        "path": "chat-monitoring-data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        80
      ],
      "id": "webhook-get-data",
      "name": "🌐 Webhook: Get Data",
      "webhookId": "f5630924-169d-40d7-977a-7602530143f8"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"YOUR-API-KEY-CHANGE-ME\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_monitoring\": \"webchat_monitoring\",\n  \"table_chat_ru\": \"n8n_chat_histories_ru\",\n  \"table_chat_en\": \"n8n_chat_histories_en\",\n  \"active_interval_minutes\": 5,\n  \"data_retention_days\": 30\n}",
        "options": {}
      },
      "id": "config-get-data",
      "name": "⚙️ CONFIG 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG 2').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        80
      ],
      "id": "security-check-2",
      "name": "🔐 Security Check 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        80
      ],
      "id": "auth-check-2",
      "name": "❓ Auth OK? 2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        208
      ],
      "id": "error-response-2",
      "name": "❌ Error Response 2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 📊 Получение данных мониторинга для дашборда\n-- Таблицы: {{ $('⚙️ CONFIG 2').item.json.table_monitoring }},\n--          {{ $('⚙️ CONFIG 2').item.json.table_chat_ru }},\n--          {{ $('⚙️ CONFIG 2').item.json.table_chat_en }}\n-- ═══════════════════════════════════════════════════════════════\n\nWITH real_message_counts AS (\n    SELECT \n        session_id,\n        COUNT(*) as real_count,\n        array_agg(created_at ORDER BY created_at) as message_timestamps\n    FROM (\n        SELECT session_id, created_at FROM {{ $('⚙️ CONFIG 2').item.json.table_chat_ru }}\n        UNION ALL\n        SELECT session_id, created_at FROM {{ $('⚙️ CONFIG 2').item.json.table_chat_en }}\n    ) all_messages\n    GROUP BY session_id\n),\nsession_stats AS (\n    SELECT \n        wm.session_id,\n        MIN(wm.session_start_time) as session_start,\n        MAX(wm.last_activity_time) as last_activity,\n        EXTRACT(EPOCH FROM (MAX(wm.last_activity_time) - MIN(wm.session_start_time)))::integer as duration,\n        COALESCE(rmc.real_count, 0) as messages,\n        COALESCE(rmc.message_timestamps, ARRAY[]::timestamp[]) as message_timestamps,\n        FIRST_VALUE(wm.user_id) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as user_id,\n        FIRST_VALUE(wm.user_name) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as user_name,\n        FIRST_VALUE(wm.config_name) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as config_name,\n        FIRST_VALUE(wm.current_language) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as language,\n        FIRST_VALUE(wm.geo_ip) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as ip,\n        FIRST_VALUE(wm.geo_country) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as country,\n        FIRST_VALUE(wm.geo_city) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as city,\n        FIRST_VALUE(wm.user_agent) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as user_agent,\n        FIRST_VALUE(wm.referrer) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as referrer,\n        FIRST_VALUE(wm.domain) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as domain,\n        FIRST_VALUE(wm.platform) OVER (PARTITION BY wm.session_id ORDER BY wm.timestamp) as platform\n    FROM {{ $('⚙️ CONFIG 2').item.json.table_monitoring }} wm\n    LEFT JOIN real_message_counts rmc ON wm.session_id = rmc.session_id\n    WHERE wm.last_activity_time >= NOW() - INTERVAL '{{ $('⚙️ CONFIG 2').item.json.data_retention_days }} days'\n        AND wm.user_id IS NOT NULL \n        AND wm.user_id != ''\n        AND wm.user_id != 'undefined'\n    GROUP BY wm.session_id, wm.timestamp, wm.user_id, wm.user_name, wm.config_name, \n             wm.current_language, wm.geo_ip, wm.geo_country, wm.geo_city, wm.user_agent, \n             wm.referrer, wm.domain, wm.platform, rmc.real_count, rmc.message_timestamps\n)\nSELECT DISTINCT ON (session_id) \n    *,\n    CASE \n        WHEN last_activity > NOW() - INTERVAL '{{ $('⚙️ CONFIG 2').item.json.active_interval_minutes }} minutes' THEN 'active'\n        ELSE 'inactive'\n    END as status\nFROM session_stats\nORDER BY session_id, last_activity DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        360,
        32
      ],
      "id": "get-monitoring-data",
      "name": "🐘 Get Monitoring Data",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 FORMAT DATA FOR DASHBOARD\n// Форматирование данных для отображения в дашборде\n// ═══════════════════════════════════════════════════════════════\n\nconst formattedData = items.map(item => {\n    const data = item.json;\n    \n    // Преобразуем массив timestamps из PostgreSQL\n    let messageTimestamps = [];\n    if (data.message_timestamps) {\n        if (typeof data.message_timestamps === 'string') {\n            const timestampsStr = data.message_timestamps.replace(/[{}]/g, '');\n            if (timestampsStr) {\n                messageTimestamps = timestampsStr.split(',').map(ts => ts.trim());\n            }\n        } else if (Array.isArray(data.message_timestamps)) {\n            messageTimestamps = data.message_timestamps;\n        }\n    }\n    \n    return {\n        sessionId: data.session_id,\n        userId: data.user_id || 'unknown',\n        userName: data.user_name || 'Guest',\n        configName: data.config_name || 'unknown',\n        timestamp: data.last_activity,\n        sessionStartTime: data.session_start,\n        lastActivityTime: data.last_activity,\n        sessionDuration: parseInt(data.duration) || 0,\n        messageCount: parseInt(data.messages) || 0,\n        messageTimestamps: messageTimestamps,\n        currentLanguage: data.language || 'ru',\n        userAgent: data.user_agent || '',\n        referrer: data.referrer || '',\n        domain: data.domain || '',\n        platform: data.platform || 'webchat',\n        geo: {\n            ip: data.ip || 'unknown',\n            country: data.country || 'unknown',\n            city: data.city || 'unknown'\n        }\n    };\n});\n\nreturn [{\n    json: {\n        data: formattedData\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        32
      ],
      "id": "format-dashboard-data",
      "name": "📊 Format Dashboard Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        760,
        32
      ],
      "id": "response-data",
      "name": "✅ Response Data"
    },
    {
      "parameters": {
        "path": "chat-dialogs",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        440
      ],
      "id": "webhook-get-dialogs",
      "name": "🌐 Webhook: Get Dialogs",
      "webhookId": "b3b47b0c-151f-4415-b444-091d814e736e"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"YOUR-API-KEY-CHANGE-ME\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_chat_ru\": \"n8n_chat_histories_ru\",\n  \"table_chat_en\": \"n8n_chat_histories_en\"\n}",
        "options": {}
      },
      "id": "config-get-dialogs",
      "name": "⚙️ CONFIG 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG 3').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        440
      ],
      "id": "security-check-3",
      "name": "🔐 Security Check 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        440
      ],
      "id": "auth-check-3",
      "name": "❓ Auth OK? 3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        584
      ],
      "id": "error-response-3",
      "name": "❌ Error Response 3"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📝 EXTRACT SESSION ID\n// Получение session_id из параметров запроса\n// ═══════════════════════════════════════════════════════════════\n\nconst webhookData = items[0].json;\nconst sessionId = webhookData.query?.session_id;\n\nif (!sessionId) {\n    throw new Error('session_id parameter is required');\n}\n\nreturn [{\n    json: {\n        session_id: sessionId\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        424
      ],
      "id": "extract-session-id",
      "name": "📝 Extract Session ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 💬 Получение диалогов по session_id\n-- Таблицы: {{ $('⚙️ CONFIG 3').item.json.table_chat_ru }},\n--          {{ $('⚙️ CONFIG 3').item.json.table_chat_en }}\n-- ═══════════════════════════════════════════════════════════════\n\nWITH all_chats AS (\n    -- Русские диалоги\n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'ru' as language\n    FROM {{ $('⚙️ CONFIG 3').item.json.table_chat_ru }}\n    WHERE session_id = '{{ $json.session_id }}'\n\n    UNION ALL\n\n    -- Английские диалоги\n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'en' as language\n    FROM {{ $('⚙️ CONFIG 3').item.json.table_chat_en }}\n    WHERE session_id = '{{ $json.session_id }}'\n)\nSELECT * FROM all_chats\nORDER BY timestamp ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        424
      ],
      "id": "get-dialogs",
      "name": "🐘 Get Dialogs",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 💬 FORMAT DIALOGS\n// Форматирование диалогов для дашборда\n// ═══════════════════════════════════════════════════════════════\n\nif (!items || items.length === 0 || !items[0].json) {\n    return [{\n        json: {\n            dialogs: [],\n            message: \"Нет сообщений для этой сессии\"\n        }\n    }];\n}\n\nconst formattedDialogs = items.map(item => {\n    const data = item.json;\n    \n    const messageType = data.message_type === 'human' ? 'user' : 'bot';\n    \n    let messageText = data.content || '';\n    \n    try {\n        if (messageText.startsWith('{') || messageText.startsWith('[')) {\n            const parsed = JSON.parse(messageText);\n            messageText = parsed.text || parsed.message || messageText;\n        }\n    } catch (e) {\n        // Оставляем как есть\n    }\n    \n    const languageFlag = {\n        'ru': '🇷🇺',\n        'en': '🇬🇧',\n        'de': '🇩🇪',\n        'es': '🇪🇸',\n        'fr': '🇫🇷'\n    };\n    \n    const platformIcon = {\n        'web': '💻',\n        'webchat': '💬',\n        'telegram': '✈️',\n        'whatsapp': '💬',\n        'viber': '💜',\n        'facebook': '👤',\n        'instagram': '📷',\n        'vk': '🔵',\n        'slack': '🔷',\n        'discord': '🎮',\n        'mobile': '📲',\n        'api': '🔌',\n        'email': '📧',\n        'sms': '📨'\n    };\n    \n    return {\n        id: data.id,\n        session_id: data.session_id,\n        message_type: messageType,\n        message_text: messageText,\n        response_text: messageType === 'bot' ? messageText : '',\n        timestamp: data.timestamp,\n        language: data.language || 'unknown',\n        language_flag: languageFlag[data.language] || '🌐',\n        platform: data.platform || 'web',\n        platform_icon: platformIcon[data.platform] || '❓'\n    };\n});\n\nreturn [{json: {dialogs: formattedDialogs}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        424
      ],
      "id": "format-dialogs",
      "name": "💬 Format Dialogs"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        424
      ],
      "id": "response-dialogs",
      "name": "✅ Response Dialogs"
    },
    {
      "parameters": {
        "path": "server-time",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-server-time",
      "name": "🌐 Webhook: Server Time",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        800
      ],
      "webhookId": "80106ead-1754-441d-a2b5-bc238d1dab07"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"YOUR-API-KEY-CHANGE-ME\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60\n}",
        "options": {}
      },
      "id": "config-server-time",
      "name": "⚙️ CONFIG 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG 4').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        800
      ],
      "id": "security-check-4",
      "name": "🔐 Security Check 4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        800
      ],
      "id": "auth-check-4",
      "name": "❓ Auth OK? 4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        944
      ],
      "id": "error-response-4",
      "name": "❌ Error Response 4"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🕐 GET SERVER TIME\n// Возвращает текущее время сервера\n// ═══════════════════════════════════════════════════════════════\n\nconst serverTime = new Date();\n\nreturn [{\n    json: {\n        serverTime: serverTime.toISOString(),\n        serverTimestamp: serverTime.getTime(),\n        timezone: Intl.DateTimeFormat().resolvedOptions().timeZone || 'UTC'\n    }\n}];"
      },
      "id": "get-server-time",
      "name": "🕐 Get Server Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-time",
      "name": "✅ Response Time",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        784
      ]
    },
    {
      "parameters": {
        "path": "get-contact-data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-get-contacts",
      "name": "🌐 Webhook: Get Contacts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        1160
      ],
      "webhookId": "get-contact-data-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": \"YOUR-API-KEY-CHANGE-ME\",\n  \"rate_limit_window_ms\": 60000,\n  \"rate_limit_max\": 60,\n  \"table_contacts\": \"user_contact_data\",\n  \"table_monitoring\": \"webchat_monitoring\",\n  \"data_retention_days\": 30\n}",
        "options": {}
      },
      "id": "config-get-contacts",
      "name": "⚙️ CONFIG 5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔐 SECURITY CHECK: API KEY + RATE LIMITING\n// Настройки берутся из узла CONFIG\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('⚙️ CONFIG 5').item.json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max;\n\nconst inputData = $input.first().json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', details: `Limit: ${RATE_LIMIT_MAX_REQUESTS} requests per minute`, status: 429, retryAfter: Math.ceil((staticData.rateLimits[clientIP].firstRequest + RATE_LIMIT_WINDOW_MS - now) / 1000) } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        1160
      ],
      "id": "security-check-5",
      "name": "🔐 Security Check 5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        1160
      ],
      "id": "auth-check-5",
      "name": "❓ Auth OK? 5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        1320
      ],
      "id": "error-response-5",
      "name": "❌ Error Response 5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 👤 Получение контактных данных\n-- Таблицы: {{ $('⚙️ CONFIG 5').item.json.table_contacts }},\n--          {{ $('⚙️ CONFIG 5').item.json.table_monitoring }}\n-- ═══════════════════════════════════════════════════════════════\n\nSELECT \n    ucd.session_id,\n    ucd.full_name,\n    ucd.first_name,\n    ucd.last_name,\n    ucd.phone,\n    ucd.phone_raw,\n    ucd.email,\n    ucd.telegram,\n    ucd.whatsapp,\n    ucd.instagram,\n    ucd.other_contacts,\n    ucd.company,\n    ucd.position,\n    ucd.location,\n    ucd.preferred_contact,\n    ucd.confidence_score,\n    ucd.extracted_from,\n    ucd.last_updated\nFROM {{ $('⚙️ CONFIG 5').item.json.table_contacts }} ucd\nWHERE ucd.session_id IN (\n    SELECT DISTINCT session_id \n    FROM {{ $('⚙️ CONFIG 5').item.json.table_monitoring }} \n    WHERE last_activity_time >= NOW() - INTERVAL '{{ $('⚙️ CONFIG 5').item.json.data_retention_days }} days'\n);",
        "options": {}
      },
      "id": "get-contacts",
      "name": "🐘 Get Contacts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        360,
        1144
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 👤 FORMAT CONTACTS\n// Форматирование контактных данных\n// ═══════════════════════════════════════════════════════════════\n\nconst contacts = {};\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    let messengers = [];\n    \n    if (data.telegram) {\n        messengers.push(`TG: ${data.telegram}`);\n    }\n    \n    if (data.whatsapp) {\n        messengers.push(`WA: ${data.whatsapp}`);\n    }\n    \n    if (data.instagram) {\n        messengers.push(`IG: ${data.instagram}`);\n    }\n  \n    if (data.other_contacts) {\n        try {\n            const other = typeof data.other_contacts === 'string' \n                ? JSON.parse(data.other_contacts) \n                : data.other_contacts;\n            \n            Object.entries(other).forEach(([platform, contact]) => {\n                if (platform.startsWith('email') && data.email) {\n                    if (contact !== data.email) {\n                        messengers.push(`${platform}: ${contact}`);\n                    }\n                } else if (contact) {\n                    messengers.push(`${platform}: ${contact}`);\n                }\n            });\n        } catch (e) {\n            // Пропускаем ошибки парсинга\n        }\n    }\n    \n    contacts[data.session_id] = {\n        name: data.full_name || `${data.first_name || ''} ${data.last_name || ''}`.trim() || null,\n        firstName: data.first_name,\n        lastName: data.last_name,\n        phone: data.phone || data.phone_raw,\n        email: data.email,\n        messengers: messengers.join(', ') || null,\n        telegram: data.telegram,\n        whatsapp: data.whatsapp,\n        instagram: data.instagram,\n        company: data.company,\n        position: data.position,\n        location: data.location,\n        preferredContact: data.preferred_contact,\n        confidence: data.confidence_score,\n        extractedFrom: data.extracted_from,\n        lastUpdated: data.last_updated\n    };\n});\n\nreturn [{json: {contacts}}];"
      },
      "id": "format-contacts",
      "name": "👤 Format Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-contacts",
      "name": "✅ Response Contacts",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        1144
      ]
    },
    {
      "parameters": {
        "path": "real-message-count",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-message-count",
      "name": "🌐 Webhook: Message Count",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        1520
      ],
      "webhookId": "real-message-count-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"table_monitoring\": \"webchat_monitoring\",\n  \"table_chat_ru\": \"n8n_chat_histories_ru\",\n  \"table_chat_en\": \"n8n_chat_histories_en\"\n}",
        "options": {}
      },
      "id": "config-message-count",
      "name": "⚙️ CONFIG 6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ═══════════════════════════════════════════════════════════════\n-- 🔢 Получение реального количества сообщений\n-- Таблицы: {{ $('⚙️ CONFIG 6').item.json.table_monitoring }},\n--          {{ $('⚙️ CONFIG 6').item.json.table_chat_ru }},\n--          {{ $('⚙️ CONFIG 6').item.json.table_chat_en }}\n-- ═══════════════════════════════════════════════════════════════\n\nWITH message_counts AS (\n    SELECT \n        session_id,\n        COUNT(*) as real_messages\n    FROM (\n        SELECT session_id FROM {{ $('⚙️ CONFIG 6').item.json.table_chat_ru }}\n        UNION ALL\n        SELECT session_id FROM {{ $('⚙️ CONFIG 6').item.json.table_chat_en }}\n    ) all_messages\n    GROUP BY session_id\n)\nSELECT \n    wm.session_id,\n    COALESCE(mc.real_messages, 0) as message_count\nFROM {{ $('⚙️ CONFIG 6').item.json.table_monitoring }} wm\nLEFT JOIN message_counts mc ON wm.session_id = mc.session_id\nWHERE wm.session_id IN (\n    SELECT DISTINCT session_id \n    FROM {{ $('⚙️ CONFIG 6').item.json.table_monitoring }} \n    WHERE last_activity_time > NOW() - INTERVAL '24 hours'\n);",
        "options": {}
      },
      "id": "get-message-count",
      "name": "🐘 Get Message Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -40,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response-message-count",
      "name": "✅ Response Message Count",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        1520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🌐 Webhook: Save Activity": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG": {
      "main": [
        [
          {
            "node": "🔐 Security Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check": {
      "main": [
        [
          {
            "node": "❓ Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK?": {
      "main": [
        [
          {
            "node": "📊 Extract Monitoring Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Extract Monitoring Data": {
      "main": [
        [
          {
            "node": "🐘 Save to Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Save to Monitoring": {
      "main": [
        [
          {
            "node": "✅ Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Get Data": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG 2": {
      "main": [
        [
          {
            "node": "🔐 Security Check 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check 2": {
      "main": [
        [
          {
            "node": "❓ Auth OK? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK? 2": {
      "main": [
        [
          {
            "node": "🐘 Get Monitoring Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Monitoring Data": {
      "main": [
        [
          {
            "node": "📊 Format Dashboard Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Format Dashboard Data": {
      "main": [
        [
          {
            "node": "✅ Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Get Dialogs": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG 3": {
      "main": [
        [
          {
            "node": "🔐 Security Check 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check 3": {
      "main": [
        [
          {
            "node": "❓ Auth OK? 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK? 3": {
      "main": [
        [
          {
            "node": "📝 Extract Session ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Extract Session ID": {
      "main": [
        [
          {
            "node": "🐘 Get Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Dialogs": {
      "main": [
        [
          {
            "node": "💬 Format Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Format Dialogs": {
      "main": [
        [
          {
            "node": "✅ Response Dialogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Server Time": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG 4": {
      "main": [
        [
          {
            "node": "🔐 Security Check 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check 4": {
      "main": [
        [
          {
            "node": "❓ Auth OK? 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK? 4": {
      "main": [
        [
          {
            "node": "🕐 Get Server Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Get Server Time": {
      "main": [
        [
          {
            "node": "✅ Response Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Get Contacts": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG 5": {
      "main": [
        [
          {
            "node": "🔐 Security Check 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check 5": {
      "main": [
        [
          {
            "node": "❓ Auth OK? 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth OK? 5": {
      "main": [
        [
          {
            "node": "🐘 Get Contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Contacts": {
      "main": [
        [
          {
            "node": "👤 Format Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Format Contacts": {
      "main": [
        [
          {
            "node": "✅ Response Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Message Count": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG 6": {
      "main": [
        [
          {
            "node": "🐘 Get Message Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Message Count": {
      "main": [
        [
          {
            "node": "✅ Response Message Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "production-ru-v2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "monitoring-production-ru",
  "tags": []
}