PRODUCTION/RU/🔍 Highlights Detection [Production RU].json
{
  "name": "🔍 Highlights Detection [Production RU]",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 Highlights Detection\n\n### 📋 Описание\nОпределение важных моментов в диалогах с помощью AI.\n\n**Два эндпоинта:**\n- `POST /detect` - анализ диалога и сохранение highlights\n- `GET /get` - получение сохраненных highlights\n\n---\n\n### ⚙️ Настройка CONFIG\n\n| Параметр | Описание |\n|----------|----------|\n| `api_key` | API ключ для аутентификации |\n| `rate_limit_window_ms` | Окно rate limiting (мс) |\n| `rate_limit_max_requests` | Макс. запросов в окне |\n| `table_conversation_highlights` | Таблица highlights |\n| `table_chat_histories_ru` | Таблица чата RU |\n| `table_chat_histories_en` | Таблица чата EN |\n| `table_chat_sessions` | Таблица сессий |\n\n---\n\n### 🔑 Credentials\n- **Postgres** - для всех узлов работы с БД\n- **Google Gemini** - для AI анализа",
        "height": 600,
        "width": 400,
        "color": 5
      },
      "id": "sticky-note-main",
      "name": "📝 Инструкция",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1980,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "api-key",
              "name": "api_key",
              "value": "YOUR_API_KEY_HERE",
              "type": "string"
            },
            {
              "id": "rate-window",
              "name": "rate_limit_window_ms",
              "value": 60000,
              "type": "number"
            },
            {
              "id": "rate-max",
              "name": "rate_limit_max_requests",
              "value": 60,
              "type": "number"
            },
            {
              "id": "table-highlights",
              "name": "table_conversation_highlights",
              "value": "conversation_highlights",
              "type": "string"
            },
            {
              "id": "table-chat-ru",
              "name": "table_chat_histories_ru",
              "value": "n8n_chat_histories_ru",
              "type": "string"
            },
            {
              "id": "table-chat-en",
              "name": "table_chat_histories_en",
              "value": "n8n_chat_histories_en",
              "type": "string"
            },
            {
              "id": "table-sessions",
              "name": "table_chat_sessions",
              "value": "chat_sessions",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-detect",
      "name": "⚙️ CONFIG: Detect",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1620,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "api-key",
              "name": "api_key",
              "value": "YOUR_API_KEY_HERE",
              "type": "string"
            },
            {
              "id": "rate-window",
              "name": "rate_limit_window_ms",
              "value": 60000,
              "type": "number"
            },
            {
              "id": "rate-max",
              "name": "rate_limit_max_requests",
              "value": 60,
              "type": "number"
            },
            {
              "id": "table-highlights",
              "name": "table_conversation_highlights",
              "value": "conversation_highlights",
              "type": "string"
            },
            {
              "id": "table-chat-ru",
              "name": "table_chat_histories_ru",
              "value": "n8n_chat_histories_ru",
              "type": "string"
            },
            {
              "id": "table-chat-en",
              "name": "table_chat_histories_en",
              "value": "n8n_chat_histories_en",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-get",
      "name": "⚙️ CONFIG: Get",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1620,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "detect-highlights",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a8adc06d-2e50-4f1c-8c2b-44bc242e1336",
      "name": "🌐 Webhook: Detect",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2096,
        -144
      ],
      "webhookId": "detect-highlights-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Получаем и валидируем входные данные\nconst requestData = items[0].json.body || items[0].json;\n\nconst sessionId = requestData.sessionId;\nconst userName = requestData.userName || 'Guest';\nconst language = requestData.language || 'ru';\n\nif (!sessionId) {\n    throw new Error('sessionId is required');\n}\n\n    sessionId,\n    userName,\n    language\n});\n\nreturn [{\n    json: {\n        sessionId: sessionId,\n        userName: userName,\n        language: language\n    }\n}];"
      },
      "id": "86628ecb-3712-477a-bf83-ba3794a2abb3",
      "name": "📥 Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Получаем язык анализа из настроек\nSELECT language_code \nFROM analysis_language_settings \nORDER BY id DESC \nLIMIT 1;",
        "options": {}
      },
      "id": "ccd257dc-fd7e-46b9-92ed-ad415a70aae9",
      "name": "🐘 Get Analysis Language",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущих узлов\nconst requestData = $('📥 Process Request').first().json;\nconst langSetting = items[0]?.json?.language_code || 'ru';\n\n\n// Передаем дальше с языком анализа\nreturn [{\n    json: {\n        sessionId: requestData.sessionId,\n        userName: requestData.userName,\n        language: requestData.language,\n        analysisLanguage: langSetting\n    }\n}];"
      },
      "id": "aa8be4ea-5963-4f70-ae3c-32a1796c9b37",
      "name": "🔄 Merge with Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Получаем диалог конкретного пользователя за последние 5 дней\nWITH all_chats AS (\n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'ru' as language\n    FROM {{ $('⚙️ CONFIG: Detect').first().json.table_chat_histories_ru }}\n    WHERE session_id = '{{ $json.sessionId }}'\n      AND created_at >= NOW() - INTERVAL '20 days'\n    \n    UNION ALL\n    \n    SELECT \n        id,\n        session_id,\n        message::json->>'type' as message_type,\n        message::json->>'content' as content,\n        created_at as timestamp,\n        platform,\n        'en' as language\n    FROM {{ $('⚙️ CONFIG: Detect').first().json.table_chat_histories_en }}\n    WHERE session_id = '{{ $json.sessionId }}'\n      AND created_at >= NOW() - INTERVAL '20 days'\n)\nSELECT * FROM all_chats\nORDER BY timestamp ASC;",
        "options": {}
      },
      "id": "3b137110-8882-4864-97c9-9ec15ad04855",
      "name": "🐘 Get Dialog Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматируем диалог для AI анализа\nconst dialogs = items;\nconst mergedData = $('🔄 Merge with Language').first().json;\nconst analysisLanguage = mergedData.analysisLanguage || 'ru';\n\n\n// Группируем сообщения в один диалог\nconst sessionData = {\n    messages: [],\n    language: mergedData.language,\n    sessionId: mergedData.sessionId,\n    messagesMap: {} // ✅ Маппинг порядкового номера на реальный ID\n};\n\ndialogs.forEach((item, index) => {\n    const data = item.json;\n    const orderNumber = index + 1; // Порядковый номер для AI (1, 2, 3...)\n    \n    sessionData.messages.push({\n        id: data.id, // Реальный ID из БД\n        orderNumber: orderNumber, // Порядковый номер\n        type: data.message_type,\n        content: data.content,\n        timestamp: data.timestamp,\n        platform: data.platform\n    });\n    \n    // ✅ Сохраняем маппинг: порядковый номер → реальный ID\n    sessionData.messagesMap[orderNumber] = data.id;\n});\n\n// Выбираем правильные метки в зависимости от языка анализа\nconst clientLabel = analysisLanguage === 'en' ? 'Client' : 'Клиент';\nconst botLabel = analysisLanguage === 'en' ? 'Bot' : 'Бот';\n\n// Форматируем в текст для AI с порядковыми номерами\nconst conversation = sessionData.messages.map(msg => \n    `[${msg.orderNumber}] ${msg.type === 'human' ? clientLabel : botLabel}: ${msg.content}`\n).join('\\n');\n\n\nreturn [{\n    json: {\n        sessionId: mergedData.sessionId,\n        userName: mergedData.userName,\n        language: mergedData.language,\n        analysisLanguage: analysisLanguage,\n        conversation: conversation,\n        messages: sessionData.messages,\n        messagesMap: sessionData.messagesMap, // ✅ Передаем маппинг дальше\n        totalMessages: sessionData.messages.length\n    }\n}];"
      },
      "id": "60eb17e0-7554-4844-8945-2796a72a16fb",
      "name": "📝 Format Dialog for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Язык вывода результатов: {{ $json.analysisLanguage || 'ru' }}\nОБЯЗАТЕЛЬНО: Генерируйте ВСЕ текстовые поля ответа на языке: {{ \n  $json.analysisLanguage === 'ru' ? 'Русский' : \n  $json.analysisLanguage === 'en' ? 'English' : \n  $json.analysisLanguage === 'es' ? 'Español' : \n  $json.analysisLanguage === 'fr' ? 'Français' : \n  $json.analysisLanguage === 'de' ? 'Deutsch' : \n  $json.analysisLanguage === 'it' ? 'Italiano' : \n  $json.analysisLanguage === 'pt' ? 'Português' : \n  $json.analysisLanguage === 'zh' ? '中文' : \n  $json.analysisLanguage === 'ja' ? '日本語' : \n  $json.analysisLanguage === 'ko' ? '한국어' : \n  $json.analysisLanguage === 'ua' ? 'Українська' : \n  'Русский' \n}}\n\nSESSION ID: {{ $json.sessionId }}\nКоличество сообщений: {{ $json.totalMessages }}\n\nДиалог для анализа:\n{{ $json.conversation }}",
        "options": {
          "systemMessage": "=# РОЛЬ И ЗАДАЧА\n\nВы — эксперт-аналитик диалогов, специализирующийся на выделении ключевых моментов (highlights) в разговорах между клиентами и AI-агентами.\n\n# ГЛАВНАЯ ЗАДАЧА\n\nПроанализировать диалог и выделить ключевые моменты трех типов:\n\n## 1. 💰 PRICING_MENTION (Упоминание цены)\n\n**Определение:** Любое обсуждение стоимости, бюджета, цены продукта\n\n**Что детектировать:**\n- Прямые вопросы о цене: \"сколько стоит\", \"какая цена\", \"price\", \"cost\"\n- Вопросы о тарифах: \"какие тарифы\", \"тарифы\", \"pricing plans\", \"subscription\"\n- Упоминание бюджета: \"у меня бюджет\", \"готов платить\", \"budget\"\n- Обсуждение тарифов: \"тариф Pro\", \"подписка\", \"plan\"\n- Числовые значения с валютой: \"$50\", \"500 руб\", \"€100\"\n- Вопросы об оплате: \"как оплатить\", \"способы оплаты\", \"payment\"\n- Скидки и акции: \"есть скидка\", \"промокод\", \"discount\"\n- Реакция на цену: \"дорого\", \"дешево\", \"expensive\", \"cheap\"\n\n**НЕ детектировать:**\n- \"Ценю ваше время\" (метафорическое использование)\n- \"Бесценный опыт\" (не про деньги)\n\n**Примеры:**\n✅ \"Сколько стоит Pro тариф?\"\n✅ \"А какие у вас тарифы?\"\n✅ \"Да что там у вас за тарифы?\"\n✅ \"У меня бюджет $100 в месяц\"\n✅ \"Это дорого для нас\"\n✅ \"Есть скидка для новых клиентов?\"\n\n---\n\n## 2. ❌ OBJECTION (Возражение)\n\n**Определение:** Сомнения, возражения, негативные комментарии о продукте\n\n**Что детектировать:**\n- Сомнения: \"не уверен\", \"сомневаюсь\", \"not sure\", \"doubt\"\n- Отказы: \"не нужно\", \"не подходит\", \"don't need\", \"not suitable\"\n- Негатив о цене: \"дорого\", \"expensive\", \"слишком много\"\n- Негатив о продукте: \"сложно\", \"не работает\", \"complicated\"\n- Сравнения с конкурентами: \"у X это бесплатно\", \"Y лучше\"\n- Проблемы: \"не могу\", \"не получится\", \"проблема\", \"can't\"\n- Барьеры: \"у нас нет\", \"не хватает\", \"we don't have\"\n- Откладывание: \"подумаю\", \"позже\", \"maybe later\"\n\n**ВАЖНО:** Если в сообщении есть И возражение И интерес - детектируй ОБА типа!\n\n**Примеры:**\n✅ \"Не уверен что это подойдет\"\n✅ \"У Binance это бесплатно\"\n✅ \"Слишком сложно настраивать\"\n✅ \"Дорого, но интересно\" → OBJECTION + BUYING_SIGNAL (оба!)\n✅ \"Не могу позволить такую цену\"\n✅ \"Подумаю\" (откладывание = мягкое возражение)\n\n---\n\n## 3. ✅ BUYING_SIGNAL (Сигнал покупки)\n\n**Определение:** Интерес к продукту, готовность узнать больше или купить\n\n**ДВА УРОВНЯ СИГНАЛОВ:**\n\n### **Сильные сигналы (confidence 0.85-0.95):**\n- Явная готовность: \"хочу попробовать\", \"давайте начнем\", \"want to try\"\n- Намерение купить: \"как оформить\", \"купить\", \"подключить\", \"buy\"\n- Запрос действий: \"что дальше\", \"как начать\", \"when can we start\"\n- Запросы демо/теста: \"демо\", \"trial\", \"тест\", \"попробовать\"\n- Согласие: \"согласен\", \"беру\", \"подходит\", \"I'll take it\"\n- Сильный позитив: \"отлично\", \"идеально\", \"perfect\", \"great\"\n\n### **Средние сигналы (confidence 0.70-0.84):**\n- Вопросы о тарифах: \"какие тарифы\", \"что входит в план\", \"pricing\"\n- Запросы информации: \"расскажи подробнее\", \"tell me more\", \"покажи\"\n- Вопросы о функциях: \"как это работает\", \"можете показать\", \"how does it work\"\n- Позитивный интерес: \"интересно\", \"звучит неплохо\", \"interesting\", \"sounds good\"\n- Вопросы о деталях: \"а что еще\", \"какие возможности\", \"what else\"\n- Уточняющие вопросы: \"а поддержка есть\", \"можно с вами связаться\"\n\n**КОНТЕКСТ ВАЖЕН:**\n- \"Интересно\" после описания функции = buying_signal\n- \"Интересно\" после \"но дорого\" = buying_signal + objection (оба!)\n- Вопросы о тарифах = ВСЕГДА buying_signal (интерес к покупке!)\n\n**НЕ детектировать как сильный сигнал:**\n- Короткие ответы без контекста: \"ага\", \"да\", \"ок\" → максимум 0.65\n- Вежливые фразы: \"спасибо\", \"понятно\" → не buying_signal\n\n**Примеры:**\n✅ \"Давайте попробуем!\" (0.95)\n✅ \"Как оформить подписку?\" (0.90)\n✅ \"А какие у вас тарифы?\" (0.80) ← ВАЖНО: это buying_signal!\n✅ \"Расскажи подробнее о функциях\" (0.75)\n✅ \"Интересно, покажите демо\" (0.85)\n✅ \"Звучит неплохо\" (0.75)\n✅ \"Хочу подключить Pro\" (0.95)\n✅ \"Дорого, но попробую\" (0.80) + objection (0.85)\n\n❌ \"Ага\" (0.60 - слишком низкий, не включать)\n❌ \"Спасибо\" (не buying_signal)\n❌ \"Понятно\" (не buying_signal, если нет контекста интереса)\n\n---\n\n# ПРАВИЛА ДЕТЕКЦИИ\n\n1. **Одно сообщение может содержать НЕСКОЛЬКО типов highlights**\n   Пример: \"Дорого, но какие тарифы?\" → OBJECTION + PRICING + BUYING_SIGNAL\n   Это НОРМАЛЬНО и ПРАВИЛЬНО!\n\n2. **Детектируйте ТОЛЬКО сообщения пользователя (Клиента)**\n   НЕ детектируйте сообщения Бота!\n\n3. **Confidence (уверенность):**\n   - 0.90-1.00: Явные, четкие сигналы (прямые запросы, действия)\n   - 0.75-0.89: Хорошие сигналы (вопросы о тарифах, функциях, интерес)\n   - 0.70-0.74: Слабые но присутствующие (общий интерес, позитив)\n   - <0.70: НЕ включать в результат\n\n4. **Вопросы о тарифах/ценах = BUYING_SIGNAL:**\n   - \"Какие тарифы?\" → PRICING (0.95) + BUYING_SIGNAL (0.80)\n   - \"Сколько стоит?\" → PRICING (0.95) + BUYING_SIGNAL (0.85)\n   - Это проявление интереса к покупке!\n\n5. **Включайте контекст:**\n   - Если клиент спрашивает \"А сколько?\" после того как бот упомянул тариф - это PRICING + BUYING_SIGNAL\n   - Если клиент говорит \"Интересно\" после демонстрации функции - это BUYING_SIGNAL\n\n6. **Будьте щедрее с buying_signal:**\n   - Если человек задает вопросы о продукте → это интерес → buying_signal\n   - Если человек просит подробности → это интерес → buying_signal\n   - Не бойтесь детектировать buying_signal при наличии интереса\n\n7. **Язык не важен:**\n   - Детектируйте на любом языке (ru, en, ua и т.д.)\n   - Но описания в результате на языке вывода!\n\n---\n\n# ФОРМАТ ОТВЕТА\n\n**КРИТИЧЕСКИ ВАЖНО:** Возвращайте ТОЛЬКО чистый JSON без markdown, без ```json, без дополнительного текста!\n```json\n{\n  \"highlights\": [\n    {\n      \"messageId\": номер_сообщения_из_диалога,\n      \"messageText\": \"точный текст сообщения клиента\",\n      \"messageTimestamp\": \"временная метка если есть\",\n      \"type\": \"pricing\" | \"objection\" | \"buying_signal\",\n      \"confidence\": 0.70-1.00,\n      \"reasoning\": \"краткое объяснение почему это highlight (15-30 слов)\",\n      \"matchedPatterns\": [\"что именно указало на highlight\"]\n    }\n  ],\n  \"summary\": {\n    \"totalHighlights\": число,\n    \"byType\": {\n      \"pricing\": число,\n      \"objection\": число,\n      \"buying_signal\": число\n    },\n    \"overallAssessment\": \"краткая оценка диалога (30-50 слов)\"\n  }\n}\n```\n\n---\n\n# ПРИМЕР АНАЛИЗА\n\n**Входной диалог:**\n```\n[1] Клиент: Привет\n[2] Бот: Здравствуйте! Чем помочь?\n[3] Клиент: А какие у вас тарифы?\n[4] Бот: У нас 3 тарифа: Starter $29, Pro $59, Enterprise $99\n[5] Клиент: Дорого для меня, но функции интересные\n[6] Бот: Можем предложить скидку 20%\n[7] Клиент: Давайте попробую Starter\n```\n\n**Правильный вывод:**\n```json\n{\n  \"highlights\": [\n    {\n      \"messageId\": 3,\n      \"messageText\": \"А какие у вас тарифы?\",\n      \"type\": \"pricing\",\n      \"confidence\": 0.95,\n      \"reasoning\": \"Прямой вопрос о тарифах и ценах продукта\",\n      \"matchedPatterns\": [\"какие тарифы\"]\n    },\n    {\n      \"messageId\": 3,\n      \"messageText\": \"А какие у вас тарифы?\",\n      \"type\": \"buying_signal\",\n      \"confidence\": 0.80,\n      \"reasoning\": \"Вопрос о тарифах показывает интерес к покупке продукта\",\n      \"matchedPatterns\": [\"тарифы\", \"вопрос о продукте\"]\n    },\n    {\n      \"messageId\": 5,\n      \"messageText\": \"Дорого для меня, но функции интересные\",\n      \"type\": \"objection\",\n      \"confidence\": 0.85,\n      \"reasoning\": \"Возражение по цене, клиент считает продукт дорогим\",\n      \"matchedPatterns\": [\"дорого\"]\n    },\n    {\n      \"messageId\": 5,\n      \"messageText\": \"Дорого для меня, но функции интересные\",\n      \"type\": \"buying_signal\",\n      \"confidence\": 0.80,\n      \"reasoning\": \"Положительная оценка функционала показывает интерес несмотря на цену\",\n      \"matchedPatterns\": [\"интересные\", \"позитив о функциях\"]\n    },\n    {\n      \"messageId\": 7,\n      \"messageText\": \"Давайте попробую Starter\",\n      \"type\": \"buying_signal\",\n      \"confidence\": 0.95,\n      \"reasoning\": \"Явное намерение попробовать продукт, готовность к действию\",\n      \"matchedPatterns\": [\"давайте попробую\", \"выбор тарифа\"]\n    }\n  ],\n  \"summary\": {\n    \"totalHighlights\": 5,\n    \"byType\": {\n      \"pricing\": 1,\n      \"objection\": 1,\n      \"buying_signal\": 3\n    },\n    \"overallAssessment\": \"Очень позитивный диалог с высоким потенциалом конверсии. Клиент проявил активный интерес, задал вопрос о тарифах, высказал возражение по цене но положительно оценил функционал, и принял решение попробовать продукт.\"\n  }\n}\n```\n\n---\n\n# ВАЖНЫЕ НЮАНСЫ\n\n1. **Вопросы о тарифах/ценах ВСЕГДА = buying_signal**\n   - Человек не спрашивает о цене просто так\n   - Это проявление интереса к покупке\n\n2. **Множественные типы - это нормально**\n   - \"Дорого, но интересно\" = objection + buying_signal\n   - \"Какие тарифы?\" = pricing + buying_signal\n   - Не бойтесь детектировать несколько типов!\n\n3. **Будьте щедрее с buying_signal**\n   - Любой вопрос о продукте = интерес\n   - Любой запрос информации = интерес\n   - Confidence 0.75-0.85 для таких случаев\n\n4. **Контекст решает**\n   - \"Интересно\" после описания функции → buying_signal (0.80)\n   - \"Ага\" просто так → НЕ buying_signal (0.60)\n\n5. **Краткость reasoning** - 15-30 слов достаточно\n\n6. **Язык вывода** - ВСЕ текстовые поля на указанном языке!\n\n7. **Чистый JSON** - никаких markdown блоков!"
        }
      },
      "id": "608dc9fa-426f-41ca-9946-098f31b8eaf3",
      "name": "🤖 AI Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -496,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Парсим ответ от AI и извлекаем highlights\nconst aiResponse = items[0].json.output;\nconst sessionData = $('📝 Format Dialog for AI').first().json;\n\n\n// ✅ Получаем маппинг: порядковый номер → реальный ID\nconst messagesMap = sessionData.messagesMap || {};\n\nlet parsed;\ntry {\n    // Удаляем возможные markdown блоки\n    let cleanJson = aiResponse.trim();\n    cleanJson = cleanJson.replace(/^```json\\s*/i, '');\n    cleanJson = cleanJson.replace(/^```\\s*/i, '');\n    cleanJson = cleanJson.replace(/\\s*```$/i, '');\n    \n    parsed = JSON.parse(cleanJson);\n    \n    if (!parsed.highlights || !Array.isArray(parsed.highlights)) {\n        throw new Error('Invalid response structure');\n    }\n    \n} catch (error) {\n    console.error('Failed to parse AI response:', error);\n    \n    return [{\n        json: {\n            hasHighlights: false,\n            sessionId: sessionData.sessionId,\n            totalDetected: 0,\n            highlights: [],\n            error: 'Failed to parse AI response'\n        }\n    }];\n}\n\n// ✅ Фильтруем highlights с confidence < 0.70\nconst validHighlights = parsed.highlights.filter(h => {\n    if (h.confidence < 0.70) {\n        return false;\n    }\n    return true;\n});\n\n\n// Обогащаем highlights данными из диалога\nconst enrichedHighlights = validHighlights.map(h => {\n    // ✅ КЛЮЧЕВОЕ: Конвертируем порядковый номер в реальный ID\n    const orderNumber = h.messageId; // Это порядковый номер от AI (1, 2, 3...)\n    const realMessageId = messagesMap[orderNumber]; // Конвертируем в реальный ID\n    \n    // Находим соответствующее сообщение по реальному ID\n    const message = sessionData.messages.find(m => m.id === realMessageId);\n    \n    \n    if (!message) {\n        console.warn(`⚠️ Message not found for order ${orderNumber} / ID ${realMessageId}`);\n    }\n    \n    return {\n        sessionId: sessionData.sessionId,\n        messageId: realMessageId, // ✅ Используем РЕАЛЬНЫЙ ID!\n        messageText: h.messageText || message?.content || '',\n        messageType: message?.type || 'human',\n        messageTimestamp: h.messageTimestamp || message?.timestamp,\n        type: h.type,\n        confidence: h.confidence,\n        detection_method: 'ai',\n        reasoning: h.reasoning,\n        matched_patterns: h.matchedPatterns || [],\n        language: sessionData.language,\n        platform: message?.platform || 'unknown'\n    };\n});\n\n    type: h.type,\n    confidence: h.confidence,\n    messageId: h.messageId,\n    text: h.messageText?.substring(0, 30) + '...'\n})));\n\nreturn [{\n    json: {\n        hasHighlights: enrichedHighlights.length > 0,\n        sessionId: sessionData.sessionId,\n        totalDetected: enrichedHighlights.length,\n        highlights: enrichedHighlights,\n        summary: parsed.summary || {},\n        aiAssessment: parsed.summary?.overallAssessment || ''\n    }\n}];"
      },
      "id": "41340751-2c13-4135-a548-c636c249988f",
      "name": "📊 Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-highlights",
              "leftValue": "={{ $json.hasHighlights }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffe59fbf-57da-4fda-9196-08438b157b76",
      "name": "❓ Has Highlights?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        32,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для вставки в БД\nconst result = items[0].json;\nconst highlights = result.highlights;\n\nif (!highlights || highlights.length === 0) {\n    return [];\n}\n\n// ✅ ДЕДУПЛИКАЦИЯ: Убираем дубликаты (одинаковый message_id + type)\nconst uniqueMap = new Map();\n\nhighlights.forEach(h => {\n    const key = `${h.messageId}_${h.type}`; // Ключ: ID сообщения + тип\n    \n    // Если уже есть такой highlight, берем тот у которого confidence выше\n    if (uniqueMap.has(key)) {\n        const existing = uniqueMap.get(key);\n        if (h.confidence > existing.confidence) {\n            uniqueMap.set(key, h);\n        } else {\n        }\n    } else {\n        uniqueMap.set(key, h);\n    }\n});\n\n// Получаем уникальные highlights\nconst uniqueHighlights = Array.from(uniqueMap.values());\n\n\n// Преобразуем в формат для PostgreSQL INSERT\nconst prepared = uniqueHighlights.map(h => ({\n    json: {\n        session_id: h.sessionId,\n        message_id: h.messageId,\n        message_text: h.messageText,\n        message_type: h.messageType,\n        message_timestamp: h.messageTimestamp,\n        highlight_type: h.type,\n        confidence: h.confidence,\n        detection_method: 'ai',\n        matched_keywords: h.matched_patterns,\n        reasoning: h.reasoning,\n        language: h.language,\n        platform: h.platform\n    }\n}));\n\n    prepared.reduce((acc, p) => {\n        acc[p.json.highlight_type] = (acc[p.json.highlight_type] || 0) + 1;\n        return acc;\n    }, {})\n);\n\nreturn prepared;"
      },
      "id": "a6d1f1e0-6eef-4e72-8948-3f0a9526a774",
      "name": "📝 Prepare DB Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -176
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_highlights",
          "mode": "list",
          "cachedResultName": "conversation_highlights"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "message_id": "={{ $json.message_id }}",
            "message_text": "={{ $json.message_text }}",
            "message_type": "={{ $json.message_type }}",
            "message_timestamp": "={{ $json.message_timestamp }}",
            "highlight_type": "={{ $json.highlight_type }}",
            "confidence": "={{ $json.confidence }}",
            "detection_method": "={{ $json.detection_method }}",
            "matched_keywords": "={{ $json.matched_keywords }}",
            "language": "={{ $json.language }}",
            "platform": "={{ $json.platform }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a6313e63-086a-4200-96ec-9869184e189e",
      "name": "🐘 Save to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -176
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Удаляем старые highlights для этой сессии перед вставкой новых\nDELETE FROM {{ $('⚙️ CONFIG: Detect').first().json.table_conversation_highlights }} \nWHERE session_id = '{{ $('Parse AI Response').first().json.sessionId }}';",
        "options": {}
      },
      "id": "aaa0b649-2374-425e-8577-8670285fe21e",
      "name": "🐘 Delete Old Highlights",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -368
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n    success: true,\n    sessionId: $('Parse AI Response').first().json.sessionId,\n    totalDetected: $('Parse AI Response').first().json.totalDetected,\n    highlights: $('Parse AI Response').first().json.highlights.map(h => ({\n        type: h.type,\n        confidence: h.confidence,\n        messageText: h.messageText.substring(0, 100) + '...',\n        reasoning: h.reasoning\n    })),\n    summary: $('Parse AI Response').first().json.summary,\n    aiAssessment: $('Parse AI Response').first().json.aiAssessment\n} }}",
        "options": {}
      },
      "id": "68748655-5f53-4d98-ad70-b66d9fdb6e7f",
      "name": "✅ Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        592,
        -176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n    success: true,\n    sessionId: $('Parse AI Response').first().json.sessionId,\n    totalDetected: 0,\n    message: 'No highlights detected by AI',\n    highlights: []\n} }}",
        "options": {}
      },
      "id": "f360ada7-785f-4cb9-a58f-013490b19c19",
      "name": "✅ Response No Highlights",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        320,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        16
      ],
      "id": "2c7a051a-dcf7-4994-b1d2-a2d7c6b22c0a",
      "name": "🧠 Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLEPALMAPI_CREDENTIAL_ID",
          "name": "Googlepalmapi account"
        }
      }
    },
    {
      "parameters": {
        "path": "get-highlights",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "36e3aaf4-6f55-4340-a39c-46af8bc35137",
      "name": "🌐 Webhook: Get",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2080,
        352
      ],
      "webhookId": "get-highlights-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Получаем sessionId из query параметров\nconst query = items[0].json.query || {};\nconst sessionId = query.session_id || query.sessionId;\n\nif (!sessionId) {\n    throw new Error('session_id parameter is required');\n}\n\n\nreturn [{\n    json: {\n        sessionId: sessionId\n    }\n}];"
      },
      "id": "6fffa22e-8eed-47b3-b34a-e304c4255167",
      "name": "📥 Process Get Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Получаем все highlights для сессии\nSELECT \n    id,\n    session_id,\n    message_id,\n    message_text,\n    message_type,\n    message_timestamp,\n    highlight_type,\n    confidence,\n    detection_method,\n    matched_keywords,\n    reasoning,\n    language,\n    platform,\n    created_at\nFROM {{ $('⚙️ CONFIG: Get').first().json.table_conversation_highlights }}\nWHERE session_id = '{{ $json.sessionId }}'\nORDER BY message_timestamp ASC;",
        "options": {}
      },
      "id": "e4ee5c22-85cc-4282-a138-285ed919cedb",
      "name": "🐘 Get Highlights from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматируем результаты для frontend\nconst highlights = $('Get Highlights from DB').all();\nconst statusData = $('🔄 Merge Status Data').first().json;\n\n\n// ✅ УЛУЧШЕННАЯ ПРОВЕРКА: Три варианта пустого результата\nconst isEmpty = (\n    !highlights || \n    highlights.length === 0 || \n    !highlights[0] || \n    !highlights[0].json ||\n    highlights[0].json.id === undefined\n);\n\nif (isEmpty) {\n    return [{\n        json: {\n            success: true,\n            sessionId: statusData.sessionId,\n            hasHighlights: false,\n            total: 0,\n            highlights: [],\n            byType: {\n                pricing: 0,\n                objection: 0,\n                buying_signal: 0\n            },\n            stats: {\n                totalMessages: statusData.totalMessages || 0,\n                analyzedMessages: 0,\n                avgConfidence: 0\n            },\n            // ✅ НОВЫЕ ПОЛЯ\n            analysisStatus: statusData.analysisStatus,\n            needsReanalysis: false,\n            hasAnalysis: statusData.hasAnalysis,\n            lastAnalysisDate: statusData.lastAnalysisDate,\n            lastMessageDate: statusData.lastMessageDate,\n            newMessagesCount: 0,\n            newUserMessages: 0,\n            message: 'No highlights found. Click \"Analyze\" button to detect highlights.'\n        }\n    }];\n}\n\n// Группируем по типам и считаем статистику\nconst byType = {\n    pricing: 0,\n    objection: 0,\n    buying_signal: 0\n};\n\nlet totalConfidence = 0;\n\nconst formatted = highlights.map(item => {\n    const h = item.json;\n    \n    // Подсчитываем по типам\n    if (byType[h.highlight_type] !== undefined) {\n        byType[h.highlight_type]++;\n    }\n    \n    // Суммируем confidence для среднего\n    totalConfidence += parseFloat(h.confidence || 0);\n    \n    return {\n        id: h.id,\n        messageId: h.message_id,\n        messageText: h.message_text,\n        messageType: h.message_type,\n        messageTimestamp: h.message_timestamp,\n        type: h.highlight_type,\n        confidence: parseFloat(h.confidence),\n        detectionMethod: h.detection_method,\n        matchedKeywords: h.matched_keywords || [],\n        reasoning: h.reasoning || '',\n        language: h.language,\n        platform: h.platform,\n        createdAt: h.created_at\n    };\n});\n\n// Подсчет уникальных сообщений\nconst uniqueMessages = new Set(formatted.map(h => h.messageId)).size;\n\n// Расчет средней уверенности\nconst avgConfidence = formatted.length > 0 \n    ? (totalConfidence / formatted.length).toFixed(2) \n    : 0;\n\n\nreturn [{\n    json: {\n        success: true,\n        sessionId: statusData.sessionId,\n        hasHighlights: true,\n        total: formatted.length,\n        highlights: formatted,\n        byType: byType,\n        stats: {\n            totalMessages: statusData.totalMessages || uniqueMessages,\n            analyzedMessages: uniqueMessages,\n            avgConfidence: parseFloat(avgConfidence),\n            detectionMethod: 'ai'\n        },\n        // ✅ НОВЫЕ ПОЛЯ ДЛЯ РЕ-АНАЛИЗА\n        analysisStatus: statusData.analysisStatus,\n        needsReanalysis: statusData.needsReanalysis,\n        hasAnalysis: statusData.hasAnalysis,\n        lastAnalysisDate: statusData.lastAnalysisDate,\n        lastMessageDate: statusData.lastMessageDate,\n        newMessagesCount: statusData.newMessagesCount || 0,\n        newUserMessages: statusData.newUserMessages || 0\n    }\n}];"
      },
      "id": "c83a38fb-1dd4-402b-aae0-ef09a7f4d15d",
      "name": "📊 Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        352
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "9b09ee8d-a050-4659-b164-f9259810d32b",
      "name": "✅ Response Highlights",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  MAX(created_at) as last_analysis_date,\n  COUNT(*) as total_highlights\nFROM {{ $('⚙️ CONFIG: Get').first().json.table_conversation_highlights }}\nWHERE session_id = '{{ $json.sessionId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        448
      ],
      "id": "b869c710-bcda-43c3-992e-5deaa5c33b78",
      "name": "🐘 Check Last Analysis Date",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH all_messages AS (\n  SELECT \n    created_at,\n    id\n  FROM {{ $('⚙️ CONFIG: Get').first().json.table_chat_histories_ru }}\n  WHERE session_id = '{{ $json.sessionId }}'\n  \n  UNION ALL\n  \n  SELECT \n    created_at,\n    id\n  FROM {{ $('⚙️ CONFIG: Get').first().json.table_chat_histories_en }}\n  WHERE session_id = '{{ $json.sessionId }}'\n)\nSELECT \n  MAX(created_at) as last_message_date,\n  COUNT(*) as total_messages\nFROM all_messages",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        224
      ],
      "id": "82f13660-210d-42e5-8bee-51d41d67c9b8",
      "name": "🐘 Check Last Message Date",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем sessionId\nconst sessionId = $('📥 Process Get Request').first().json.sessionId;\n\n// ✅ Merge вернул 2 отдельных items - объединяем вручную\nlet lastAnalysisDate = null;\nlet totalHighlights = 0;\nlet lastMessageDate = null;\nlet totalMessages = 0;\n\nitems.forEach(item => {\n    const data = item.json;\n    \n    // Ищем поля от Check Last Analysis Date\n    if (data.last_analysis_date !== undefined) {\n        lastAnalysisDate = data.last_analysis_date;\n        totalHighlights = parseInt(data.total_highlights) || 0;\n    }\n    \n    // Ищем поля от Check Last Message Date\n    if (data.last_message_date !== undefined) {\n        lastMessageDate = data.last_message_date;\n        totalMessages = parseInt(data.total_messages) || 0;\n    }\n});\n\n// Определяем нужен ли ре-анализ\nlet needsReanalysis = false;\nlet hasAnalysis = false;\nlet analysisStatus = 'no_analysis';\n\n// ✅ ЛОГИКА ОПРЕДЕЛЕНИЯ СТАТУСА\nif (!lastMessageDate) {\n    // Нет сообщений вообще\n    analysisStatus = 'no_messages';\n    needsReanalysis = false;\n    hasAnalysis = false;\n    \n} else if (!lastAnalysisDate) {\n    // Есть сообщения но анализа НЕ БЫЛО\n    analysisStatus = 'no_analysis';\n    needsReanalysis = false;\n    hasAnalysis = false;\n    \n} else {\n    // ЕСТЬ И анализ И сообщения - сравниваем даты\n    hasAnalysis = true;\n    \n    const analysisTime = new Date(lastAnalysisDate).getTime();\n    const messageTime = new Date(lastMessageDate).getTime();\n    \n    if (messageTime > analysisTime) {\n        // Последнее сообщение ПОЗЖЕ анализа\n        needsReanalysis = true;\n        analysisStatus = 'needs_reanalysis';\n    } else {\n        // Анализ актуальный\n        needsReanalysis = false;\n        analysisStatus = 'up_to_date';\n    }\n}\n\nreturn [{\n    json: {\n        sessionId: sessionId,\n        hasAnalysis: hasAnalysis,\n        needsReanalysis: needsReanalysis,\n        analysisStatus: analysisStatus,\n        lastAnalysisDate: lastAnalysisDate,\n        lastMessageDate: lastMessageDate,\n        totalHighlights: totalHighlights,\n        totalMessages: totalMessages\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        336
      ],
      "id": "859bd83e-fdab-480d-8fd7-2b9ec632fb60",
      "name": "📊 Compare Dates & Calculate Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b9ad84e-aae0-47cf-aafd-8ed1be7b9cd2",
              "leftValue": "={{ $json.needsReanalysis }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        336
      ],
      "id": "de48c699-b54d-4be5-a847-6df6ac85419e",
      "name": "❓ Needs Count New Messages?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH all_messages AS (\n  SELECT \n    created_at,\n    message::json->>'type' as msg_type\n  FROM {{ $('⚙️ CONFIG: Get').first().json.table_chat_histories_ru }}\n  WHERE session_id = '{{ $('Compare Dates & Calculate Status').first().json.sessionId }}'\n    AND created_at > '{{ $('Compare Dates & Calculate Status').first().json.lastAnalysisDate }}'\n  \n  UNION ALL\n  \n  SELECT \n    created_at,\n    message::json->>'type' as msg_type\n  FROM {{ $('⚙️ CONFIG: Get').first().json.table_chat_histories_en }}\n  WHERE session_id = '{{ $('Compare Dates & Calculate Status').first().json.sessionId }}'\n    AND created_at > '{{ $('Compare Dates & Calculate Status').first().json.lastAnalysisDate }}'\n)\nSELECT \n  COUNT(*) as new_messages_count,\n  COUNT(CASE WHEN msg_type = 'human' THEN 1 END) as new_user_messages\nFROM all_messages",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        224
      ],
      "id": "4218c673-da47-481b-9ed1-9e62322ad849",
      "name": "🐘 Count New Messages",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем базовые данные из Compare Dates\nconst statusData = $('📊 Compare Dates & Calculate Status').first().json;\n\n// Проверяем есть ли данные о новых сообщениях\nlet newMessagesCount = 0;\nlet newUserMessages = 0;\n\n// ✅ ВАЖНО: Проверяем ИЗ КАКОЙ ВЕТКИ IF мы пришли\n// Если пришли из TRUE ветки - будет узел Count New Messages\n// Если из FALSE - его не будет\n\n// Безопасно пытаемся получить данные\ntry {\n    const countNode = $('Count New Messages After Analysis');\n    if (countNode && countNode.first() && countNode.first().json) {\n        const countData = countNode.first().json;\n        newMessagesCount = parseInt(countData.new_messages_count) || 0;\n        newUserMessages = parseInt(countData.new_user_messages) || 0;\n    } else {\n    }\n} catch (error) {\n    // Узел не выполнялся - это нормально для FALSE ветки\n}\n\n    ...statusData,\n    newMessagesCount,\n    newUserMessages\n});\n\nreturn [{\n    json: {\n        ...statusData,\n        newMessagesCount: newMessagesCount,\n        newUserMessages: newUserMessages\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        352
      ],
      "id": "4f1d1891-6a6e-4ebb-b078-da301564888f",
      "name": "🔄 Merge Status Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1088,
        336
      ],
      "id": "58db1213-ee51-495e-a6be-d493c19dbe1d",
      "name": "🔀 Merge By Position"
    },
    {
      "parameters": {
        "jsCode": "// UNIVERSAL PROTECTION: API KEY + RATE LIMITING\n\n// Read settings from CONFIG\nconst config = $('⚙️ CONFIG: Detect').first().json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms || 60000;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max_requests || 60;\n\n// Get data from Webhook\nconst inputData = $('🌐 Webhook: Detect').item.json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', status: 429 } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        -144
      ],
      "id": "9f78f979-5d5c-40e8-94d8-94a080818bba",
      "name": "🔐 Security Check (Detect)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1760,
        -144
      ],
      "id": "5df2b8a7-b02e-4635-8985-b8d21548ea44",
      "name": "❓ Auth Check (Detect)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1600,
        0
      ],
      "id": "38323d42-d363-4411-b279-32c244183bc8",
      "name": "❌ Error Response (Detect)"
    },
    {
      "parameters": {
        "jsCode": "// UNIVERSAL PROTECTION: API KEY + RATE LIMITING\n\n// Read settings from CONFIG\nconst config = $('⚙️ CONFIG: Get').first().json;\nconst API_KEY = config.api_key;\nconst RATE_LIMIT_WINDOW_MS = config.rate_limit_window_ms || 60000;\nconst RATE_LIMIT_MAX_REQUESTS = config.rate_limit_max_requests || 60;\n\n// Get data from Webhook\nconst inputData = $('🌐 Webhook: Get').item.json;\nconst body = inputData.body || {};\nconst headers = inputData.headers || {};\nconst query = inputData.query || {};\nconst clientIP = headers['x-real-ip'] || headers['x-forwarded-for'] || headers['cf-connecting-ip'] || 'unknown';\nconst now = Date.now();\n\n// RATE LIMITING\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimits) { staticData.rateLimits = {}; }\nfor (const ip in staticData.rateLimits) {\n  if (now - staticData.rateLimits[ip].firstRequest > RATE_LIMIT_WINDOW_MS) {\n    delete staticData.rateLimits[ip];\n  }\n}\nif (!staticData.rateLimits[clientIP]) {\n  staticData.rateLimits[clientIP] = { count: 1, firstRequest: now };\n} else {\n  staticData.rateLimits[clientIP].count++;\n  if (staticData.rateLimits[clientIP].count > RATE_LIMIT_MAX_REQUESTS) {\n    return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Too many requests', status: 429 } } }];\n  }\n}\n\n// API KEY CHECK\nconst providedKey = headers['x-api-key'] || body.apiKey || query.apiKey || '';\nif (!providedKey) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'API key not provided', status: 401 } } }];\n}\nif (providedKey !== API_KEY) {\n  return [{ json: { ...inputData, authorized: false, error: { success: false, error: 'Invalid API key', status: 401 } } }];\n}\n\nreturn [{ json: { ...inputData, authorized: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        352
      ],
      "id": "149039b4-942c-4a88-a907-341a6ead70c0",
      "name": "🔐 Security Check (Get)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "auth-condition",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        352
      ],
      "id": "2a405925-65f4-4dd4-bc8a-004988a5d63a",
      "name": "❓ Auth Check (Get)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1520,
        496
      ],
      "id": "8892c7ad-79c2-4933-87e3-b1231354faba",
      "name": "❌ Error Response (Get)"
    }
  ],
  "pinData": {},
  "connections": {
    "🌐 Webhook: Detect": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG: Detect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Process Request": {
      "main": [
        [
          {
            "node": "🐘 Get Analysis Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Analysis Language": {
      "main": [
        [
          {
            "node": "🔄 Merge with Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Merge with Language": {
      "main": [
        [
          {
            "node": "🐘 Get Dialog Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Dialog Messages": {
      "main": [
        [
          {
            "node": "📝 Format Dialog for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Format Dialog for AI": {
      "main": [
        [
          {
            "node": "🤖 AI Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Agent (Gemini)": {
      "main": [
        [
          {
            "node": "📊 Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Parse AI Response": {
      "main": [
        [
          {
            "node": "❓ Has Highlights?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Highlights?": {
      "main": [
        [
          {
            "node": "📝 Prepare DB Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "🐘 Delete Old Highlights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Response No Highlights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Prepare DB Data": {
      "main": [
        [
          {
            "node": "🐘 Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Save to DB": {
      "main": [
        [
          {
            "node": "✅ Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Webhook: Get": {
      "main": [
        [
          {
            "node": "⚙️ CONFIG: Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Process Get Request": {
      "main": [
        [
          {
            "node": "🐘 Check Last Message Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "🐘 Check Last Analysis Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Get Highlights from DB": {
      "main": [
        [
          {
            "node": "📊 Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Format Response": {
      "main": [
        [
          {
            "node": "✅ Response Highlights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Check Last Message Date": {
      "main": [
        [
          {
            "node": "🔀 Merge By Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Check Last Analysis Date": {
      "main": [
        [
          {
            "node": "🔀 Merge By Position",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📊 Compare Dates & Calculate Status": {
      "main": [
        [
          {
            "node": "❓ Needs Count New Messages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Needs Count New Messages?": {
      "main": [
        [
          {
            "node": "🐘 Count New Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 Count New Messages": {
      "main": [
        [
          {
            "node": "🔄 Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Merge Status Data": {
      "main": [
        [
          {
            "node": "🐘 Get Highlights from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge By Position": {
      "main": [
        [
          {
            "node": "📊 Compare Dates & Calculate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check (Detect)": {
      "main": [
        [
          {
            "node": "❓ Auth Check (Detect)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth Check (Detect)": {
      "main": [
        [
          {
            "node": "📥 Process Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response (Detect)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Security Check (Get)": {
      "main": [
        [
          {
            "node": "❓ Auth Check (Get)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Auth Check (Get)": {
      "main": [
        [
          {
            "node": "📥 Process Get Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Response (Get)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG: Detect": {
      "main": [
        [
          {
            "node": "🔐 Security Check (Detect)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ CONFIG: Get": {
      "main": [
        [
          {
            "node": "🔐 Security Check (Get)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "production-ru-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "production-template"
  },
  "id": "highlights-detection-ru",
  "tags": []
}