MAIN/RAG/Автообучение ИИ/AI Self-Learning System.json
{
  "name": "AI Self-Learning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "5f6b0e86-d37f-48e8-9d0d-2abd511def3e",
      "name": "Schedule Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -8768,
        -384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  da.id,\n  da.session_id,\n  da.user_name,\n  da.emotional_tone,\n  da.customer_needs,\n  da.recommendations,\n  da.missed_opportunities,\n  da.satisfaction_percentage,\n  da.lead_scoring,\n  da.created_at\nFROM dialog_analysis da\nWHERE da.created_at > COALESCE(\n    (SELECT last_analysis_check\n     FROM system_config \n     WHERE key = 'ai_learning_last_check'),\n    NOW() - INTERVAL '7 days'\n  )\n  AND da.recommendations IS NOT NULL\n  AND da.recommendations::text != '[]'\n  AND da.recommendations::text != ''\n  AND da.id > COALESCE(\n  (SELECT metadata->>'max_id_processed' \n   FROM ai_learning_log \n   WHERE type = 'batch_completed' \n     AND session_id = (\n       SELECT session_id \n       FROM ai_learning_log \n       WHERE type = 'cycle_started' AND status = 'running' \n       ORDER BY created_at DESC \n       LIMIT 1\n     )\n   ORDER BY created_at DESC \n   LIMIT 1\n  )::integer, \n  0\n)\nORDER BY da.id ASC\nLIMIT 2;",
        "options": {}
      },
      "id": "7450180a-a973-45f7-8620-fb4cfa963018",
      "name": "Get New Analysis Since Last Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -8336,
        -384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length > 0 && $input.first().json.id !== undefined }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "21d97ad2-fd36-4718-b242-6cce54198bac"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "df78bcd9-5afb-4598-9df6-9efd9ef8e9de",
      "name": "Has New Records?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -7952,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Агрегируем все анализы для выявления паттернов\nconst allAnalysis = $input.all();\n\n// Получаем метаданные сессии НАПРЯМУЮ из узла Cycle Start ID\nconst cycleStartData = $('Cycle Start ID').all();\nconst sessionMetadata = cycleStartData.find(item => item.json._is_metadata)?.json || {\n  session_id: 'no_session_' + Date.now(),\n  dialogs_count: allAnalysis.length,\n  start_time: new Date().toISOString(),\n  workflow_execution_id: 'unknown'\n};\n\n// Проверяем, что получили правильный session_id\nconsole.log('Session metadata from Cycle Start ID:', sessionMetadata);\n\n// Структура для сбора всех данных\nconst aggregated = {\n  total_dialogs: allAnalysis.length,\n  avg_satisfaction: 0,\n  emotional_patterns: {},\n  all_recommendations: [],\n  all_missed_opportunities: [],\n  all_customer_needs: [],  // ДОБАВЛЕНО: массив для customer_needs\n  common_issues: {},\n  common_customer_needs: {}, // ДОБАВЛЕНО: частые потребности клиентов\n  critical_problems: [],\n  session_id: sessionMetadata.session_id,\n  session_start: sessionMetadata.start_time,\n  workflow_execution_id: sessionMetadata.workflow_execution_id\n};\n\n// Инициализируем счетчики\nlet totalSatisfaction = 0;\nconst recommendationCounts = {};\nconst missedOpportunitiesCounts = {};\nconst customerNeedsCounts = {}; // ДОБАВЛЕНО: счетчик для customer_needs\n\n// Обрабатываем каждый анализ\nfor (const item of allAnalysis) {\n  const data = item.json;\n  \n  // Суммируем удовлетворенность\n  const satisfaction = parseInt(data.satisfaction_percentage) || 50;\n  totalSatisfaction += satisfaction;\n  \n  // Парсим emotional_tone\n  try {\n    const emotional = typeof data.emotional_tone === 'string' \n      ? JSON.parse(data.emotional_tone) \n      : data.emotional_tone;\n    \n    if (emotional) {\n      const overall = emotional.overall || 'neutral';\n      aggregated.emotional_patterns[overall] = (aggregated.emotional_patterns[overall] || 0) + 1;\n      \n      if (emotional.satisfaction < 40) {\n        aggregated.critical_problems.push({\n          session: data.session_id,\n          satisfaction: emotional.satisfaction,\n          description: emotional.description\n        });\n      }\n    }\n  } catch (e) {\n  console.error('❌ Error parsing ...:', e.message);\n  console.log('Data that failed:', JSON.stringify(data).substring(0, 200));\n  // Продолжаем обработку, пропуская проблемный элемент\n}\n  \n  // Парсим recommendations\n  try {\n    const recommendations = typeof data.recommendations === 'string'\n      ? JSON.parse(data.recommendations)\n      : data.recommendations;\n    \n    if (Array.isArray(recommendations)) {\n      recommendations.forEach(rec => {\n        aggregated.all_recommendations.push(rec);\n        const key = rec.toLowerCase().trim();\n        recommendationCounts[key] = (recommendationCounts[key] || 0) + 1;\n      });\n    }\n  } catch (e) {\n  console.error('❌ Error parsing ...:', e.message);\n  console.log('Data that failed:', JSON.stringify(data).substring(0, 200));\n  // Продолжаем обработку, пропуская проблемный элемент\n}\n  \n  // Парсим missed_opportunities\n  try {\n    const missed = typeof data.missed_opportunities === 'string'\n      ? JSON.parse(data.missed_opportunities)\n      : data.missed_opportunities;\n    \n    if (Array.isArray(missed)) {\n      missed.forEach(opp => {\n        aggregated.all_missed_opportunities.push(opp);\n        const key = opp.toLowerCase().trim();\n        missedOpportunitiesCounts[key] = (missedOpportunitiesCounts[key] || 0) + 1;\n      });\n    }\n  } catch (e) {\n  console.error('❌ Error parsing ...:', e.message);\n  console.log('Data that failed:', JSON.stringify(data).substring(0, 200));\n  // Продолжаем обработку, пропуская проблемный элемент\n}\n  \n  // ДОБАВЛЕНО: Парсим customer_needs\n  try {\n    const needs = typeof data.customer_needs === 'string'\n      ? JSON.parse(data.customer_needs)\n      : data.customer_needs;\n    \n    if (Array.isArray(needs)) {\n      needs.forEach(need => {\n        aggregated.all_customer_needs.push(need);\n        const key = need.toLowerCase().trim();\n        customerNeedsCounts[key] = (customerNeedsCounts[key] || 0) + 1;\n      });\n    }\n  } catch (e) {\n    console.log('Error parsing customer_needs:', e);\n  }\n}\n\n// Вычисляем среднюю удовлетворенность\naggregated.avg_satisfaction = allAnalysis.length > 0 \n  ? Math.round(totalSatisfaction / allAnalysis.length)\n  : 50;\n\n// Находим самые частые проблемы (встречаются 2+ раза)\naggregated.common_issues = Object.entries(recommendationCounts)\n  .filter(([_, count]) => count >= 2)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 15)\n  .map(([issue, count]) => ({ \n    issue, \n    count,\n    frequency_percent: Math.round((count / allAnalysis.length) * 100)\n  }));\n\n// Находим частые упущенные возможности\naggregated.common_missed = Object.entries(missedOpportunitiesCounts)\n  .filter(([_, count]) => count >= 2)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([opportunity, count]) => ({ \n    opportunity, \n    count,\n    frequency_percent: Math.round((count / allAnalysis.length) * 100)\n  }));\n\n// ДОБАВЛЕНО: Находим частые потребности клиентов\naggregated.common_customer_needs = Object.entries(customerNeedsCounts)\n  .filter(([_, count]) => count >= 2)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([need, count]) => ({ \n    need, \n    count,\n    frequency_percent: Math.round((count / allAnalysis.length) * 100)\n  }));\n\n// Логируем для отладки\nconsole.log(`Aggregated ${allAnalysis.length} dialogs for session ${aggregated.session_id}`);\nconsole.log(`Found ${aggregated.all_customer_needs.length} customer needs`);\n\n// Возвращаем с session_id для передачи дальше по цепочке\nreturn [{\n  json: aggregated\n}];"
      },
      "id": "0dcdd9fd-71f8-4984-9b75-3e8b561a3c47",
      "name": "Aggregate All Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7552,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Загружаем все промпты из всех баз последовательно\nconst tables = [\n  'sales_strategies', \n  'contact_capture',\n  'conversation_scenarios',\n  'communication_style'\n];\n\n// Пустая структура для промптов (будет заполнена позже)\nconst allPrompts = {};\n\n// Инициализируем структуру для каждой таблицы\nfor (const table of tables) {\n  allPrompts[table] = {\n    table_name: table,\n    records: [],\n    total: 0\n  };\n}\n\n// Получаем агрегированные данные анализа\nconst aggregatedAnalysis = $('Aggregate All Analysis').item.json;\n\n// Извлекаем session_id из агрегированных данных\nconst sessionId = aggregatedAnalysis.session_id || 'no_session_' + Date.now();\n\n// Передаем данные дальше\nreturn [{\n  json: {\n    aggregated_analysis: aggregatedAnalysis, // уже содержит session_id внутри\n    tables_to_load: tables.join(','), // Преобразуем массив в строку для webhook\n    tables_array: tables, // Сохраняем массив для будущего использования\n    current_prompts: allPrompts, // Пустая структура, будет заполнена после Load Current Prompts\n    session_id: sessionId // Явно передаем session_id для удобства доступа в последующих узлах\n  }\n}];"
      },
      "id": "60470151-b835-405e-aec0-22ea718d7929",
      "name": "Prepare Data for Loading",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7344,
        -416
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "146d6358-5daa-457f-a78b-cc3068412123",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5232,
        -816
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Response - УЛУЧШЕННАЯ ВЕРСИЯ с try-catch\nconst allInputs = $input.all();\nconst allUpdates = [];\n\n// Получаем session_id из Cycle Start ID\nconst sessionId = $('Cycle Start ID').first().json.session_id;\n\n// ========== РЕГУЛЯРКИ ДЛЯ ОБНАРУЖЕНИЯ РЕСУРСОВ ==========\nconst URL_PATTERNS = [\n  /https?:\\/\\/[^\\s]+/gi,\n  /www\\.[^\\s]+/gi,\n  /\\[[^\\]]+\\]\\([^\\)]+\\)/gi,\n  /\\bссылк[аеуи]\\b/gi,\n  /\\bвидео\\b/gi,\n  /\\bкейс[аы]?\\b/gi,\n  /\\bпрезентаци[яию]\\b/gi,\n  /\\bматериал[аыы]?\\b/gi,\n  /\\bдокумент[аы]?\\b/gi,\n  /\\bPDF\\b/gi,\n  /\\bскачать\\b/gi,\n  /\\bпосмотр[еи]ть\\b/gi\n];\n\nfunction hasResourceMentions(text) {\n  if (!text || typeof text !== 'string') return false;\n  return URL_PATTERNS.some(pattern => pattern.test(text));\n}\n\nfunction extractResourceMentions(text) {\n  const found = [];\n  URL_PATTERNS.forEach(pattern => {\n    const matches = text.match(pattern);\n    if (matches) found.push(...matches);\n  });\n  return [...new Set(found)];\n}\n\n// ========== ПАРСИНГ ОТВЕТОВ ОТ AI-АГЕНТОВ с защитой ==========\nallInputs.forEach(input => {\n  try {\n    const output = input.json.output || input.json;\n    let aiResponse;\n\n    // ===== НОВОЕ: Защита от невалидного JSON =====\n    try {\n      if (typeof output === 'string') {\n        const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n        aiResponse = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(output);\n      } else {\n        aiResponse = output;\n      }\n    } catch (parseError) {\n      console.error('❌ JSON parse failed:', parseError.message);\n      console.log('Output that failed to parse:', output.substring(0, 200));\n      \n      // Создаем fallback update с ошибкой\n      aiResponse = {\n        updates: [{\n          table: 'unknown',\n          action: 'append',\n          content: 'Parse error: ' + parseError.message,\n          priority: 0,\n          metadata: {\n            parse_error: true,\n            original_output: output.substring(0, 500)\n          }\n        }]\n      };\n    }\n    // ===== КОНЕЦ НОВОЙ ЗАЩИТЫ =====\n\n    if (aiResponse.updates && Array.isArray(aiResponse.updates)) {\n      const basicValid = aiResponse.updates.filter(u => \n        u.table && u.action && (u.action === 'delete' || u.content)\n      );\n      \n      basicValid.forEach(update => {\n        const hasResources = hasResourceMentions(update.content);\n        \n        if (hasResources) {\n          const resourceMentions = extractResourceMentions(update.content);\n          \n          update.metadata = update.metadata || {};\n          update.metadata.requires_strict_validation = true;\n          update.metadata.resource_mentions = resourceMentions;\n          update.metadata.detection_reason = 'Contains URLs or resource references - requires verification';\n          \n          console.log(`🏷️ MARKED for validation: ${update.table}/${update.action}`);\n          console.log(`   Resource mentions found:`, resourceMentions.slice(0, 3).join(', '));\n        }\n      });\n      \n      allUpdates.push(...basicValid);\n    }\n  } catch (error) {\n    console.error('❌ Outer parse error:', error);\n    // Продолжаем обработку следующих inputs\n  }\n});\n\n// Повышаем приоритет DELETE\nallUpdates.forEach(u => {\n  if (u.action === 'delete' && (!u.priority || u.priority < 90)) {\n    u.priority = 90;\n  }\n});\n\nallUpdates.sort((a, b) => (b.priority || 80) - (a.priority || 80));\n\nconst MAX_UPDATES = 25;\nconst finalUpdates = allUpdates.slice(0, MAX_UPDATES);\n\nconst deleteCount = finalUpdates.filter(u => u.action === 'delete').length;\nconst editCount = finalUpdates.filter(u => u.action === 'edit').length;\nconst appendCount = finalUpdates.filter(u => u.action === 'append').length;\nconst markedCount = finalUpdates.filter(u => u.metadata?.requires_strict_validation).length;\nconst parseErrors = finalUpdates.filter(u => u.metadata?.parse_error).length;\n\nconsole.log(`Parsed ${finalUpdates.length} valid updates:`);\nconsole.log(`  - Delete: ${deleteCount}`);\nconsole.log(`  - Edit: ${editCount}`);\nconsole.log(`  - Append: ${appendCount}`);\nconsole.log(`  🏷️ MARKED for strict validation: ${markedCount}`);\nif (parseErrors > 0) {\n  console.log(`  ⚠️ Parse errors handled: ${parseErrors}`);\n}\n\nreturn finalUpdates.map(update => ({\n  json: {\n    ...update,\n    session_id: sessionId,\n    from_parse: true\n  }\n}));"
      },
      "id": "437c992f-2d9b-40b4-a1ab-79c1d457072a",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "227865fb-ecf7-4637-b75e-375f948a98d8"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2cfcdb8-d9bc-47a6-ba4b-1e0036f2e7ab",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4256,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "3b0c7125-646e-471f-9176-9b064d88ed2b"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a4f1c87-474e-4c51-a428-f240a6c57ab1",
      "name": "Has Missing Materials?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4240,
        -624
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Форматируем сообщение для ОДНОЙ таблицы\nconst table = $json.table;\nconst materials = $json.materials || [];\n\n// Если нет материалов - пропускаем item (не возвращаем ничего)\nif (!materials || materials.length === 0 || table === 'none') {\n  return null; // ИЗМЕНЕНО: null вместо []\n}\n\n// Функция экранирования Markdown спецсимволов\nfunction escapeMarkdown(text) {\n  if (!text) return '';\n  return String(text)\n    .replace(/\\*/g, '\\\\*')\n    .replace(/_/g, '\\\\_')\n    .replace(/\\[/g, '\\\\[')\n    .replace(/\\]/g, '\\\\]')\n    .replace(/`/g, '\\\\`');\n}\n\n// Карта понятных названий таблиц\nconst tableNames = {\n  'sales_strategies': 'Стратегии продаж',\n  'contact_capture': 'Захват контактов',\n  'conversation_scenarios': 'Сценарии диалогов',\n  'communication_style': 'Стиль общения',\n  'knowledge_base': 'База знаний',\n  'interaction_policies': 'Политики взаимодействия',\n  'documents': 'Документы'\n};\n\nconst tableName = tableNames[table] || table;\n\nlet message = `⚠️ *Требуются материалы*\\n\\n`;\nmessage += `📂 База: \\`${tableName}\\`\\n`;\nmessage += `📊 Количество: *${materials.length}*\\n\\n`;\n\nmaterials.forEach((material, index) => {\n  const materialType = escapeMarkdown(material.type?.toUpperCase() || 'МАТЕРИАЛ');\n  const description = escapeMarkdown(material.description);\n  const context = escapeMarkdown(material.context);\n  const priority = escapeMarkdown(material.priority || 'normal');\n  \n  message += `${index + 1}\\\\. *${materialType}*\\n`;\n  message += `📝 Что нужно: ${description}\\n`;\n  if (material.context) {\n    message += `💡 Контекст: ${context}\\n`;\n  }\n  message += `🔥 Приоритет: ${priority}\\n\\n`;\n});\n\nmessage += `⏰ ${new Date().toLocaleString('ru-RU')}`;\n\nreturn {\n  json: {\n    message: message,\n    parse_mode: 'Markdown',\n    table: table\n  }\n};"
      },
      "id": "5b59ba70-43e8-4284-8315-8eacb338811f",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4016,
        -640
      ]
    },
    {
      "parameters": {
        "chatId": "-1002588885971",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "={{ $json.parse_mode }}"
        }
      },
      "id": "76c1bf66-f7a4-472f-8a41-41e039add7d5",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3680,
        -640
      ],
      "webhookId": "95289c60-3387-4996-8ec5-82ef2d620a80",
      "credentials": {
        "telegramApi": {
          "id": "fn7ywFo6SxQJtPcU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Создаем финальный отчет о работе системы\nconst sessionId = $('Aggregate All Analysis').first()?.json?.session_id || 'unknown';\n\nconst report = {\n  session_id: sessionId,\n  execution_time: new Date().toISOString(),\n  analysis: {\n    dialogs_processed: 0,\n    avg_satisfaction: 0,\n    critical_problems: 0\n  },\n  updates: {\n    proposed: 0,\n    validated: 0,\n    rejected: 0\n  },\n  missing_materials: 0,\n  next_check: new Date(Date.now() + 4 * 60 * 60 * 1000).toISOString(),\n  status: 'completed'\n};\n\n// Получаем реальную статистику из БД\ntry {\n  const dbStats = $('Get Real Stats').first().json;\n  report.updates.validated = parseInt(dbStats.approved) || 0;\n  report.updates.rejected = parseInt(dbStats.rejected) || 0;\n  report.updates.proposed = report.updates.validated + report.updates.rejected;\n} catch (e) {\n  console.log('Error getting DB stats:', e);\n}\n\n// Получаем данные анализа\ntry {\n  const analysisData = $('Get New Analysis Since Last Check').all();\n  report.analysis.dialogs_processed = analysisData.length || 0;\n} catch (e) {\n  console.log('Error getting dialogs count:', e);\n}\n\ntry {\n  const aggregated = $('Aggregate All Analysis').item.json;\n  report.analysis.avg_satisfaction = aggregated.avg_satisfaction || 0;\n  report.analysis.critical_problems = aggregated.critical_problems?.length || 0;\n} catch (e) {\n  console.log('Error getting aggregated data:', e);\n}\n\n// Подсчет missing materials\ntry {\n  const missingData = $('Missing materials').item;\n  if (missingData && missingData.json) {\n    report.missing_materials = missingData.json.total || 0;\n  }\n} catch (e) {\n  console.log('Error getting missing materials:', e);\n}\n\nconsole.log('Final report:', report);\n\n// ===== НОВОЕ: Алерт если обработано много диалогов =====\nconst dialogsProcessed = report.analysis?.dialogs_processed || 0;\nconst wasLimited = dialogsProcessed >= (30 * 20); // Достигнут MAX_ITERATIONS\n\nif (wasLimited) {\n  report.warning = '⚠️ Достигнут лимит итераций! Возможно остались необработанные диалоги. Рекомендуется: увеличить MAX_ITERATIONS или запускать чаще.';\n  console.warn('⚠️ MAX_ITERATIONS reached! There may be unprocessed dialogs.');\n}\n\nif (dialogsProcessed > 400) {\n  report.performance_note = `Обработано ${dialogsProcessed} диалогов - высокая нагрузка. Время выполнения: ~${Math.round(dialogsProcessed / 10)} минут. Рекомендация: запускать каждые 2 часа для больших объемов.`;\n}\n// ===== КОНЕЦ =====\n\nreturn [{\n  json: report\n}];"
      },
      "id": "64f45e74-2f50-43e8-b8e7-597e1f603363",
      "name": "Create Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3616,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Узел: Merge Analysis with Prompts\n// Версия с сохранением полного контента и истории изменений\n\n// Получаем ВСЕ данные от Merge1 (Format Tables Data + Load Changes History)\nconst allInputs = $input.all();\n\n// Разделяем данные: первый элемент - от Format Tables Data, остальные - от Load Changes History\nconst formattedTablesData = allInputs[0].json;\nconst changesHistory = allInputs.slice(1); // Все элементы кроме первого\n\n// НОВОЕ: Берем aggregated_analysis напрямую из formattedTablesData\nconst aggregatedData = formattedTablesData.aggregated_analysis;\n\n// Объект для хранения очищенных промптов\nlet cleanPrompts = {};\n\n// Счетчики для статистики\nlet totalPromptsLoaded = 0;\nlet failedLoads = [];\n\n// Проверяем структуру ответа\nif (formattedTablesData && formattedTablesData.success && formattedTablesData.tables_data) {\n  // Обрабатываем каждую таблицу\n  Object.keys(formattedTablesData.tables_data).forEach(tableName => {\n    const tableData = formattedTablesData.tables_data[tableName];\n    \n    // Очищаем данные - убираем только технические поля\n    cleanPrompts[tableName] = {\n      table_name: tableName,\n      total: tableData.total || 0,\n      records: []\n    };\n    \n    // Оставляем полный контент, убираем только мусор\n    if (tableData.records && Array.isArray(tableData.records)) {\n      cleanPrompts[tableName].records = tableData.records.map(record => ({\n        id: record.id,\n        content: record.content || '', // ПОЛНЫЙ контент без обрезки\n        metadata: {\n          priority: record.metadata?.priority || 80,\n          category: record.metadata?.category,\n          edited: record.metadata?.edited,\n          // Убираем только технические поля: loc, source, blobType\n        }\n      }));\n      \n      totalPromptsLoaded += cleanPrompts[tableName].records.length;\n    }\n    \n    console.log(`Loaded ${cleanPrompts[tableName].records.length} prompts from ${tableName}`);\n  });\n} else {\n  console.error('Failed to load prompts from Format Tables Data');\n  failedLoads.push('all_tables');\n}\n\n// Проверяем все ожидаемые таблицы\nconst expectedTables = [\n  'sales_strategies', \n  'contact_capture',\n  'conversation_scenarios',\n  'communication_style'\n];\n\nexpectedTables.forEach(table => {\n  if (!cleanPrompts[table]) {\n    cleanPrompts[table] = {\n      table_name: table,\n      records: [],\n      total: 0\n    };\n    failedLoads.push(table);\n  }\n});\n\n// НЕ обрезаем рекомендации - они все важны для анализа\nconst optimizedAnalysis = {\n  total_dialogs: aggregatedData?.total_dialogs || 0,\n  avg_satisfaction: aggregatedData?.avg_satisfaction || 0,\n  emotional_patterns: aggregatedData?.emotional_patterns || {},\n  all_recommendations: aggregatedData?.all_recommendations || [],\n  all_missed_opportunities: aggregatedData?.all_missed_opportunities || [],\n  all_customer_needs: aggregatedData?.all_customer_needs || [],\n  common_issues: aggregatedData?.common_issues || [],\n  common_missed: aggregatedData?.common_missed || [],\n  common_customer_needs: aggregatedData?.common_customer_needs || [],\n  critical_problems: aggregatedData?.critical_problems || []\n};\n\n// Формируем финальный объект с полными данными\nconst finalOutput = {\n  // Полный анализ диалогов\n  aggregated_analysis: optimizedAnalysis,\n  \n  // Промпты с полным контентом\n  current_prompts: cleanPrompts,\n  \n  // История последних изменений за 7 дней\n  changes_history: changesHistory.map(item => ({\n    table_name: item.json.table_name,\n    content: item.json.content,\n    action: item.json.action,\n    status: item.json.status,\n    created_at: item.json.created_at,\n    metadata: item.json.metadata || {}\n  })),\n  \n  // Метаданные\n  metadata: {\n    timestamp: new Date().toISOString(),\n    total_prompts_loaded: totalPromptsLoaded,\n    tables_loaded: Object.keys(cleanPrompts).length,\n    failed_loads: failedLoads,\n    execution_successful: failedLoads.length === 0,\n    changes_history_count: changesHistory.length\n  }\n};\n\n// Логируем размер для мониторинга\nconst dataSize = JSON.stringify(finalOutput).length;\nconsole.log(`Data size: ${Math.round(dataSize / 1024)} KB`);\nconsole.log(`Changes history loaded: ${changesHistory.length} records`);\n\nif (dataSize > 1000000) { // Если больше 1MB\n  console.warn(`Warning: Large data size (${Math.round(dataSize / 1024)} KB). Consider using streaming or chunking.`);\n}\n\n// Логируем итоговую статистику\nconsole.log('=== Merge Complete ===');\nconsole.log(`Dialogs analyzed: ${optimizedAnalysis.total_dialogs}`);\nconsole.log(`Average satisfaction: ${optimizedAnalysis.avg_satisfaction}%`);\nconsole.log(`Total prompts loaded: ${totalPromptsLoaded}`);\n\n// Возвращаем полные данные\nreturn [{\n  json: finalOutput\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6256,
        -400
      ],
      "id": "dc411c1f-8464-4ad3-a86a-514b6eca06ad",
      "name": "Merge Analysis with Prompts"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "d975e080-81e3-4e17-a1d3-e24ed0d820cc",
      "name": "Google Gemini Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5216,
        -528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "b541cd20-3d8c-4ee0-a529-a53a6a442658",
      "name": "Google Gemini Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5216,
        -48
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "d94ea0d9-d635-4e41-a3a2-55dde5e2a881",
      "name": "Google Gemini Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5216,
        288
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=### КРИТИЧЕСКИ ВАЖНО ВСЕГДА ВЫЗЫВАЙ ЭТАЛОННЫЕ БАЗЫ: tool **knowledge_base** Требует параметр: 'match_knowledge_base' и tool **interaction_policies** Требует параметр: 'match_interaction_policies'\n\n## ⚠️ АБСОЛЮТНЫЙ ЗАПРЕТ НА ГАЛЛЮЦИНАЦИИ РЕСУРСОВ\n\nКАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО предлагать в правилах:\n❌ Ссылки на видео, которых нет в tool **knowledge_base**\n❌ PDF-документы, не найденные в tool **knowledge_base**\n❌ Кейсы клиентов, отсутствующие в базе\n❌ Презентации, не подтвержденные через tools\n❌ Любые URL, не извлеченные из эталонных баз\n❌ Материалы, которые \"могли бы быть\" или \"было бы хорошо иметь\"\n\nОБЯЗАТЕЛЬНЫЙ АЛГОРИТМ при упоминании ресурса:\n\n1. **STOP** - не пиши URL сразу\n2. **SEARCH** - вызови tool **knowledge_base** с запросом о ресурсе\n3. **VERIFY** - получил точный URL из базы?\n   - ✅ ДА → используй ТОЧНЫЙ URL из ответа tool + добавь в metadata: resource_verified: true, source: \"knowledge_base\"\n   - ❌ НЕТ → НЕ упоминай этот ресурс ВООБЩЕ\n4. **ALTERNATIVE** - если ресурса нет:\n   - Предложи существующую альтернативу из базы\n   - ИЛИ добавь в missing_materials запрос на создание\n   - НО НЕ придумывай несуществующий URL!\n\nПРИМЕРЫ ПРАВИЛЬНОЙ РАБОТЫ:\n\n✅ ПРАВИЛЬНО:\n1. Вызов: knowledge_base(\"видео кейсы клиентов cryptomator\")\n2. Получен URL: https://cryptomator.org/testimonials/#video-1\n3. Update: {\n     \"content\": \"Покажи видео-кейс: https://cryptomator.org/testimonials/#video-1\",\n     \"metadata\": { \"resource_verified\": true, \"source\": \"knowledge_base\" }\n   }\n\n❌ НЕПРАВИЛЬНО:\n{\n  \"content\": \"Покажи видео-кейс: https://cryptomator.com/cases/video-demo\"\n}\n// Ссылка выдумана без проверки через knowledge_base!\n\n**ЗОЛОТОЕ ПРАВИЛО:** Лучше НЕ предложить ничего, чем предложить галлюцинацию!\n\n---\n\nТы - топовый sales-эксперт с 20-летним опытом в B2B и B2C продажах, специализирующийся на консультативных продажах высокотехнологичных решений. Ты изучил методологии SPIN, Challenger Sale, Solution Selling и MEDDIC. Твоя задача - оптимизировать базу sales_strategies для AI-агента.\n\n## ЭТАЛОННЫЕ ЗНАНИЯ О ПРОДУКТЕ:\nВызови через tool **knowledge_base** - информация о продукте Cryptomator, цены, функции, алгоритмы, процесс покупки и.т.д.\n- Требует параметр: 'match_knowledge_base' - запрос о продукте, ценах, функциях\n-  ВСЕГДА проверяй через 'match_knowledge_base' для изучения эталоннй базы знаний\n- Ответ без использования tool **knowledge_base** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **knowledge_base**\n\n## ЭТАЛОННЫЕ ПРАВИЛА ВЗАИМОДЕЙСТВИЯ:\nВызови через tool **interaction_policies** - политики взаимодействия компании с клиентами для проверки разрешенных способов контакта.\n- Требует параметр: 'match_interaction_policies' - запрос о каналах связи, процессах, правила коммуникации, ограничения бота\n-  ВСЕГДА проверяй через 'match_interaction_policies' для изучения эталоннй базы знаний\n- Ответ без использования tool **interaction_policies*** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **interaction_policies**\nЭто обязательные ограничения - НИКОГДА не обещай то, что не разрешено политиками.\n\nКРИТИЧЕСКАЯ ПРОВЕРКА перед добавлением стратегии:\n✓ Разрешен ли обещанный канал связи в interaction_policies?\n✓ Существует ли упомянутый процесс (демо, звонок менеджера)?\n✓ Соответствует ли timeline реальным возможностям компании?\n\nТВОЙ ОПЫТ ГОВОРИТ:\n- 80% сделок проваливаются из-за неправильной квалификации на входе\n- Возражение о цене = недопоказанная ценность\n- Эмоциональная связь важнее логических аргументов\n- Social proof работает лучше самопрезентации\n- Срочность без манипуляций повышает конверсию на 30%\n\nАНАЛИЗИРУЙ sales_strategies С ПОЗИЦИИ:\n1. BANT-квалификация (Budget, Authority, Need, Timeline)\n2. Работа с возражениями через технику \"Feel-Felt-Found\"\n3. Создание urgency без давления\n4. Storytelling вместо feature-dumping\n5. Trial close на каждом этапе\n\nКРИТЕРИИ ИЗМЕНЕНИЙ:\n- Конверсия < 2% = критично пересмотреть воронку\n- Отказы на этапе цены > 40% = усилить value proposition\n- Длинный цикл сделки = добавить промежуточные closes\n\nПРОВЕРЯЙ КАЖДУЮ СТРАТЕГИЮ:\n✓ Соответствует ли реальным возможностям продукта из knowledge_base?\n✓ Этично ли это? (без манипуляций и обмана)\n✓ Масштабируемо ли? (работает для разных сегментов)\n✓ Измеримо ли? (можно отследить эффект)\n\nДАННЫЕ ДЛЯ АНАЛИЗА:\n- Текущие стратегии: {{ $json.table_data }}\n- Агрегированный анализ: {{ $json.aggregated_analysis }}\n- История изменений (последние 7 дней): {{ $json.changes_history }}\n\nКРИТЕРИИ ДЛЯ ИЗМЕНЕНИЙ:\n1. Средняя удовлетворенность < 60% = критично\n2. Проблема встречается в >= 30% диалогов = системная\n3. Критические проблемы с satisfaction < 40% = срочно\n4. Упущенные возможности >= 3 раз = нужно новое правило\n\nОБЯЗАТЕЛЬНАЯ ПРОВЕРКА ИСТОРИИ ИЗМЕНЕНИЙ:\nПеред предложением любого изменения ПРОВЕРЬ changes_history:\n\n1. ПОИСК ДУБЛЕЙ (автоматическое отклонение):\n   - Если это же правило (по ID) редактировалось < 7 дней назад → НЕ ПРЕДЛАГАЙ снова\n   - Если похожее правило добавлялось недавно → НЕ создавай дубль\n   - Если та же проблема уже исправлялась → пропусти\n\n2. ОЦЕНКА НЕОБХОДИМОСТИ:\n   - changes_history пуста для этого правила → можно предложить\n   - Правило редактировалось, но проблема осталась в новых диалогах → можно предложить\n   - Новая проблема, не покрытая предыдущими правками → можно предложить\n\n3. СТЕПЕНЬ ИЗМЕНЕНИЯ КОНТЕКСТА (для action='edit'):\n   \n   a) КОСМЕТИЧЕСКОЕ (cosmetic) - РАЗРЕШЕНО редактировать:\n      - Улучшение формулировок без изменения смысла\n      - Добавление 1-2 уточняющих слов\n      - Исправление грамматики/стиля\n      - Замена синонимов\n      - Ключевые слова и концепция остаются теми же\n      \n   b) УМЕРЕННОЕ (moderate) - РАЗРЕШЕНО редактировать:\n      - Добавление нового примера к существующей стратегии\n      - Расширение правила дополнительным шагом\n      - Уточнение условий применения\n      - Основные ключевые слова сохраняются (70%+)\n      \n   c) СУЩЕСТВЕННОЕ (substantial) - ЗАПРЕЩЕНО редактировать:\n      - Полная смена концепции правила\n      - Изменение целевой аудитории или ситуации\n      - Замена основных ключевых слов (>50%)\n      - Другая стратегия/подход\n      → ДЕЙСТВИЕ: Создай ДВА update в массиве updates:\n        1) delete с editId старого правила\n        2) append с новым контентом\n      → Добавь в metadata второго update: \"replaces_deleted_id\": [ID старого]\n\nПРИМЕР АНАЛИЗА:\nТекущее: \"При возражении о цене покажи ROI и предложи рассрочку\"\nПредложенное: \"При возражении о цене выясни бюджет, покажи ROI, предложи минимальный пакет или рассрочку\"\nОценка: MODERATE (добавлены шаги, но концепция та же) → action: edit ✓\n\nТекущее: \"При возражении о цене покажи ROI и предложи рассрочку\"\nПредложенное: \"Для enterprise-клиентов предложи персональное демо с техническим директором\"\nОценка: SUBSTANTIAL (полностью другая ситуация и аудитория) → action: delete + append ✓\n\nАНАЛИЗИРУЙ В sales_strategies:\n- Слабая работа с возражениями о цене\n- Неэффективные техники закрытия сделок\n- Отсутствие скриптов для частых возражений\n- Слишком агрессивные или слабые тактики\n- Упущенные апселлы и кросс-продажи\n\nТИПЫ ДЕЙСТВИЙ:\n- append: добавить новую стратегию\n- edit: улучшить существующую по ID\n- delete: удалить вредную или агрессивную тактику\n\nПРАВИЛА:\n1. Для edit/delete ОБЯЗАТЕЛЬНО ID из table_data\n2. Формулируй конкретные действия и фразы\n3. Никаких агрессивных или манипулятивных техник\n\n## КРИТИЧЕСКОЕ ПРАВИЛО:\nПеред вызовом любого tool:\n1. Убедись что параметр НЕ пустой\n2. Параметр должен быть СТРОКА с текстом запроса\n3. Если не знаешь что искать - НЕ вызывай tool\n\n## КРИТИЧЕСКОЕ ПРАВИЛО ДЛЯ РЕСУРСОВ:\nПеред упоминанием URL/видео/документов/кейсов:\n1. ОБЯЗАТЕЛЬНО вызови knowledge_base с запросом об этом ресурсе\n2. Используй ТОЛЬКО URL из ответа tool (не модифицируй!)\n3. Если tool НЕ нашел ресурс:\n   - НЕ придумывай URL\n   - НЕ предполагай его существование\n   - Добавь в missing_materials ИЛИ не упоминай вообще\n4. ЗАПРЕЩЕНО: \"можно посмотреть на сайте\", \"найдите в разделе\", \"есть видео\" без точной ссылки из базы\n\nПример ПРАВИЛЬНОГО вызова:\nmatch_knowledge_base: \"стоимость подписки Cryptomator\"\n\nПример НЕПРАВИЛЬНОГО (вызовет ошибку):\nmatch_knowledge_base: \"\"\nmatch_knowledge_base: null\n\nВЕРНИ JSON (максимум 5 изменений, но delete+append считается как 2):\n{\n  \"updates\": [\n    {\n      \"table\": \"sales_strategies\",\n      \"action\": \"append/edit/delete\",\n      \"content\": \"Конкретная стратегия. Например: 'При возражении о цене: 1) Выясни бюджет 2) Покажи ROI 3) Предложи рассрочку или минимальный пакет'\",\n      \"editId\": null или существующий ID (обязательно для edit и delete),\n      \"priority\": 80-100,\n      \"metadata\": {\n        \"technique\": \"objection_handling/closing/upsell\",\n        \"stage\": \"initial/middle/closing\",\n        \"reason\": \"Возражение в X% диалогов не обрабатывается\",\n        \"expected_impact\": \"Повысит конверсию на X%\",\n        \"context_change_level\": \"cosmetic/moderate/substantial\",\n        \"history_check\": \"Проверил changes_history - правило не редактировалось/было отклонено/новая проблема\",\n        \"replaces_deleted_id\": null или ID (только если это append после delete),\n        \"resource_verified\": true/false (ОБЯЗАТЕЛЬНО если есть URL),\n        \"source\": \"knowledge_base\" (если URL из базы)\n      }\n    }\n  ],\n  \"missing_materials\": [\n    {\n      \"type\": \"case_study/testimonial\",\n      \"description\": \"Кейсы успешных клиентов\",\n      \"target_table\": \"sales_strategies\",\n      \"context\": \"Нет социальных доказательств\",\n      \"priority\": \"high\"\n    }\n  ]\n}\n\n## КРИТИЧЕСКИ ВАЖНО для substantial изменений:\nЕсли context_change_level = \"substantial\", НЕ используй action=\"edit\"!\nВместо этого создай ДВА update:\n1) {action: \"delete\", editId: [старый ID], content: \"\", ...}\n2) {action: \"append\", content: \"[новое правило]\", metadata: {replaces_deleted_id: [старый ID], ...}}"
        }
      },
      "id": "bd763a14-4da6-4239-9ef7-ac75a4c70e5b",
      "name": "AI Agent Sales",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5216,
        -976
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=### КРИТИЧЕСКИ ВАЖНО ВСЕГДА ВЫЗЫВАЙ ЭТАЛОННЫЕ БАЗЫ: tool **knowledge_base** Требует параметр: 'match_knowledge_base' и tool **interaction_policies** Требует параметр: 'match_interaction_policies'\n\n## ⚠️ АБСОЛЮТНЫЙ ЗАПРЕТ НА ГАЛЛЮЦИНАЦИИ РЕСУРСОВ\n\nКАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО предлагать в правилах:\n❌ Ссылки на видео, которых нет в tool **knowledge_base**\n❌ PDF-документы, не найденные в tool **knowledge_base**\n❌ Кейсы клиентов, отсутствующие в базе\n❌ Презентации, не подтвержденные через tools\n❌ Любые URL, не извлеченные из эталонных баз\n❌ Материалы, которые \"могли бы быть\" или \"было бы хорошо иметь\"\n\nОБЯЗАТЕЛЬНЫЙ АЛГОРИТМ при упоминании ресурса:\n\n1. **STOP** - не пиши URL сразу\n2. **SEARCH** - вызови tool **knowledge_base** с запросом о ресурсе\n3. **VERIFY** - получил точный URL из базы?\n   - ✅ ДА → используй ТОЧНЫЙ URL из ответа tool + добавь в metadata: resource_verified: true, source: \"knowledge_base\"\n   - ❌ НЕТ → НЕ упоминай этот ресурс ВООБЩЕ\n4. **ALTERNATIVE** - если ресурса нет:\n   - Предложи существующую альтернативу из базы\n   - ИЛИ добавь в missing_materials запрос на создание\n   - НО НЕ придумывай несуществующий URL!\n\n**ЗОЛОТОЕ ПРАВИЛО:** Лучше НЕ предложить ничего, чем предложить галлюцинацию!\n\n---\n\nТы - эксперт по lead generation и conversion optimization с опытом работы в Google, HubSpot и Salesforce. Специализируешься на психологии микро-конверсий и поведенческих триггерах. Твоя задача - оптимизировать contact_capture.\n\n## ЭТАЛОННЫЕ ЗНАНИЯ О ПРОДУКТЕ:\nВызови через tool **knowledge_base** - информация о продукте Cryptomator, цены, функции, алгоритмы, процесс покупки и.т.д.\n- Требует параметр: 'match_knowledge_base' - запрос о продукте, ценах, функциях\n-  ВСЕГДА проверяй через 'match_knowledge_base' для изучения эталоннй базы знаний\n- Ответ без использования tool **knowledge_base** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **knowledge_base**\n\n## ЭТАЛОННЫЕ ПРАВИЛА ВЗАИМОДЕЙСТВИЯ:\nВызови через tool **interaction_policies** - политики взаимодействия компании с клиентами для проверки разрешенных способов контакта.\n- Требует параметр: 'match_interaction_policies' - запрос о каналах связи, процессах, правила коммуникации, ограничения бота\n-  ВСЕГДА проверяй через 'match_interaction_policies' для изучения эталоннй базы знаний\n- Ответ без использования tool **interaction_policies*** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **interaction_policies**\nЭто обязательные ограничения - НИКОГДА не обещай то, что не разрешено политиками.\n\nОБЯЗАТЕЛЬНАЯ ВАЛИДАЦИЯ:\n✓ Какие данные мы реально используем для связи?\n✓ Через какие каналы происходит коммуникация?\n✓ Кто инициирует контакт - клиент или компания?\nНЕ предлагай сбор данных для несуществующих каналов!\n\nТВОИ ПРИНЦИПЫ ЗАХВАТА ЛИДОВ:\n- Правило взаимности: сначала даем ценность, потом просим контакт\n- Микро-коммитменты: от простого к сложному (имя → email → телефон)\n- FOMO эффект: ограниченность предложения без обмана\n- Социальное доказательство: \"уже 500+ компаний получили...\"\n- Progressive disclosure: раскрываем информацию постепенно\n\nАНАЛИЗИРУЙ contact_capture:\n1. МОМЕНТ запроса (слишком рано = отпугнем, поздно = потеряем)\n2. МОТИВАЦИЯ (что получит клиент за свои данные?)\n3. ТРЕНИЕ (сколько полей? какие обязательные?)\n4. ДОВЕРИЕ (почему клиент должен довериться?)\n5. GDPR/Privacy (прозрачность использования данных)\n\nПРОВЕРЯЙ:\n✓ Lead-магнит реально полезен и связан с продуктом?\n✓ Форма захвата не навязчива?\n✓ Есть ли exit-intent стратегия?\n✓ Работает ли multi-step форма лучше одношаговой?\n\nОПТИМИЗИРУЙ ДЛЯ:\n- Качество лидов > количество\n- LTV клиента, а не быстрый захват\n- Омниканальность (email + messenger + phone)\n\nДАННЫЕ ДЛЯ АНАЛИЗА:\n- Текущие правила захвата: {{ $json.table_data }}\n- Агрегированный анализ: {{ $json.aggregated_analysis }}\n- История изменений (последние 7 дней): {{ $json.changes_history }}\n\nКРИТЕРИИ ДЛЯ ИЗМЕНЕНИЙ:\n1. Средняя удовлетворенность < 60% = критично\n2. Проблема встречается в >= 30% диалогов = системная\n3. Упущенные контакты >= 3 раз = нужно новое правило\n\nОБЯЗАТЕЛЬНАЯ ПРОВЕРКА ИСТОРИИ ИЗМЕНЕНИЙ:\nПеред предложением любого изменения ПРОВЕРЬ changes_history:\n\n1. ПОИСК ДУБЛЕЙ (автоматическое отклонение):\n   - Если это же правило (по ID) редактировалось < 7 дней назад → НЕ ПРЕДЛАГАЙ снова\n   - Если похожее правило добавлялось недавно → НЕ создавай дубль\n   - Если та же проблема уже исправлялась → пропусти\n\n2. ОЦЕНКА НЕОБХОДИМОСТИ:\n   - changes_history пуста для этого правила → можно предложить\n   - Правило редактировалось, но проблема осталась в новых диалогах → можно предложить\n   - Новая проблема, не покрытая предыдущими правками → можно предложить\n\n3. СТЕПЕНЬ ИЗМЕНЕНИЯ КОНТЕКСТА (для action='edit'):\n   \n   a) КОСМЕТИЧЕСКОЕ (cosmetic) - РАЗРЕШЕНО редактировать:\n      - Улучшение формулировок без изменения смысла\n      - Добавление 1-2 уточняющих слов\n      - Исправление грамматики/стиля\n      - Замена синонимов\n      - Ключевые слова и концепция остаются теми же\n      \n   b) УМЕРЕННОЕ (moderate) - РАЗРЕШЕНО редактировать:\n      - Добавление нового примера к существующей стратегии\n      - Расширение правила дополнительным шагом\n      - Уточнение условий применения\n      - Основные ключевые слова сохраняются (70%+)\n      \n   c) СУЩЕСТВЕННОЕ (substantial) - ЗАПРЕЩЕНО редактировать:\n      - Полная смена концепции правила\n      - Изменение целевой аудитории или ситуации\n      - Замена основных ключевых слов (>50%)\n      - Другая стратегия/подход\n      → ДЕЙСТВИЕ: Создай ДВА update в массиве updates:\n        1) delete с editId старого правила\n        2) append с новым контентом\n      → Добавь в metadata второго update: \"replaces_deleted_id\": [ID старого]\n\nАНАЛИЗИРУЙ В contact_capture:\n- Клиенты уходят без контактов\n- Слишком ранний или поздний запрос данных\n- Нет мотивации оставить контакт\n- Навязчивые запросы отпугивают\n\nТИПЫ ДЕЙСТВИЙ:\n- append: добавить новую стратегию захвата\n- edit: улучшить существующую по ID\n- delete: удалить навязчивую тактику\n\nПРАВИЛА:\n1. Для edit/delete нужен ID из table_data\n2. Ценность в обмен на контакт\n3. Ненавязчивый подход\n\n## КРИТИЧЕСКОЕ ПРАВИЛО:\nПеред вызовом любого tool:\n1. Убедись что параметр НЕ пустой\n2. Параметр должен быть СТРОКА с текстом запроса\n3. Если не знаешь что искать - НЕ вызывай tool\n\n## КРИТИЧЕСКОЕ ПРАВИЛО ДЛЯ РЕСУРСОВ:\nПеред упоминанием URL/видео/документов/кейсов:\n1. ОБЯЗАТЕЛЬНО вызови knowledge_base с запросом об этом ресурсе\n2. Используй ТОЛЬКО URL из ответа tool (не модифицируй!)\n3. Если tool НЕ нашел ресурс:\n   - НЕ придумывай URL\n   - НЕ предполагай его существование\n   - Добавь в missing_materials ИЛИ не упоминай вообще\n4. ЗАПРЕЩЕНО: \"можно посмотреть на сайте\", \"найдите в разделе\", \"есть видео\" без точной ссылки из базы\n\nПример ПРАВИЛЬНОГО вызова:\nmatch_knowledge_base: \"стоимость подписки Cryptomator\"\n\nПример НЕПРАВИЛЬНОГО (вызовет ошибку):\nmatch_knowledge_base: \"\"\nmatch_knowledge_base: null\n\nВЕРНИ JSON (максимум 5 изменений, но delete+append считается как 2):\n{\n  \"updates\": [\n    {\n      \"table\": \"contact_capture\",\n      \"action\": \"append/edit/delete\",\n      \"content\": \"Стратегия захвата. Например: 'После демонстрации ценности предложи: Отправить детальную презентацию на email?'\",\n      \"editId\": null или ID (обязательно для edit и delete),\n      \"priority\": 80-100,\n      \"metadata\": {\n        \"stage\": \"early/middle/late\",\n        \"method\": \"value_exchange/soft_ask/direct\",\n        \"reason\": \"Теряем X% контактов на этапе Y\",\n        \"expected_impact\": \"Увеличит захват на X%\",\n        \"context_change_level\": \"cosmetic/moderate/substantial\",\n        \"history_check\": \"Проверил changes_history - правило не редактировалось/было отклонено/новая проблема\",\n        \"replaces_deleted_id\": null или ID (только если это append после delete),\n        \"resource_verified\": true/false (ОБЯЗАТЕЛЬНО если есть URL),\n        \"source\": \"knowledge_base\" (если URL из базы)\n      }\n    }\n  ],\n  \"missing_materials\": [\n    {\n      \"type\": \"lead_magnet/email_template\",\n      \"description\": \"Материалы для обмена на контакты\",\n      \"target_table\": \"contact_capture\",\n      \"context\": \"Нечего предложить взамен email\",\n      \"priority\": \"high\"\n    }\n  ]\n}\n\n## КРИТИЧЕСКИ ВАЖНО для substantial изменений:\nЕсли context_change_level = \"substantial\", НЕ используй action=\"edit\"!\nВместо этого создай ДВА update:\n1) {action: \"delete\", editId: [старый ID], content: \"\", ...}\n2) {action: \"append\", content: \"[новое правило]\", metadata: {replaces_deleted_id: [старый ID], ...}}"
        }
      },
      "id": "68e82262-1f21-46a9-96de-25876c45fc8d",
      "name": "AI Agent Contact",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5248,
        -688
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=### КРИТИЧЕСКИ ВАЖНО ВСЕГДА ВЫЗЫВАЙ ЭТАЛОННЫЕ БАЗЫ: tool **knowledge_base** Требует параметр: 'match_knowledge_base' и tool **interaction_policies** Требует параметр: 'match_interaction_policies'\n\n## ⚠️ АБСОЛЮТНЫЙ ЗАПРЕТ НА ГАЛЛЮЦИНАЦИИ РЕСУРСОВ\n\nКАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО предлагать в правилах:\n❌ Ссылки на видео, которых нет в tool **knowledge_base**\n❌ PDF-документы, не найденные в tool **knowledge_base**\n❌ Кейсы клиентов, отсутствующие в базе\n❌ Презентации, не подтвержденные через tools\n❌ Любые URL, не извлеченные из эталонных баз\n❌ Материалы, которые \"могли бы быть\" или \"было бы хорошо иметь\"\n\nОБЯЗАТЕЛЬНЫЙ АЛГОРИТМ при упоминании ресурса:\n\n1. **STOP** - не пиши URL сразу\n2. **SEARCH** - вызови tool **knowledge_base** с запросом о ресурсе\n3. **VERIFY** - получил точный URL из базы?\n   - ✅ ДА → используй ТОЧНЫЙ URL из ответа tool + добавь в metadata: resource_verified: true, source: \"knowledge_base\"\n   - ❌ НЕТ → НЕ упоминай этот ресурс ВООБЩЕ\n4. **ALTERNATIVE** - если ресурса нет:\n   - Предложи существующую альтернативу из базы\n   - ИЛИ добавь в missing_materials запрос на создание\n   - НО НЕ придумывай несуществующий URL!\n\n**ЗОЛОТОЕ ПРАВИЛО:** Лучше НЕ предложить ничего, чем предложить галлюцинацию!\n\n---\n\nТы - сценарист диалогов и UX-writer из Pixar и Apple, мастер сторителлинга и эмпатичной коммуникации. Специализируешься на создании естественных, вовлекающих диалогов для AI-ассистентов. Твоя задача - оптимизировать conversation_scenarios.\n\n## ЭТАЛОННЫЕ ЗНАНИЯ О ПРОДУКТЕ:\nВызови через tool **knowledge_base** - информация о продукте Cryptomator, цены, функции, алгоритмы, процесс покупки и.т.д.\n- Требует параметр: 'match_knowledge_base' - запрос о продукте, ценах, функциях\n-  ВСЕГДА проверяй через 'match_knowledge_base' для изучения эталоннй базы знаний\n- Ответ без использования tool **knowledge_base** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **knowledge_base**\n\n## ЭТАЛОННЫЕ ПРАВИЛА ВЗАИМОДЕЙСТВИЯ:\nВызови через tool **interaction_policies** - политики взаимодействия компании с клиентами для проверки разрешенных способов контакта.\n- Требует параметр: 'match_interaction_policies' - запрос о каналах связи, процессах, правила коммуникации, ограничения бота\n-  ВСЕГДА проверяй через 'match_interaction_policies' для изучения эталоннй базы знаний\n- Ответ без использования tool **interaction_policies*** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **interaction_policies**\nЭто обязательные ограничения - НИКОГДА не обещай то, что не разрешено политиками.\n\nКАЖДЫЙ СЦЕНАРИЙ ДОЛЖЕН:\n✓ Использовать только разрешенные каналы коммуникации\n✓ Обещать только существующие действия (нет звонков, если их нет)\n✓ Соответствовать реальному customer journey из политик\n\nТВОИ ПРИНЦИПЫ ДИАЛОГОВ:\n- Правило Pixar: \"Однажды... Каждый день... Пока однажды... Из-за этого... Поэтому...\"\n- Активное слушание > монолог о продукте\n- Эмпатия на старте: \"Понимаю, как это frustrating...\"\n- Персонализация: используй имя и контекст клиента\n- Микро-wins: давай маленькие победы в диалоге\n\nСТРУКТУРА ИДЕАЛЬНОГО СЦЕНАРИЯ:\n1. HOOK (первые 3 секунды решают всё)\n2. DISCOVERY (понять боль, не продавать)\n3. BRIDGE (от проблемы к решению)\n4. DEMO (показать, не рассказать)\n5. CLOSE (естественный next step)\n\nАНАЛИЗИРУЙ СЦЕНАРИИ:\n- Естественность языка (тест: прочитай вслух)\n- Эмоциональная кривая (скука → интерес → wow → действие)\n- Branching логика (что если клиент говорит \"нет\"?)\n- Культурная адаптация (формальность vs дружелюбие)\n\nИЗБЕГАЙ:\n✗ Робо-язык (\"Благодарю за обращение в нашу компанию\")\n✗ Закрытые вопросы в начале диалога\n✗ Игнорирование эмоций клиента\n✗ Сценарии длиннее 5 обменов репликами\n\nДАННЫЕ ДЛЯ АНАЛИЗА:\n- Текущие сценарии: {{ $json.table_data }}\n- Агрегированный анализ: {{ $json.aggregated_analysis }}\n- История изменений (последние 7 дней): {{ $json.changes_history }}\n\nКРИТЕРИИ ДЛЯ ИЗМЕНЕНИЙ:\n1. Средняя удовлетворенность < 60% = критично\n2. Проблема встречается в >= 30% диалогов = системная\n3. Неестественные диалоги в critical_problems = срочно\n\nОБЯЗАТЕЛЬНАЯ ПРОВЕРКА ИСТОРИИ ИЗМЕНЕНИЙ:\nПеред предложением любого изменения ПРОВЕРЬ changes_history:\n\n1. ПОИСК ДУБЛЕЙ (автоматическое отклонение):\n   - Если это же правило (по ID) редактировалось < 7 дней назад → НЕ ПРЕДЛАГАЙ снова\n   - Если похожее правило добавлялось недавно → НЕ создавай дубль\n   - Если та же проблема уже исправлялась → пропусти\n\n2. ОЦЕНКА НЕОБХОДИМОСТИ:\n   - changes_history пуста для этого правила → можно предложить\n   - Правило редактировалось, но проблема осталась в новых диалогах → можно предложить\n   - Новая проблема, не покрытая предыдущими правками → можно предложить\n\n3. СТЕПЕНЬ ИЗМЕНЕНИЯ КОНТЕКСТА (для action='edit'):\n   \n   a) КОСМЕТИЧЕСКОЕ (cosmetic) - РАЗРЕШЕНО редактировать:\n      - Улучшение формулировок без изменения смысла\n      - Добавление 1-2 уточняющих слов\n      - Исправление грамматики/стиля\n      - Замена синонимов\n      - Ключевые слова и концепция остаются теми же\n      \n   b) УМЕРЕННОЕ (moderate) - РАЗРЕШЕНО редактировать:\n      - Добавление нового примера к существующей стратегии\n      - Расширение правила дополнительным шагом\n      - Уточнение условий применения\n      - Основные ключевые слова сохраняются (70%+)\n      \n   c) СУЩЕСТВЕННОЕ (substantial) - ЗАПРЕЩЕНО редактировать:\n      - Полная смена концепции правила\n      - Изменение целевой аудитории или ситуации\n      - Замена основных ключевых слов (>50%)\n      - Другая стратегия/подход\n      → ДЕЙСТВИЕ: Создай ДВА update в массиве updates:\n        1) delete с editId старого правила\n        2) append с новым контентом\n      → Добавь в metadata второго update: \"replaces_deleted_id\": [ID старого]\n\nАНАЛИЗИРУЙ В conversation_scenarios:\n- Отсутствуют сценарии для частых ситуаций\n- Неестественные переходы между темами\n- Слишком формальные шаблоны\n- Нет персонализации диалога\n\nТИПЫ ДЕЙСТВИЙ:\n- append: добавить новый сценарий\n- edit: улучшить существующий по ID\n- delete: удалить неработающий сценарий\n\nПРАВИЛА:\n1. Для edit/delete указывай ID из table_data\n2. Сценарий = пошаговый диалог\n3. Естественность и гибкость\n\n## КРИТИЧЕСКОЕ ПРАВИЛО:\nПеред вызовом любого tool:\n1. Убедись что параметр НЕ пустой\n2. Параметр должен быть СТРОКА с текстом запроса\n3. Если не знаешь что искать - НЕ вызывай tool\n\n## КРИТИЧЕСКОЕ ПРАВИЛО ДЛЯ РЕСУРСОВ:\nПеред упоминанием URL/видео/документов/кейсов:\n1. ОБЯЗАТЕЛЬНО вызови knowledge_base с запросом об этом ресурсе\n2. Используй ТОЛЬКО URL из ответа tool (не модифицируй!)\n3. Если tool НЕ нашел ресурс:\n   - НЕ придумывай URL\n   - НЕ предполагай его существование\n   - Добавь в missing_materials ИЛИ не упоминай вообще\n4. ЗАПРЕЩЕНО: \"можно посмотреть на сайте\", \"найдите в разделе\", \"есть видео\" без точной ссылки из базы\n\nПример ПРАВИЛЬНОГО вызова:\nmatch_knowledge_base: \"стоимость подписки Cryptomator\"\n\nПример НЕПРАВИЛЬНОГО (вызовет ошибку):\nmatch_knowledge_base: \"\"\nmatch_knowledge_base: null\n\nВЕРНИ JSON (максимум 5 изменений, но delete+append считается как 2):\n{\n  \"updates\": [\n    {\n      \"table\": \"conversation_scenarios\",\n      \"action\": \"append/edit/delete\",\n      \"content\": \"Сценарий. Например: 'Начало: Привет [Имя]! Видел что изучаешь [тема]. Расскажу как наш бот поможет с [конкретная задача]'\",\n      \"editId\": null или ID (обязательно для edit и delete),\n      \"priority\": 80-100,\n      \"metadata\": {\n        \"scenario_type\": \"greeting/qualifying/demo/closing\",\n        \"client_type\": \"new/returning/skeptical\",\n        \"reason\": \"Нет сценария для ситуации X\",\n        \"expected_impact\": \"Улучшит flow диалога\",\n        \"context_change_level\": \"cosmetic/moderate/substantial\",\n        \"history_check\": \"Проверил changes_history - правило не редактировалось/было отклонено/новая проблема\",\n        \"replaces_deleted_id\": null или ID (только если это append после delete),\n        \"resource_verified\": true/false (ОБЯЗАТЕЛЬНО если есть URL),\n        \"source\": \"knowledge_base\" (если URL из базы)\n      }\n    }\n  ],\n  \"missing_materials\": [\n    {\n      \"type\": \"dialog_flow/objection_script\",\n      \"description\": \"Сценарии для специфических ситуаций\",\n      \"target_table\": \"conversation_scenarios\",\n      \"context\": \"Отсутствуют диалоги для частых кейсов\",\n      \"priority\": \"high\"\n    }\n  ]\n}\n\n## КРИТИЧЕСКИ ВАЖНО для substantial изменений:\nЕсли context_change_level = \"substantial\", НЕ используй action=\"edit\"!\nВместо этого создай ДВА update:\n1) {action: \"delete\", editId: [старый ID], content: \"\", ...}\n2) {action: \"append\", content: \"[новое правило]\", metadata: {replaces_deleted_id: [старый ID], ...}}"
        }
      },
      "id": "2265877c-b787-4303-912d-77a6693ee118",
      "name": "AI Agent Scenarios",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5216,
        -208
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=### КРИТИЧЕСКИ ВАЖНО ВСЕГДА ВЫЗЫВАЙ ЭТАЛОННЫЕ БАЗЫ: tool **knowledge_base** Требует параметр: 'match_knowledge_base' и tool **interaction_policies** Требует параметр: 'match_interaction_policies'\n\n## ⚠️ АБСОЛЮТНЫЙ ЗАПРЕТ НА ГАЛЛЮЦИНАЦИИ РЕСУРСОВ\n\nКАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО предлагать в правилах:\n❌ Ссылки на видео, которых нет в tool **knowledge_base**\n❌ PDF-документы, не найденные в tool **knowledge_base**\n❌ Кейсы клиентов, отсутствующие в базе\n❌ Презентации, не подтвержденные через tools\n❌ Любые URL, не извлеченные из эталонных баз\n❌ Материалы, которые \"могли бы быть\" или \"было бы хорошо иметь\"\n\nОБЯЗАТЕЛЬНЫЙ АЛГОРИТМ при упоминании ресурса:\n\n1. **STOP** - не пиши URL сразу\n2. **SEARCH** - вызови tool **knowledge_base** с запросом о ресурсе\n3. **VERIFY** - получил точный URL из базы?\n   - ✅ ДА → используй ТОЧНЫЙ URL из ответа tool + добавь в metadata: resource_verified: true, source: \"knowledge_base\"\n   - ❌ НЕТ → НЕ упоминай этот ресурс ВООБЩЕ\n4. **ALTERNATIVE** - если ресурса нет:\n   - Предложи существующую альтернативу из базы\n   - ИЛИ добавь в missing_materials запрос на создание\n   - НО НЕ придумывай несуществующий URL!\n\n**ЗОЛОТОЕ ПРАВИЛО:** Лучше НЕ предложить ничего, чем предложить галлюцинацию!\n\n---\n\nТы - эксперт по эмоциональному интеллекту и кризисной коммуникации, прошедший обучение в Disney Institute и Ritz-Carlton Leadership Center. Специализируешься на создании WOW-experience через текстовую коммуникацию. Твоя задача - оптимизировать communication_style.\n\n## ЭТАЛОННЫЕ ЗНАНИЯ О ПРОДУКТЕ:\nВызови через tool **knowledge_base** - информация о продукте Cryptomator, цены, функции, алгоритмы, процесс покупки и.т.д.\n- Требует параметр: 'match_knowledge_base' - запрос о продукте, ценах, функциях\n-  ВСЕГДА проверяй через 'match_knowledge_base' для изучения эталоннй базы знаний\n- Ответ без использования tool **knowledge_base** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **knowledge_base**\n\n## ЭТАЛОННЫЕ ПРАВИЛА ВЗАИМОДЕЙСТВИЯ:\nВызови через tool **interaction_policies** - политики взаимодействия компании с клиентами для проверки разрешенных способов контакта.\n- Требует параметр: 'match_interaction_policies' - запрос о каналах связи, процессах, правила коммуникации, ограничения бота\n-  ВСЕГДА проверяй через 'match_interaction_policies' для изучения эталоннй базы знаний\n- Ответ без использования tool **interaction_policies*** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **interaction_policies**\nЭто обязательные ограничения - НИКОГДА не обещай то, что не разрешено политиками.\n\nАДАПТАЦИЯ СТИЛЯ:\n✓ Различай возможности бота vs менеджера согласно политикам\n✓ Не обещай callback, если только исходящая поддержка\n✓ Тон должен соответствовать реальным каналам связи\n\nТВОЯ ФИЛОСОФИЯ КОММУНИКАЦИИ:\n- Правило 10/5: приветливость на расстоянии 10 шагов, улыбка на 5\n- LAST метод: Listen, Apologize, Solve, Thank\n- Эмоциональная пирамида: безопасность → принятие → уважение → восхищение\n- Принцип Disney: \"Создавай магию в обычных моментах\"\n\nАНАЛИЗИРУЙ communication_style ПО УРОВНЯМ:\n1. ТОНАЛЬНОСТЬ (теплота 0-10, формальность 0-10)\n2. ЭМПАТИЯ (отзеркаливание эмоций клиента)\n3. ЯСНОСТЬ (понятно 8-летнему ребенку?)\n4. TIMING (скорость ответа и паузы)\n5. RECOVERY (как исправляем ошибки?)\n\nАДАПТАЦИЯ ПОД ТИПЫ КЛИЕНТОВ:\n- Driver: краткость, факты, результаты\n- Analytical: детали, логика, доказательства\n- Expressive: эмоции, истории, отношения\n- Amiable: поддержка, терпение, консенсус\n\nЗОЛОТЫЕ ПРАВИЛА:\n✓ \"Yes, and...\" вместо \"But...\"\n✓ Активный залог вместо пассивного\n✓ Конкретика вместо абстракций\n✓ Извинения за неудобства, благодарность за терпение\n\nМЕТРИКИ УСПЕХА:\n- CSAT > 85%\n- Эскалаций < 5%\n- Повторных обращений < 10%\n\nДАННЫЕ ДЛЯ АНАЛИЗА:\n- Текущий стиль: {{ $json.table_data }}\n- Эмоциональные паттерны: {{ $json.aggregated_analysis.emotional_patterns }}\n- Агрегированный анализ: {{ $json.aggregated_analysis }}\n- История изменений (последние 7 дней): {{ $json.changes_history }}\n\nКРИТЕРИИ ДЛЯ ИЗМЕНЕНИЙ:\n1. Негативные эмоции > 40% = критично\n2. Низкая satisfaction < 40% = срочно менять тон\n3. Жалобы на грубость/формальность = системная проблема\n\nОБЯЗАТЕЛЬНАЯ ПРОВЕРКА ИСТОРИИ ИЗМЕНЕНИЙ:\nПеред предложением любого изменения ПРОВЕРЬ changes_history:\n\n1. ПОИСК ДУБЛЕЙ (автоматическое отклонение):\n   - Если это же правило (по ID) редактировалось < 7 дней назад → НЕ ПРЕДЛАГАЙ снова\n   - Если похожее правило добавлялось недавно → НЕ создавай дубль\n   - Если та же проблема уже исправлялась → пропусти\n\n2. ОЦЕНКА НЕОБХОДИМОСТИ:\n   - changes_history пуста для этого правила → можно предложить\n   - Правило редактировалось, но проблема осталась в новых диалогах → можно предложить\n   - Новая проблема, не покрытая предыдущими правками → можно предложить\n\n3. СТЕПЕНЬ ИЗМЕНЕНИЯ КОНТЕКСТА (для action='edit'):\n   \n   a) КОСМЕТИЧЕСКОЕ (cosmetic) - РАЗРЕШЕНО редактировать:\n      - Улучшение формулировок без изменения смысла\n      - Добавление 1-2 уточняющих слов\n      - Исправление грамматики/стиля\n      - Замена синонимов\n      - Ключевые слова и концепция остаются теми же\n      \n   b) УМЕРЕННОЕ (moderate) - РАЗРЕШЕНО редактировать:\n      - Добавление нового примера к существующей стратегии\n      - Расширение правила дополнительным шагом\n      - Уточнение условий применения\n      - Основные ключевые слова сохраняются (70%+)\n      \n   c) СУЩЕСТВЕННОЕ (substantial) - ЗАПРЕЩЕНО редактировать:\n      - Полная смена концепции правила\n      - Изменение целевой аудитории или ситуации\n      - Замена основных ключевых слов (>50%)\n      - Другая стратегия/подход\n      → ДЕЙСТВИЕ: Создай ДВА update в массиве updates:\n        1) delete с editId старого правила\n        2) append с новым контентом\n      → Добавь в metadata второго update: \"replaces_deleted_id\": [ID старого]\n\nАНАЛИЗИРУЙ В communication_style:\n- Слишком формальный или фамильярный тон\n- Отсутствие эмпатии к проблемам клиента\n- Игнорирование эмоционального состояния\n- Неуместный юмор или сарказм\n\nТИПЫ ДЕЙСТВИЙ:\n- append: добавить правило коммуникации\n- edit: скорректировать тон по ID\n- delete: удалить неуместное правило\n\nПРАВИЛА:\n1. Для edit/delete нужен ID из table_data\n2. Дружелюбный профессионализм\n3. Эмпатия без заискивания\n\n## КРИТИЧЕСКОЕ ПРАВИЛО:\nПеред вызовом любого tool:\n1. Убедись что параметр НЕ пустой\n2. Параметр должен быть СТРОКА с текстом запроса\n3. Если не знаешь что искать - НЕ вызывай tool\n\n## КРИТИЧЕСКОЕ ПРАВИЛО ДЛЯ РЕСУРСОВ:\nПеред упоминанием URL/видео/документов/кейсов:\n1. ОБЯЗАТЕЛЬНО вызови knowledge_base с запросом об этом ресурсе\n2. Используй ТОЛЬКО URL из ответа tool (не модифицируй!)\n3. Если tool НЕ нашел ресурс:\n   - НЕ придумывай URL\n   - НЕ предполагай его существование\n   - Добавь в missing_materials ИЛИ не упоминай вообще\n4. ЗАПРЕЩЕНО: \"можно посмотреть на сайте\", \"найдите в разделе\", \"есть видео\" без точной ссылки из базы\n\nПример ПРАВИЛЬНОГО вызова:\nmatch_knowledge_base: \"стоимость подписки Cryptomator\"\n\nПример НЕПРАВИЛЬНОГО (вызовет ошибку):\nmatch_knowledge_base: \"\"\nmatch_knowledge_base: null\n\nВЕРНИ JSON (максимум 5 изменений, но delete+append считается как 2):\n{\n  \"updates\": [\n    {\n      \"table\": \"communication_style\",\n      \"action\": \"append/edit/delete\",\n      \"content\": \"Правило стиля. Например: 'При жалобе клиента: 1) Признай проблему 2) Извинись если наша вина 3) Предложи решение'\",\n      \"editId\": null или ID (обязательно для edit и delete),\n      \"priority\": 80-100,\n      \"metadata\": {\n        \"category\": \"tone/empathy/professionalism/apology\",\n        \"critical\": true/false,\n        \"reason\": \"Негатив в X% диалогов из-за тона\",\n        \"expected_impact\": \"Повысит satisfaction на X%\",\n        \"context_change_level\": \"cosmetic/moderate/substantial\",\n        \"history_check\": \"Проверил changes_history - правило не редактировалось/было отклонено/новая проблема\",\n        \"replaces_deleted_id\": null или ID (только если это append после delete),\n        \"resource_verified\": true/false (ОБЯЗАТЕЛЬНО если есть URL),\n        \"source\": \"knowledge_base\" (если URL из базы)\n      }\n    }\n  ],\n  \"missing_materials\": [\n    {\n      \"type\": \"tone_guide/crisis_template\",\n      \"description\": \"Гайд по тону коммуникации\",\n      \"target_table\": \"communication_style\",\n      \"context\": \"Нет четких правил тона бренда\",\n      \"priority\": \"medium\"\n    }\n  ]\n}\n\n## КРИТИЧЕСКИ ВАЖНО для substantial изменений:\nЕсли context_change_level = \"substantial\", НЕ используй action=\"edit\"!\nВместо этого создай ДВА update:\n1) {action: \"delete\", editId: [старый ID], content: \"\", ...}\n2) {action: \"append\", content: \"[новое правило]\", metadata: {replaces_deleted_id: [старый ID], ...}}"
        }
      },
      "id": "b659e923-6f03-4c79-93d5-0acb358790a2",
      "name": "AI Agent Communication",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5216,
        128
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4672,
        -448
      ],
      "id": "49225648-1ab3-44dc-b2a8-7995896043b3",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Узел: Split by Tables - для Split In Batches\n// Добавлена передача истории изменений каждому агенту\nconst fullData = $input.first().json;\n\n// Фильтруем историю изменений по таблицам\nfunction getHistoryForTable(tableName) {\n  if (!fullData.changes_history || !Array.isArray(fullData.changes_history)) {\n    return [];\n  }\n  \n  return fullData.changes_history\n    .filter(change => change.table_name === tableName)\n    .slice(0, 20); // Берем последние 20 изменений для каждой таблицы\n}\n\n// Возвращаем массив из 4 отдельных элементов\nreturn [\n  {\n    json: {\n      table_name: \"sales_strategies\",\n      table_data: fullData.current_prompts.sales_strategies,\n      aggregated_analysis: fullData.aggregated_analysis,\n      changes_history: getHistoryForTable(\"sales_strategies\")\n    }\n  },\n  {\n    json: {\n      table_name: \"contact_capture\",\n      table_data: fullData.current_prompts.contact_capture,\n      aggregated_analysis: fullData.aggregated_analysis,\n      changes_history: getHistoryForTable(\"contact_capture\")\n    }\n  },\n  {\n    json: {\n      table_name: \"conversation_scenarios\",\n      table_data: fullData.current_prompts.conversation_scenarios,\n      aggregated_analysis: fullData.aggregated_analysis,\n      changes_history: getHistoryForTable(\"conversation_scenarios\")\n    }\n  },\n  {\n    json: {\n      table_name: \"communication_style\",\n      table_data: fullData.current_prompts.communication_style,\n      aggregated_analysis: fullData.aggregated_analysis,\n      changes_history: getHistoryForTable(\"communication_style\")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6064,
        -416
      ],
      "id": "1d39c587-0452-40ed-9818-aef9aeff3423",
      "name": "Split by Tables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f68f879-26ae-441f-b271-b1f2751ddee6",
                    "leftValue": "={{ $json.table_name }}",
                    "rightValue": "sales_strategies",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI Agent Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6f2c3e2-121d-4adb-a3a7-b320a022c134",
                    "leftValue": "={{ $json.table_name }}",
                    "rightValue": "contact_capture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI Agent Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e8f92b64-15a8-4075-bd74-9b7f75aff188",
                    "leftValue": "={{ $json.table_name }}",
                    "rightValue": "conversation_scenarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI Agent Scenarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99888fd8-8afc-44fb-8858-60446fe3d69f",
                    "leftValue": "={{ $json.table_name }}",
                    "rightValue": "communication_style",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " AI Agent Communication"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5840,
        -464
      ],
      "id": "47df4ec3-f16d-43da-954f-304917aa9456",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5408,
        -640
      ],
      "id": "4243cf5c-3812-4f90-9c97-bea77340ddaa",
      "name": "Wait1",
      "webhookId": "c8a15c3d-1706-46b6-923b-3470a9fc44fa"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5360,
        -208
      ],
      "id": "12d9472b-732d-4d89-8592-f2c82bd27607",
      "name": "Wait2",
      "webhookId": "1f98b23c-3d45-4510-973f-6f32483dac3c"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -5360,
        144
      ],
      "id": "1933cd74-df46-4624-8a6b-12dee4b9bb44",
      "name": "Wait3",
      "webhookId": "980fdf9a-6191-4aa6-ae28-a3e29d8a6cf5"
    },
    {
      "parameters": {
        "jsCode": "// Extract Missing Materials - НОВАЯ ВЕРСИЯ\nconst mergeOutputs = $input.all();\nconst materialsByTable = {}; // Группируем по таблицам\n\nmergeOutputs.forEach(item => {\n  try {\n    const output = item.json.output || item.json;\n    let aiResponse;\n    \n    if (typeof output === 'string') {\n      const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n      aiResponse = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(output);\n    } else {\n      aiResponse = output;\n    }\n    \n    if (aiResponse.missing_materials && Array.isArray(aiResponse.missing_materials)) {\n      aiResponse.missing_materials.forEach(material => {\n        const table = material.target_table || 'unknown';\n        if (!materialsByTable[table]) {\n          materialsByTable[table] = [];\n        }\n        materialsByTable[table].push(material);\n      });\n    }\n  } catch (error) {\n    console.error('Error parsing AI output:', error);\n  }\n});\n\n// Возвращаем МАССИВ объектов - по одному на каждую таблицу\nconst result = Object.keys(materialsByTable).map(table => ({\n  json: {\n    table: table,\n    materials: materialsByTable[table],\n    count: materialsByTable[table].length\n  }\n}));\n\nconsole.log('Missing materials by tables:', result.length);\n\nreturn result.length > 0 ? result : [{\n  json: {\n    table: 'none',\n    materials: [],\n    count: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4448,
        -624
      ],
      "id": "5fc7eedd-25b8-4867-afe5-319eab2cd3f2",
      "name": "Мissing materials"
    },
    {
      "parameters": {
        "jsCode": "// Форматируем финальный отчет для Telegram - ПРОДАКШН ВЕРСИЯ\nconst report = $json;\n\nfunction formatDate(dateString) {\n  try {\n    const date = new Date(dateString);\n    if (isNaN(date.getTime())) return 'Не указано';\n    return date.toLocaleString('ru-RU');\n  } catch (error) {\n    return 'Не указано';\n  }\n}\n\nlet message = `📊 *Отчет о самообучении ИИ-агента*\\n\\n`;\nmessage += `⏰ Время: ${formatDate(report.execution_time)}\\n\\n`;\n\n// Анализ диалогов\nconst dialogsProcessed = report.analysis?.dialogs_processed || 0;\nmessage += `📈 *Анализ диалогов:*\\n`;\nmessage += `• Обработано: *${dialogsProcessed}* диалогов\\n`;\nmessage += `• Средняя удовлетворенность: *${report.analysis?.avg_satisfaction || 0}%*\\n`;\nmessage += `• Критических проблем: *${report.analysis?.critical_problems || 0}*\\n\\n`;\n\n// Обновления промптов\nmessage += `✏️ *Обновления промптов:*\\n`;\nmessage += `• Предложено: ${report.updates?.proposed || 0}\\n`;\nmessage += `• Применено: *${report.updates?.validated || 0}*\\n`;\nmessage += `• Отклонено: ${report.updates?.rejected || 0}\\n`;\n\nif ((report.updates?.validated || 0) > 0) {\n  const successRate = Math.round(((report.updates.validated || 0) / (report.updates.proposed || 1)) * 100) || 0;\n  message += `✅ Успешно: ${report.updates.validated} правил (${successRate}%)\\\\n`;\n}\n\n// Недостающие материалы\nif ((report.missing_materials || 0) > 0) {\n  message += `\\n⚠️ Недостающих материалов: *${report.missing_materials}*\\n`;\n}\n\n// ===== НОВОЕ: Предупреждения о нагрузке =====\nif (report.warning) {\n  message += `\\n⚠️ *ВНИМАНИЕ:*\\n${report.warning}\\n`;\n}\n\nif (report.performance_note) {\n  message += `\\n📊 *Производительность:*\\n${report.performance_note}\\n`;\n}\n\n// Индикатор нагрузки\nlet loadIndicator = '🟢 Низкая';\nif (dialogsProcessed > 200) loadIndicator = '🟡 Средняя';\nif (dialogsProcessed > 400) loadIndicator = '🟠 Высокая';\nif (dialogsProcessed >= 600) loadIndicator = '🔴 Критическая';\n\nmessage += `\\n📊 *Нагрузка:* ${loadIndicator} (${dialogsProcessed} диалогов)\\n`;\n// ===== КОНЕЦ НОВОГО =====\n\nmessage += `\\n🔄 Следующая проверка: ${formatDate(report.next_check)}\\n`;\nmessage += `\\n✅ *Статус:* Цикл завершен успешно`;\n\nreturn [{\n  json: {\n    message: message,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        -224
      ],
      "id": "e19757f4-3e6a-48a9-b23c-18cfc41054f9",
      "name": "Format Final Report for Telegram"
    },
    {
      "parameters": {
        "chatId": "-1002588885971",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "={{ $json.parse_mode }}"
        }
      },
      "id": "58da87b5-0310-43fb-8fe7-719dc170ef5a",
      "name": "Send to Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3232,
        -224
      ],
      "webhookId": "95289c60-3387-4996-8ec5-82ef2d620a80",
      "credentials": {
        "telegramApi": {
          "id": "fn7ywFo6SxQJtPcU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3856,
        -640
      ],
      "id": "81b0c100-e559-475f-aab1-22f75e375aa0",
      "name": "Wait5",
      "webhookId": "a0a9adb5-35bc-4f15-b8ea-972ed6073b42"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5184,
        -368
      ],
      "id": "5938c08d-5019-40ca-8e13-a07c22287e7c",
      "name": "Embeddings Google Gemini8",
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Product knowledge base - prices, features, algorithms, purchase process. REQUIRED PARAMETER: match_knowledge_base MUST be a non-empty search query string. Example: \"pricing plans\" or \"encryption algorithm\". DO NOT leave empty.",
        "tableName": {
          "__rl": true,
          "value": "knowledge_base",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_knowledge_base"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -5520,
        -368
      ],
      "id": "a824fec3-3186-4f3b-b0b6-5e338ca2712f",
      "name": "Knowledge base",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_learning_log (\n  type,\n  action,\n  status,\n  table_name,\n  metadata,\n  session_id,\n  created_at\n) VALUES (\n  'cycle_started',\n  'analysis_start',\n  'running',\n  'all_tables',\n  jsonb_build_object(\n    'trigger', 'scheduled',\n    'start_time', '{{ $json.start_time }}'::text,\n    'workflow_execution_id', '{{ $json.workflow_execution_id }}'::text\n  ),\n  '{{ $json.session_id }}'::text,\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8320,
        -720
      ],
      "id": "68f55dd4-ec82-483a-b6f2-8124639e5efa",
      "name": "Log Cycle Start",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Генерируем уникальный session_id для цикла обучения\nconst sessionId = 'learning_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nconsole.log('Starting learning cycle with session_id:', sessionId);\n\n// Возвращаем ТОЛЬКО session_id, без данных анализа\nreturn [{\n  json: {\n    session_id: sessionId,\n    cycle_id: sessionId,\n    start_time: new Date().toISOString(),\n    workflow_execution_id: String($execution.id || 'unknown'),\n    _is_metadata: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8560,
        -384
      ],
      "id": "c9704891-08b8-4a05-80fe-10a53ef223ae",
      "name": "Cycle Start ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Записываем только завершение батча, БЕЗ обновления last_analysis_check\nINSERT INTO ai_learning_log (\n  type, action, status, table_name, metadata, session_id, created_at\n)\nSELECT\n  'batch_completed', 'batch_processed', 'completed', 'all_tables',\n  jsonb_build_object(\n    'batch_iteration', 1,\n    'records_processed', {{ $('Get New Analysis Since Last Check').all().length }},\n    'max_id_processed', MAX(id),\n    'processed_ids', array_agg(id ORDER BY id)\n  ),\n  '{{ $('Cycle Start ID').first().json.session_id }}',\n  NOW()\nFROM dialog_analysis\nWHERE id IN ({{ $('Get New Analysis Since Last Check').all().map(i => i.json.id).join(',') }});\n\nSELECT 'batch_saved' as status;",
        "options": {}
      },
      "id": "e41290aa-b46c-482f-a2bb-b4c06a9873fc",
      "name": "Save Last Check Time",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3664,
        -448
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(CASE WHEN type = 'approved_update' THEN 1 END) as approved,\n  COUNT(CASE WHEN type = 'rejected_update' THEN 1 END) as rejected,\n  COUNT(*) - 1 as total_updates -- минус 1 для cycle_started\nFROM ai_learning_log\nWHERE session_id = '{{ $('Cycle Start ID').first().json.session_id }}'\n  AND type != 'cycle_started';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3808,
        -224
      ],
      "id": "e22f8363-9858-4392-8ddf-b440d1900a60",
      "name": "Get Real Stats",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -8496,
        -1056
      ],
      "id": "7f6f9e2b-6932-4f9f-8440-39dc896487f3",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "// УНИВЕРСАЛЬНЫЙ ОБРАБОТЧИК ОШИБОК v2.0\n// Работает с любой структурой данных от Error Trigger\n\nconst input = $input.first().json;\n\n// Извлекаем данные с учетом разных форматов Error Trigger\nlet errorInfo = {};\n\n// Проверяем разные возможные структуры\nif (input.execution) {\n  // Формат с execution (как в вашем примере)\n  errorInfo = {\n    workflowName: input.workflow?.name || 'Неизвестный workflow',\n    workflowId: input.workflow?.id || 'unknown',\n    executionId: input.execution?.id || 'unknown',\n    executionUrl: input.execution?.url || '',\n    failedNode: input.execution?.error?.node?.name || input.execution?.lastNodeExecuted || 'Неизвестный узел',\n    nodeType: input.execution?.error?.node?.type || 'unknown',\n    errorMessage: input.execution?.error?.message || input.execution?.error?.description || 'Ошибка без описания',\n    errorStack: input.execution?.error?.stack || '',\n    timestamp: input.execution?.error?.timestamp || Date.now()\n  };\n} else if (input.error) {\n  // Простой формат с error\n  errorInfo = {\n    workflowName: input.workflow || $workflow.name || 'Неизвестный workflow',\n    workflowId: $workflow.id || 'unknown',\n    executionId: $execution.id || 'unknown',\n    executionUrl: '',\n    failedNode: input.node || input.error.node || 'Неизвестный узел',\n    nodeType: input.nodeType || 'unknown',\n    errorMessage: input.error.message || input.error || 'Ошибка без описания',\n    errorStack: input.error.stack || '',\n    timestamp: Date.now()\n  };\n} else {\n  // Fallback для любого другого формата\n  errorInfo = {\n    workflowName: $workflow.name || 'Неизвестный workflow',\n    workflowId: $workflow.id || 'unknown',\n    executionId: $execution.id || 'unknown',\n    executionUrl: '',\n    failedNode: input.node || input.nodeName || 'Неизвестный узел',\n    nodeType: 'unknown',\n    errorMessage: input.message || JSON.stringify(input).substring(0, 500),\n    errorStack: '',\n    timestamp: Date.now()\n  };\n}\n\n// Форматируем время\nconst errorTime = new Date(errorInfo.timestamp).toLocaleString('ru-RU');\n\n// УНИВЕРСАЛЬНЫЙ АНАЛИЗАТОР ОШИБОК\n// Работает для любого workflow\nlet errorCategory = '🔧 Техническая ошибка';\nlet recommendation = '';\nlet priority = '🟡 Средний';\n\n// Анализ по тексту ошибки (универсальные паттерны)\nconst errorLower = errorInfo.errorMessage.toLowerCase();\n\n// База данных\nif (errorLower.includes('relation') && errorLower.includes('does not exist')) {\n  errorCategory = '🗄️ Таблица не найдена в БД';\n  recommendation = `Таблица \"${errorInfo.errorMessage.match(/\"([^\"]+)\"/)?.[1] || 'неизвестная'}\" не существует. Создайте её или исправьте название.`;\n  priority = '🔴 Критический';\n}\nelse if (errorLower.includes('column') && errorLower.includes('does not exist')) {\n  errorCategory = '🗄️ Колонка не найдена в БД';\n  recommendation = `Колонка отсутствует в таблице. Проверьте структуру БД.`;\n  priority = '🔴 Критический';\n}\nelse if (errorLower.includes('postgres') || errorLower.includes('sql')) {\n  errorCategory = '🗄️ Ошибка PostgreSQL';\n  recommendation = 'Проверьте SQL-запрос и подключение к БД';\n  priority = '🔴 Критический';\n}\n// Сеть и подключения\nelse if (errorLower.includes('econnrefused')) {\n  errorCategory = '🔌 Сервер недоступен';\n  recommendation = 'Сервер отклонил соединение. Проверьте, что сервис запущен и доступен.';\n  priority = '🔴 Критический';\n}\nelse if (errorLower.includes('timeout') || errorLower.includes('etimedout')) {\n  errorCategory = '⏱️ Превышено время ожидания';\n  recommendation = 'Операция заняла слишком много времени. Увеличьте таймаут или проверьте сервер.';\n  priority = '🟠 Высокий';\n}\nelse if (errorLower.includes('404') || errorLower.includes('not found')) {\n  errorCategory = '🔍 Ресурс не найден';\n  recommendation = 'Проверьте правильность URL или пути к ресурсу.';\n  priority = '🟠 Высокий';\n}\n// API и авторизация\nelse if (errorLower.includes('unauthorized') || errorLower.includes('401')) {\n  errorCategory = '🔑 Ошибка авторизации';\n  recommendation = 'Проверьте API ключи и токены доступа.';\n  priority = '🔴 Критический';\n}\nelse if (errorLower.includes('rate limit') || errorLower.includes('quota')) {\n  errorCategory = '🚫 Превышен лимит API';\n  recommendation = 'Достигнут лимит запросов. Подождите или увеличьте лимиты.';\n  priority = '🟠 Высокий';\n}\n// Данные\nelse if (errorLower.includes('undefined') || errorLower.includes('cannot read')) {\n  errorCategory = '⚠️ Отсутствуют данные';\n  recommendation = 'Узел получил пустые или некорректные данные. Проверьте предыдущие узлы.';\n  priority = '🟠 Высокий';\n}\nelse if (errorLower.includes('json') || errorLower.includes('parse')) {\n  errorCategory = '📝 Ошибка парсинга данных';\n  recommendation = 'Некорректный формат JSON. Проверьте структуру данных.';\n  priority = '🟠 Высокий';\n}\n// AI\nelse if (errorLower.includes('gemini') || errorLower.includes('openai') || errorLower.includes('anthropic')) {\n  errorCategory = '🤖 Ошибка AI сервиса';\n  recommendation = 'Проверьте API ключ, лимиты и формат запроса к AI.';\n  priority = '🟠 Высокий';\n}\n\n// Формируем сообщение\nconst message = `${priority} *ОШИБКА В WORKFLOW*\n\n${errorCategory}\n\n📋 *Workflow:* ${errorInfo.workflowName}\n❌ *Сбойный узел:* ${errorInfo.failedNode}\n⏰ *Время:* ${errorTime}\n\n📝 *Описание ошибки:*\n\\`\\`\\`\n${errorInfo.errorMessage.substring(0, 500)}\n\\`\\`\\`\n\n💡 *Рекомендация:* \n${recommendation || 'Изучите детали ошибки в логах n8n'}\n\n🔍 *Как исправить:*\n1. ${errorInfo.executionUrl ? `Откройте: ${errorInfo.executionUrl}` : `Откройте n8n → Executions → ID: ${errorInfo.executionId}`}\n2. Кликните на узел \"${errorInfo.failedNode}\"\n3. ${recommendation ? 'Примените рекомендацию выше' : 'Изучите детали ошибки'}\n\n📊 *Детали:*\n- Workflow ID: \\`${errorInfo.workflowId}\\`\n- Execution ID: \\`${errorInfo.executionId}\\`\n- Тип узла: ${errorInfo.nodeType}`;\n\n// Логируем для отладки\nconsole.log('Error processed:', {\n  workflow: errorInfo.workflowName,\n  node: errorInfo.failedNode,\n  error: errorInfo.errorMessage\n});\n\nreturn [{\n  json: {\n    message: message,\n    parse_mode: 'Markdown',\n    priority: priority,\n    error_details: errorInfo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8288,
        -1056
      ],
      "id": "02dcc2d0-d852-4baf-a62d-6a03345e3dcc",
      "name": "Format Error Message"
    },
    {
      "parameters": {
        "chatId": "-1002588885971",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "={{ $json.parse_mode }}"
        }
      },
      "id": "3409a0e9-e90f-4ced-999a-f1025557d489",
      "name": "Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -8096,
        -1056
      ],
      "webhookId": "95289c60-3387-4996-8ec5-82ef2d620a80",
      "credentials": {
        "telegramApi": {
          "id": "fn7ywFo6SxQJtPcU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Company interaction rules. REQUIRED PARAMETER: match_interaction_policies MUST be a non-empty search query string. Example: \"callback policy\" or \"manager contact rules\". DO NOT leave empty.",
        "tableName": {
          "__rl": true,
          "value": "interaction_policies",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_interaction_policies"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -5056,
        -368
      ],
      "id": "4952c0e7-5a2b-41a9-8410-1eb13c200327",
      "name": "Interaction policies",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nreturn allItems.map(item => ({\n  json: {\n    ...item.json,\n    _iteration: 1,\n    _batch_start: new Date().toISOString(),\n    _last_processed_id: 0 // Начинаем с 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7744,
        -432
      ],
      "id": "0a6c87a2-266f-4e0f-b7e9-b565781c5414",
      "name": "Initialize Batch Counter"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем, есть ли еще необработанные записи\n// ВАЖНО: берем данные из Aggregate All Analysis, не из Get New Analysis\nconst aggregatedData = $('Aggregate All Analysis').first().json;\nconst processedCount = aggregatedData.total_dialogs || 0;\n\nconst currentIteration = $('Initialize Batch Counter').first()?.json?._iteration || 1;\n\nconst MAX_ITERATIONS = 2; // Максимум 10 батчей = 300 записей за раз\n\n// Если обработали ровно LIMIT (3 для теста, 30 в продакшене) И не превысили лимит итераций\nconst BATCH_LIMIT = 3; // Измени на 30 после тестов\nconst mayHaveMore = processedCount >= BATCH_LIMIT && currentIteration < MAX_ITERATIONS;\n\nconsole.log(`Batch ${currentIteration}/${MAX_ITERATIONS}: Processed ${processedCount} dialogs. Coverage: ${currentIteration * BATCH_LIMIT}/${MAX_ITERATIONS * BATCH_LIMIT} max. More: ${mayHaveMore}`);\n\nreturn [{\n  json: {\n    has_more: mayHaveMore,\n    processed_count: processedCount,\n    current_iteration: currentIteration,\n    max_iterations: MAX_ITERATIONS,\n    batch_limit: BATCH_LIMIT,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        -496
      ],
      "id": "d2b052c9-1248-44a8-a97d-74ff5fd197b3",
      "name": "Check If More Records Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f0fa5a0-6272-4fbf-a7c0-dd94ee2c26eb",
              "leftValue": "={{ $json.has_more }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3312,
        -512
      ],
      "id": "1d902e47-4249-4f04-8582-d0e4669e7942",
      "name": "Has More Records?"
    },
    {
      "parameters": {
        "jsCode": "// Увеличиваем счетчик итерации для следующего батча\nconst currentIteration = $('Check If More Records Exist').first().json.current_iteration;\nconst nextIteration = currentIteration + 1;\n\n// НОВОЕ: Находим максимальный ID из только что обработанных диалогов\nconst processedDialogs = $('Get New Analysis Since Last Check').all();\nconst lastProcessedId = Math.max(...processedDialogs.map(item => item.json.id));\n\nconsole.log(`Starting batch iteration ${nextIteration}, last processed ID: ${lastProcessedId}`);\n\nreturn [{\n  json: {\n    _iteration: nextIteration,\n    _batch_start: new Date().toISOString(),\n    _last_processed_id: lastProcessedId, // Запоминаем последний ID\n    trigger_next_batch: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2752,
        -176
      ],
      "id": "24aea31a-7f27-490e-9d67-2b287e344cea",
      "name": "Increment Iteration Counter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Записываем завершение цикла\nINSERT INTO ai_learning_log (\n  type,\n  action,\n  status,\n  table_name,\n  metadata,\n  session_id,\n  created_at\n) VALUES (\n  'cycle_completed',\n  'finish',\n  'completed',\n  'all_tables',\n  jsonb_build_object(\n    'workflow_execution_id', '{{ $('Cycle Start ID').first().json.session_id }}',\n    'completion_time', NOW()::text\n  ),\n  '{{ $('Cycle Start ID').first().json.session_id }}',\n  NOW()\n);\n\n-- Обновляем last_analysis_check\nUPDATE system_config\nSET last_analysis_check = NOW()\nWHERE key = 'ai_learning_last_check';\n\nSELECT \n  'cycle_completed' as status,\n  NOW()::text as last_check_time,\n  '{{ $('Cycle Start ID').first().json.session_id }}' as session_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4464,
        -240
      ],
      "id": "a65dc8ef-9d32-4a33-93ff-37eee609b385",
      "name": "Update Final Last Check Time",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Схлопываем все результаты loop в один элемент\nconst allItems = $input.all();\n\nconsole.log(`Loop completed, processed ${allItems.length} updates`);\n\nreturn [{\n  json: {\n    total_updates_processed: allItems.length,\n    loop_completed: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3856,
        -448
      ],
      "id": "6d122d05-43fb-47c4-be47-8d5ae887b0c8",
      "name": "Aggregate Loop Results"
    },
    {
      "parameters": {
        "jsCode": "// Получаем session_id из Cycle Start ID\nconst sessionId = $('Cycle Start ID').first().json.session_id;\n\n// Получаем все диалоги из Get New Analysis\nconst dialogs = $('Get New Analysis Since Last Check').all();\n\n// Если нет диалогов - возвращаем пустой объект с session_id\nif (dialogs.length === 0 || !dialogs[0].json.id) {\n  return [{\n    json: {\n      session_id: sessionId,\n      no_dialogs: true\n    }\n  }];\n}\n\n// Добавляем session_id к каждому диалогу\nreturn dialogs.map(item => ({\n  json: {\n    ...item.json,\n    session_id: sessionId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8144,
        -384
      ],
      "id": "63032eea-381f-467f-85e0-4ecbcccdcd27",
      "name": "Merge Session ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "91efa30c-73f0-4b7e-ad00-b3f301e50c0e",
              "leftValue": "={{ $input.first().json.has_processing }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4048,
        -224
      ],
      "id": "49584083-f978-4da4-b4f0-1c4939432314",
      "name": "IF"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  CASE \n    WHEN COUNT(*) > 0 THEN true \n    ELSE false \n  END as has_processing\nFROM ai_learning_log\nWHERE session_id = '{{ $('Cycle Start ID').first().json.session_id }}'\n  AND type IN ('approved_update', 'rejected_update');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4256,
        -240
      ],
      "id": "1b6d2eed-2520-4190-8ca7-37c3168a8b59",
      "name": "Check If Processing Happened",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OdXsDOgimVGW8aQf",
          "mode": "list",
          "cachedResultUrl": "/workflow/OdXsDOgimVGW8aQf",
          "cachedResultName": "Validator Learning System"
        },
        "options": {}
      },
      "id": "698ec906-8157-4354-98f5-88e3ecacb02e",
      "name": "Execute Child Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -4048,
        -448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_analysis_temp (aggregated_data, created_at) \nVALUES ('{{ $json.aggregated_data_escaped }}', NOW());",
        "options": {
          "queryReplacement": "="
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7168,
        -576
      ],
      "id": "4b6ca406-61a7-4e14-a7b5-432338cdec42",
      "name": "Save Analysis to DB",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// Экранируем JSON для PostgreSQL\nconst escapedJson = JSON.stringify(data).replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    aggregated_data_escaped: escapedJson\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7344,
        -576
      ],
      "id": "fcf824af-387a-45db-acfc-a9a9356e9bea",
      "name": "Escape JSON for DB"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  table_name,\n  content,\n  action,\n  status,\n  created_at,\n  metadata\nFROM ai_learning_log\nWHERE created_at > NOW() - INTERVAL '7 days'\n  AND type IN ('approved_update', 'rejected_update')\n  AND status IN ('applied', 'rejected')\nORDER BY created_at DESC\nLIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6704,
        -368
      ],
      "id": "9aebf29c-f42e-45c0-af77-84288ff85602",
      "name": "Load Changes History",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6448,
        -400
      ],
      "id": "9131088b-feb6-4afa-9753-98bed2a9f12f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "-1002588885971",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "={{ $json.parse_mode }}"
        }
      },
      "id": "23b34c47-2095-4f23-8234-781e588cdc02",
      "name": "Send Start Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -8144,
        -528
      ],
      "webhookId": "95289c60-3387-4996-8ec5-82ef2d620a80",
      "credentials": {
        "telegramApi": {
          "id": "fn7ywFo6SxQJtPcU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Форматируем уведомление о старте для Telegram\nconst cycleId = $('Cycle Start ID').item.json.cycle_id;\n\nlet message = `🚀 *СТАРТ ЦИКЛА ОБУЧЕНИЯ*\\n\\n`;\nmessage += `📊 Cycle ID: \\`${cycleId}\\`\\n\\n`;\nmessage += `⏱ Начало: ${new Date().toLocaleString('ru-RU')}\\n\\n`;\nmessage += `⚙️ Запущена загрузка новых анализов и валидация правил...\\n`;\nmessage += `_Детальный отчет будет отправлен после завершения цикла_`;\n\nreturn [{\n  json: {\n    message: message,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8336,
        -528
      ],
      "id": "a27784cb-01d4-4eb1-8aa6-924d9fdbd89e",
      "name": "Format Start Notification"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Удаляем старые записи, оставляя последние 50\nWITH recent_records AS (\n  SELECT id \n  FROM ai_learning_log\n  ORDER BY created_at DESC\n  LIMIT 200\n)\nDELETE FROM ai_learning_log\nWHERE id NOT IN (SELECT id FROM recent_records);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3024,
        -224
      ],
      "id": "04de5000-4ea6-4131-b65c-84e529c978c3",
      "name": "Cleanup Old Learning Logs",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'sales_strategies' as table_name, id, content, metadata, created_at \n   FROM sales_strategies\n   UNION ALL\n   SELECT 'contact_capture' as table_name, id, content, metadata, created_at \n   FROM contact_capture\n   UNION ALL\n   SELECT 'conversation_scenarios' as table_name, id, content, metadata, created_at \n   FROM conversation_scenarios\n   UNION ALL\n   SELECT 'communication_style' as table_name, id, content, metadata, created_at \n   FROM communication_style\n   ORDER BY table_name, id ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7152,
        -416
      ],
      "id": "cb693aec-5a3c-4289-8a21-b2306463a0bf",
      "name": "Read All Vector Tables",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "postgres": {
          "id": "I3pncOwnyKZ5gwoO",
          "name": "Postgres_gmail"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Узел: Format Tables Data\n// Группируем все записи по таблицам + ПЕРЕДАЕМ aggregated_analysis\n\nconst allRecords = $input.all();\nconst groupedData = {};\n\n// Инициализируем структуру для каждой таблицы\nconst tables = [\n  'sales_strategies', \n  'contact_capture',\n  'conversation_scenarios',\n  'communication_style'\n];\n\n// Создаем пустые массивы для каждой таблицы\ntables.forEach(table => {\n  groupedData[table] = {\n    table_name: table,\n    records: [],\n    total: 0\n  };\n});\n\n// Группируем записи по таблицам\nallRecords.forEach(item => {\n  const record = item.json;\n  const tableName = record.table_name;\n  \n  if (groupedData[tableName]) {\n    groupedData[tableName].records.push({\n      id: record.id,\n      content: record.content,\n      metadata: record.metadata || {},\n      created_at: record.created_at\n    });\n  }\n});\n\n// Подсчитываем количество записей в каждой таблице\nObject.keys(groupedData).forEach(table => {\n  groupedData[table].total = groupedData[table].records.length;\n});\n\n// НОВОЕ: Получаем aggregated_analysis из Prepare Data for Loading\nconst preparedData = $('Prepare Data for Loading').first().json;\nconst aggregatedAnalysis = preparedData.aggregated_analysis;\n\n// Формируем финальный ответ с aggregated_analysis\nconst response = {\n  success: true,\n  total_records: allRecords.length,\n  tables_data: groupedData,\n  aggregated_analysis: aggregatedAnalysis, // ДОБАВЛЕНО!\n  summary: {\n    sales_strategies: groupedData.sales_strategies.total,\n    contact_capture: groupedData.contact_capture.total,\n    conversation_scenarios: groupedData.conversation_scenarios.total,\n    communication_style: groupedData.communication_style.total\n  }\n};\n\n// Логируем для отладки\nconsole.log('Total records processed:', allRecords.length);\nconsole.log('Records per table:', response.summary);\nconsole.log('Aggregated analysis dialogs:', aggregatedAnalysis?.total_dialogs || 0);\n\n// Возвращаем структурированные данные\nreturn [{\n  json: response\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6976,
        -416
      ],
      "id": "806e3e65-e6f1-4033-98b2-7af9cefd9a86",
      "name": "Format Tables Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Every 4 Hours": {
      "main": [
        [
          {
            "node": "Cycle Start ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Analysis Since Last Check": {
      "main": [
        [
          {
            "node": "Merge Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Records?": {
      "main": [
        [
          {
            "node": "Initialize Batch Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Final Last Check Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Analysis": {
      "main": [
        [
          {
            "node": "Escape JSON for DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Data for Loading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Loading": {
      "main": [
        [
          {
            "node": "Read All Vector Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Sales",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Execute Child Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Missing Materials?": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Analysis with Prompts": {
      "main": [
        [
          {
            "node": "Split by Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Contact",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Scenarios",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Communication",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Sales": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Мissing materials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Scenarios": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AI Agent Communication": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Split by Tables": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "AI Agent Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "AI Agent Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "AI Agent Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Мissing materials": {
      "main": [
        [
          {
            "node": "Has Missing Materials?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final Report": {
      "main": [
        [
          {
            "node": "Format Final Report for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Report for Telegram": {
      "main": [
        [
          {
            "node": "Send to Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini8": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge base",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Interaction policies",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Sales",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent Contact",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent Scenarios",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent Communication",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cycle Start ID": {
      "main": [
        [
          {
            "node": "Log Cycle Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get New Analysis Since Last Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Start Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Last Check Time": {
      "main": [
        [
          {
            "node": "Check If More Records Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Real Stats": {
      "main": [
        [
          {
            "node": "Create Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interaction policies": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Contact",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent Sales",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent Scenarios",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent Communication",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram1": {
      "main": [
        [
          {
            "node": "Cleanup Old Learning Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Batch Counter": {
      "main": [
        [
          {
            "node": "Aggregate All Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If More Records Exist": {
      "main": [
        [
          {
            "node": "Has More Records?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Records?": {
      "main": [
        [
          {
            "node": "Increment Iteration Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Final Last Check Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Last Check Time": {
      "main": [
        [
          {
            "node": "Check If Processing Happened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Iteration Counter": {
      "main": [
        [
          {
            "node": "Get New Analysis Since Last Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Loop Results": {
      "main": [
        [
          {
            "node": "Save Last Check Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session ID": {
      "main": [
        [
          {
            "node": "Has New Records?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Real Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Processing Happened": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Child Workflow": {
      "main": [
        [
          {
            "node": "Aggregate Loop Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escape JSON for DB": {
      "main": [
        [
          {
            "node": "Save Analysis to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Changes History": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge Analysis with Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Start Notification": {
      "main": [
        [
          {
            "node": "Send Start Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Vector Tables": {
      "main": [
        [
          {
            "node": "Format Tables Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tables Data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Changes History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f75628df-e6cc-4103-b89b-27ce09f21ba8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "GRUMm0pQxKNdLMpU",
  "tags": []
}