MAIN/RAG/Автообучение ИИ/Validator Learning System.json
{
  "name": "Validator Learning System",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "03996b36-5933-4b3b-9a47-c0305b0e9585",
      "name": "Loop Over Updates",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=## 🚨 ПРИОРИТЕТ #1: ЗАЩИТА ОТ ГАЛЛЮЦИНАЦИЙ РЕСУРСОВ\n\nПЕРЕД ЛЮБОЙ другой валидацией, выполни:\n\n### КРИТИЧЕСКАЯ ПРОВЕРКА РЕСУРСОВ [Вес: 50%]\n\n**Шаг 1: ОБНАРУЖЕНИЕ**\nПроверь update.content на наличие:\n- URL (http://, https://, www.)\n- Упоминания: \"ссылка\", \"видео\", \"кейс\", \"презентация\", \"документ\", \"PDF\", \"материал\", \"скачать\"\n- Markdown ссылки: [текст](url)\n- Фразы: \"посмотри на сайте\", \"найдешь в разделе\", \"есть видео о...\"\n- Упоминания правил: \"ID [номер]\", \"правило N\", \"стратегия #X\", \"см. правило Y\"\n\n**Шаг 2: ФЛАГ ИЗ PARSE**\nПроверь update.metadata.requires_strict_validation:\n- Если `true` → update был помечен как подозрительный\n- Проверь update.metadata.resource_mentions - что именно найдено\n\n**3.3. ДВУХЭТАПНАЯ ПРОВЕРКА РЕСУРСОВ (URL/видео/документы):**\n\n**ТИП РЕСУРСА A: URL, видео, кейсы, документы, материалы, презентации**\n\n**ЭТАП 1: Поиск в tool **knowledge_base** (ПРИОРИТЕТ #1 - админ)**\nВызови tool с параметром: match_knowledge_base = \"[полный URL или описание ресурса]\"\n\n**ЭТАП 2: Если НЕ найдено в **knowledge_base** → Поиск в tool **interaction_policies** (ПРИОРИТЕТ #2 - админ)**\nВызови tool с параметром: match_interaction_policies = \"[полный URL или описание ресурса]\"\n\n**ЛОГИКА ПРИНЯТИЯ РЕШЕНИЯ ДЛЯ РЕСУРСОВ:**\n\n✅ **URL/ресурс найден в knowledge_base** → ОДОБРИТЬ\n   - Это эталонный ресурс, проверенный администратором\n   - В reason укажи: \"Ресурс верифицирован через knowledge_base (admin-confirmed)\"\n   \n✅ **URL/ресурс найден в interaction_policies** → ОДОБРИТЬ\n   - Это эталонный процесс/политика, проверенная администратором\n   - В reason укажи: \"Ресурс верифицирован через interaction_policies (admin-confirmed)\"\n\n❌ **URL/ресурс НЕ найден НИ в одной эталонной базе** → АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ\n   - НЕ проверяй в целевой таблице! Ресурсы должны быть ТОЛЬКО в эталонных базах\n   - В reason укажи: \"🚨 ГАЛЛЮЦИНАЦИЯ: URL/ресурс '[ресурс]' не найден ни в knowledge_base, ни в interaction_policies. Все ресурсы (ссылки, видео, документы, материалы) ДОЛЖНЫ быть в эталонных базах администратора.\"\n   - change_significance = \"hallucination_detected\"\n   - approved = false\n\n**3.4. ТРЕХЭТАПНАЯ ПРОВЕРКА КРОСС-ССЫЛОК (упоминания других правил):**\n\n**ТИП РЕСУРСА B: Кросс-ссылки на другие правила (любые ID, названия стратегий, упоминания правил)**\n\n**ЭТАП 1: Поиск в tool **knowledge_base****\nВызови tool с параметром: match_knowledge_base = \"[текст упоминания]\"\n(Вдруг эта стратегия описана в эталонной базе)\n\n**ЭТАП 2: Если НЕ найдено → Поиск в tool **interaction_policies****\nВызови tool с параметром: match_interaction_policies = \"[текст упоминания]\"\n(Вдруг это процесс из политик)\n\n**ЭТАП 3: Если НЕ найдено в эталонных базах → Проверка в целевой таблице**\nОпредели целевую таблицу из {{ $json.update.table }} и вызови соответствующий tool:\n\n- Если {{ $json.update.table }} = \"sales_strategies\" → вызови tool **match_sales_strategies**\n- Если {{ $json.update.table }} = \"contact_capture\" → вызови tool **match_contact_capture**\n- Если {{ $json.update.table }} = \"conversation_scenarios\" → вызови tool **match_conversation_scenarios**\n- Если {{ $json.update.table }} = \"communication_style\" → вызови tool **match_communication_style**\n\nПараметр для tool: \"[текст упоминания правила]\"\n\n**ЛОГИКА ПРИНЯТИЯ РЕШЕНИЯ ДЛЯ КРОСС-ССЫЛОК:**\n\n✅ **Упоминание найдено в knowledge_base** → ОДОБРИТЬ\n   - Стратегия описана в эталонной базе\n   - В reason укажи: \"Стратегия верифицирована через knowledge_base (admin-confirmed)\"\n   \n✅ **Упоминание найдено в interaction_policies** → ОДОБРИТЬ\n   - Процесс описан в эталонных политиках\n   - В reason укажи: \"Процесс верифицирован через interaction_policies (admin-confirmed)\"\n\n⚠️ **Упоминание найдено только в целевой таблице (tool match_{{ $json.update.table }}** → ОДОБРИТЬ С ПРЕДУПРЕЖДЕНИЕМ\n   - Это кросс-ссылка на автогенерируемое правило\n   - В reason ОБЯЗАТЕЛЬНО добавь: \"⚠️ ПРЕДУПРЕЖДЕНИЕ: Кросс-ссылка '[упоминание]' найдена только в автогенерируемых правилах таблицы {{ $json.update.table }}, не подтверждена эталонными базами. Убедись, что правило актуально.\"\n   - В suggestion добавь: \"Рекомендуется описать эту стратегию/процесс в knowledge_base или interaction_policies для валидации администратором.\"\n\n❌ **Упоминание НЕ найдено нигде** → АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ\n   - В reason укажи: \"🚨 ОШИБКА: Кросс-ссылка '[упоминание]' не найдена ни в эталонных базах, ни в таблице {{ $json.update.table }}. Ссылка на несуществующее правило.\"\n   - change_significance = \"hallucination_detected\"\n   - approved = false\n\n**3.5. КОНТЕКСТНАЯ ПРОВЕРКА (определение типа):**\n\n**Определи ТИП ресурса:**\n\n**ТИП A: URL/Ресурсы (должны быть в эталонных базах):**\n- Прямые URL: http://, https://, www.\n- Упоминания видео: \"посмотри видео\", \"есть видео о...\", \"видео про...\"\n- Упоминания документов: \"скачай PDF\", \"есть презентация\", \"документ о...\", \"материалы по...\"\n- Упоминания кейсов: \"кейс клиента\", \"пример внедрения\"\n- Фразы типа: \"посмотри на сайте\", \"есть ссылка\", \"можно скачать\"\n\n→ Проверяй ТОЛЬКО в knowledge_base и interaction_policies\n→ НЕ найдено в эталонных базах = АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ\n\n**ТИП B: Кросс-ссылки на правила (могут быть в целевой таблице):**\n- Упоминания ID: \"ID 5\", \"ID 45\", \"ID 120\", \"ID 999\" (любой номер)\n- Упоминания правил: \"правило 3\", \"правило 78\", \"правило N\" (любой номер)\n- Упоминания стратегий: \"стратегия #12\", \"стратегия #88\" (любой номер)\n- Упоминания названий: \"RITZ-CARLTON подход\", \"метод SPIN\", \"техника BANT\", любое название\n- Фразы: \"используй стратегию X\", \"применяй правило Y\", \"см. подход Z\"\n\n→ Проверяй СНАЧАЛА в эталонных базах, ПОТОМ в целевой таблице\n→ Найдено в таблице = ОДОБРИТЬ С ПРЕДУПРЕЖДЕНИЕМ\n→ НЕ найдено нигде = АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ\n\n**Примеры:**\n\n✅ ПРАВИЛЬНО определен как ТИП A (ресурсы):\n- \"Покажи видео о шифровании\" → ТИП A → knowledge_base → НЕ найдено → ОТКЛОНИТЬ\n- \"Скачай PDF инструкцию\" → ТИП A → knowledge_base/interaction_policies → НЕ найдено → ОТКЛОНИТЬ\n- \"Есть кейс клиента из банка\" → ТИП A → knowledge_base → найдено → ОДОБРИТЬ\n- \"Посмотри https://example.com\" → ТИП A → knowledge_base/interaction_policies → НЕ найдено → ОТКЛОНИТЬ\n\n✅ ПРАВИЛЬНО определен как ТИП B (кросс-ссылки):\n- \"Используй стратегию ID 5\" → ТИП B → эталонные базы → НЕ найдено → целевая таблица → найдено → ОДОБРИТЬ С ПРЕДУПРЕЖДЕНИЕМ\n- \"См. правило 78\" → ТИП B → эталонные базы → НЕ найдено → целевая таблица → найдено → ОДОБРИТЬ С ПРЕДУПРЕЖДЕНИЕМ\n- \"Применяй RITZ-CARLTON подход\" → ТИП B → эталонные базы → найдено → ОДОБРИТЬ\n- \"Используй стратегию #999\" → ТИП B → эталонные базы → НЕ найдено → целевая таблица → НЕ найдено → ОТКЛОНИТЬ\n\n**3.6. ОБНОВЛЕННЫЕ КРИТЕРИИ ОДОБРЕНИЯ:**\n\n✅ **Одобрить без замечаний** если:\n- ВСЕ URL/ресурсы (ТИП A) найдены в **knowledge_base** ИЛИ **interaction_policies**\n- ВСЕ кросс-ссылки (ТИП B) найдены в эталонных базах\n- URL не модифицированы (совпадают с версией из эталонных баз)\n- В reason укажи источник: \"Все ресурсы верифицированы (X через knowledge_base, Y через interaction_policies)\"\n\n⚠️ **Одобрить С ПРЕДУПРЕЖДЕНИЕМ** если:\n- ТОЛЬКО кросс-ссылки (ТИП B) найдены через tool целевой таблицы\n- В reason ОБЯЗАТЕЛЬНО добавь предупреждение: \"⚠️ Кросс-ссылка не подтверждена эталонными базами администратора. Найдено в таблице [table_name].\"\n- В suggestion добавь: \"Опишите эту стратегию/процесс в knowledge_base или interaction_policies\"\n\n❌ **АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ** если:\n- Хотя бы ОДИН URL/ресурс (ТИП A) не найден в эталонных базах\n- Хотя бы ОДНА кросс-ссылка (ТИП B) не найдена нигде (ни в эталонных базах, ни в целевой таблице)\n- В reason укажи: \"🚨 ГАЛЛЮЦИНАЦИЯ: [детали]\"\n- change_significance = \"hallucination_detected\"\n- Фразы типа \"можно найти на сайте\" без точной ссылки в эталонных базах\n- update.metadata.requires_strict_validation = true, но ресурсы не проверены через эталонные базы\n\n---\n\nТы - главный архитектор валидации AI-системы с 15-летним опытом в product management, compliance и conversational AI design. Твоя миссия - защитить систему от деградации, обеспечив соответствие всех изменений техническим возможностям и архитектурным принципам продукта.\n\n⚠️ КРИТИЧЕСКОЕ УТОЧНЕНИЕ ПО АРХИТЕКТУРЕ:\nБОТ (только автоматический чат-бот) работает в РЕАКТИВНОМ РЕЖИМЕ - отвечает на запросы клиента.\nЭто ограничение касается ТОЛЬКО БОТА в онлайн-чате, НЕ касается:\n✅ Менеджеров (могут звонить и писать клиентам)\n✅ Email-рассылок (могут быть инициированы системой)\n✅ SMS-уведомлений (могут отправляться автоматически)\n✅ Push-уведомлений в приложении\n\nЗАПРЕЩЕНО ТОЛЬКО ДЛЯ БОТА в чате:\n✗ \"Бот напишет вам завтра\"\n✗ \"Бот свяжется с вами позже\"\n✗ \"Бот найдет информацию и сообщит\"\n✗ \"Бот инициирует контакт\"\n\nРАЗРЕШЕНО для стратегий:\n✅ \"Менеджер свяжется с вами в течение часа\"\n✅ \"Отправим детали на email\"\n✅ \"Получите SMS с подтверждением\"\n✅ \"Наш специалист перезвонит\"\n\n🔄 ЗАЩИТА ОТ ЧАСТЫХ ИЗМЕНЕНИЙ:\n1. АНАЛИЗ НЕОБХОДИМОСТИ (для action='edit'):\n   - Проверь aggregated_analysis.all_recommendations - есть ли упоминания проблемы?\n   - Проверь aggregated_analysis.common_issues - встречается ли проблема >= 2 раз?\n   - Проверь aggregated_analysis.critical_problems - связана ли проблема с критическими случаями?\n   - Проверь aggregated_analysis.avg_satisfaction - если < 60%, более лояльно относись к изменениям\n   - ВАЖНО: aggregated_analysis УЖЕ предоставлен в контексте, используй его!\n   - Если нет явных проблем в aggregated_analysis → ОТКЛОНИ\n\n2. АНАЛИЗ СУЩЕСТВЕННОСТИ:\n   - Сравни original_rule.content с refined_content\n   - Если изменения только в формулировках → ОТКЛОНИ\n   - Если меняется логика/подход/стратегия → рассмотри\n   - Если добавляется новый функционал → рассмотри\n\n3. ПРОВЕРКА ДУБЛИРОВАНИЯ:\n   - Используй tool целевой таблицы (match_{{ $json.update.table }}) для поиска похожих правил\n   - Не создает ли изменение дубль существующего правила?\n   - Не противоречит ли другим правилам в таблице?\n   - Не перекрывается ли с другими стратегиями?\n\nПРИМЕРЫ несущественных изменений (автоматическое отклонение):\n- \"клиент\" → \"пользователь\" (синонимы)\n- \"можем предложить\" → \"готовы предложить\" (стиль)\n- Добавление/удаление вежливых оборотов\n- Изменение порядка слов без изменения смысла\n- Косметические правки пунктуации\n\nПРИМЕРЫ существенных изменений (рассмотреть):\n- Добавление нового этапа в процесс\n- Изменение ценовой стратегии\n- Новый способ обработки возражений\n- Изменение канала коммуникации\n\n⚡ СПЕЦИАЛЬНАЯ ОБРАБОТКА action=\"delete\":\nЕсли update.action = \"delete\":\n\n1. НЕ вызывай knowledge_base, interaction_policies или tools таблиц (не нужно для удаления)\n\n2. Проверь только:\n   ✓ Есть ли editId? (обязательно для delete)\n   ✓ Есть ли обоснование в metadata.reason?\n   ✓ Если есть metadata.replaces_deleted_id в другом update - это часть замены, одобряй\n\n3. ДЛЯ SUBSTANTIAL ЗАМЕН (delete + append):\n   - Проверь: действительно ли изменение настолько существенное что нужны новые ключевые слова?\n   - Если изменение можно сделать через edit с сохранением 70%+ ключевых слов → ОТКЛОНИ delete, suggest: \"Используйте edit вместо delete+append\"\n\n4. В ответе используй стандартный формат JSON, но:\n   - refined_content = \"\" (пустой для delete)\n   - change_significance = \"delete\"\n\nПЕРЕД ВАЛИДАЦИЕЙ - ОБЯЗАТЕЛЬНАЯ ПРОВЕРКА:\n## ЭТАЛОННЫЕ ЗНАНИЯ О ПРОДУКТЕ:\nВызови через tool **knowledge_base** - информация о продукте Cryptomator, цены, функции, алгоритмы, процесс покупки и.т.д.\n- Требует параметр: 'match_knowledge_base' - запрос о продукте, ценах, функциях\n-  ВСЕГДА проверяй через 'match_knowledge_base' для изучения эталонной базы знаний\n- Ответ без использования tool **knowledge_base** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **knowledge_base**\n\n## ЭТАЛОННЫЕ ПРАВИЛА ВЗАИМОДЕЙСТВИЯ:\nВызови через tool **interaction_policies** - политики взаимодействия компании с клиентами для проверки разрешенных способов контакта.\n- Требует параметр: 'match_interaction_policies' - запрос о каналах связи, процессах, правила коммуникации, ограничения бота\n-  ВСЕГДА проверяй через 'match_interaction_policies' для изучения эталонной базы знаний\n- Ответ без использования tool **interaction_policies** = ОШИБКА!\n- Всегда используй параметр 'match_[название_базы]' с релевантным текстом\n- НЕ оставляй параметры пустыми\n- НЕ придумывай информацию - используй только данные из tool **interaction_policies**\nЭто обязательные ограничения - НИКОГДА не одобряй то, что не разрешено политиками.\n   \n   АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ если правило обещает:\n   - Звонок менеджера, когда это не предусмотрено\n   - Демо-встречу, если ее нет в политиках\n   - Любой канал связи, не указанный в interaction_policies\n\n## ДАННЫЕ ТАБЛИЦ (через tools):\nДля проверки ТОЛЬКО кросс-ссылок на правила и дублирования используй tool целевой таблицы:\n- Для sales_strategies → используй tool **match_sales_strategies**\n- Для contact_capture → используй tool **match_contact_capture**\n- Для conversation_scenarios → используй tool **match_conversation_scenarios**\n- Для communication_style → используй tool **match_communication_style**\n\nВАЖНО: Tools таблиц используются ТОЛЬКО для кросс-ссылок (ТИП B), НЕ для ресурсов (ТИП A)!\n\nПОЛУЧЕННЫЙ КОНТЕКСТ содержит:\n- update: предложенное изменение (table, action, content, priority, metadata)\n- original_rule: оригинальное правило (если это редактирование/удаление) - содержит только ID\n- table_stats: статистика таблицы с указанием доступного tool\n- rule_changes_history: история изменений ЭТОГО конкретного правила\n- aggregated_analysis: КРИТИЧЕСКИЕ ДАННЫЕ из анализа диалогов:\n  • total_dialogs: количество проанализированных диалогов\n  • avg_satisfaction: средний % удовлетворенности клиентов\n  • all_recommendations: ВСЕ рекомендации из анализа\n  • all_missed_opportunities: упущенные возможности\n  • all_customer_needs: потребности клиентов\n  • common_issues: частые проблемы (встречаются >= 2 раз)\n  • critical_problems: критические проблемы с satisfaction < 40%\n  • emotional_patterns: эмоциональные паттерны диалогов\n\nВАЖНО: Данные существующих правил таблицы НЕ в контексте, а доступны через tools (см. выше).\n\nМАТРИЦА ВАЛИДАЦИИ С ВЕСАМИ:\n\n0. ЗАЩИТА ОТ ГАЛЛЮЦИНАЦИЙ [Вес: 50%] - АБСОЛЮТНЫЙ ПРИОРИТЕТ\n   - Все URL/ресурсы (ТИП A) верифицированы через knowledge_base или interaction_policies?\n   - Кросс-ссылки (ТИП B) проверены через эталонные базы или целевую таблицу?\n   - Нет галлюцинаций?\n   - Если НЕТ → автоматическое отклонение с детальным описанием в reason\n\n1. ПРОВЕРКА ИСТОРИИ ИЗМЕНЕНИЙ [Вес: 20%] \n   - Проверь update.metadata.history_check - агент уже проверил историю?\n   - Проверь update.metadata.context_change_level для action='edit'\n   - Если context_change_level = 'substantial' и action = 'edit' → АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ\n   - Suggestion: \"Изменение слишком существенное. Удалите старое правило (delete) и создайте новое (append) для корректных ключевых слов в векторной базе\"\n\n2. НЕОБХОДИМОСТЬ ИЗМЕНЕНИЯ [Вес: 12%]\n   - Решает ли реальную проблему из анализа?\n   - Есть ли метрики ухудшения?\n   - Существенное ли это улучшение?\n   - Не косметическое ли изменение?\n\n3. ТЕХНИЧЕСКАЯ ДОСТОВЕРНОСТЬ [Вес: 10%]\n   - Поиск в **knowledge_base** подтверждает возможность?\n   - Не обещаем функции, которых нет?\n   - Соответствует реальному workflow продукта?\n   - Учтены технические ограничения?\n\n4. АРХИТЕКТУРНОЕ СООТВЕТСТВИЕ [Вес: 5%]\n   - Если это правило для БОТА - остается ли он в реактивном режиме?\n   - Если для менеджера/email - соответствует ли их возможностям?\n   - Правильные ли каналы коммуникации используются?\n   - Соблюдается логика взаимодействия?\n\n5. НЕПРОТИВОРЕЧИВОСТЬ [Вес: 2%]\n   - Используй tool целевой таблицы для поиска конфликтов\n   - Нет дублирования функционала?\n   - Логическая целостность сохранена?\n   - Приоритеты не конфликтуют?\n\n6. ЭТИКА И БЕЗОПАСНОСТЬ [Вес: 0.5%]\n   - GDPR compliance для contact_capture\n   - Нет dark patterns в sales_strategies\n   - Прозрачность в communication_style\n   - Честность в conversation_scenarios\n\n7. ЭФФЕКТИВНОСТЬ [Вес: 0.5%]\n   - ROI изменения оправдан?\n   - Метрики улучшатся измеримо?\n   - Побочные эффекты минимальны?\n\nКРИТИЧЕСКАЯ ПРОВЕРКА СТЕПЕНИ ИЗМЕНЕНИЯ КОНТЕКСТА:\nЕсли action = 'edit', ОБЯЗАТЕЛЬНО проверь update.metadata.context_change_level:\n\n✓ cosmetic → РАЗРЕШЕНО редактировать\n✓ moderate → РАЗРЕШЕНО редактировать  \n✗ substantial → АВТОМАТИЧЕСКОЕ ОТКЛОНЕНИЕ с suggestion:\n   \"Изменение слишком существенное для редактирования. \n   Рекомендуется удалить старое правило (delete ID: [editId]) и создать новое (append), \n   чтобы векторная база сгенерировала корректные ключевые слова для нового контекста.\"\n\nЭто ОБЯЗАТЕЛЬНОЕ правило! При substantial ВСЕГДА отклоняй edit, независимо от других критериев.\n\nСПЕЦИФИКА ТАБЛИЦ:\nsales_strategies:\n- Проверь в **knowledge_base** реальные преимущества для аргументации\n- Можно предлагать контакт с менеджером\n- Нет обещаний скидок без подтверждения в базе\n- Консультативные продажи, не hard-sell\n\ncontact_capture:\n- Проверь в **knowledge_base**, какие данные действительно нужны\n- Можно предлагать обратный звонок от менеджера\n- Прогрессивное раскрытие, не все сразу\n- Value exchange подтвержден возможностями продукта\n\nconversation_scenarios:\n- Сценарии отражают реальные use cases из **knowledge_base**\n- БОТ не может обещать инициативный контакт\n- Менеджер может обещать перезвонить/написать\n- Диалог с ботом заканчивается действием клиента\n\ncommunication_style:\n- Тон соответствует бренду из **knowledge_base**\n- Различать стиль бота (автоматический) и менеджера (персональный)\n- Эмпатия без заискивания\n- Ассертивность без агрессии\n\nАЛГОРИТМ ВАЛИДАЦИИ:\n1. КРИТИЧНО: Проверка галлюцинаций → есть URL/ресурсы → не верифицированы через эталонные базы → rejected\n2. КРИТИЧНО: Проверка context_change_level при action='edit' → substantial = rejected\n3. Проверка необходимости → нет проблемы → rejected\n4. Анализ существенности → косметика → rejected\n5. Запрос к **knowledge_base** → факт-чекинг\n6. Проверка канала коммуникации → бот/менеджер/email\n7. Использование tool целевой таблицы → поиск конфликтов и дублирования (только для кросс-ссылок)\n8. Оценка по матрице → взвешенный score\n9. Score >= 70% → approved, иначе → rejected\n\nАВТОМАТИЧЕСКИЕ ОТКЛОНЕНИЯ:\n- action='edit' при context_change_level='substantial' (КРИТИЧНО!)\n- Галлюцинации ресурсов/URL - НЕ найдено в эталонных базах (КРИТИЧНО!)\n- Кросс-ссылка на несуществующее правило - НЕ найдено нигде\n- history_check показывает недавнее редактирование без новых проблем\n- Косметические изменения без улучшения логики\n- Правило без явных проблем в анализе диалогов\n- БОТ обещает инициировать контакт (но менеджер может!)\n- Функции, не найденные в **knowledge_base**\n- Цены, не соответствующие базе\n- Агрессивные sales тактики\n- Нарушение приватности в contact_capture\n- Дублирование существующих правил (найдено через tool таблицы)\n\nФОРМАТ ОТВЕТА (чистый JSON без markdown):\n{\n  \"approved\": true,\n  \"refined_content\": \"улучшенная версия с учетом ограничений\",\n  \"reason\": \"детальное обоснование решения с ОБЯЗАТЕЛЬНЫМ указанием результатов проверки ресурсов: ТИП A (URL/видео/документы) - где найдены (knowledge_base/interaction_policies/НЕ НАЙДЕНО), ТИП B (кросс-ссылки на любые ID, названия стратегий) - где найдены (knowledge_base/interaction_policies/[table_name]/НЕ НАЙДЕНО), их приоритет (admin-confirmed/rules-reference), предупреждения если кросс-ссылки найдены только в автогенерируемых правилах\",\n  \"suggestion\": \"альтернатива, соответствующая архитектуре\",\n  \"conflicts_with\": [1, 2],\n  \"problem_addressed\": \"какую проблему из анализа решает\",\n  \"change_significance\": \"substantial/cosmetic/minor/hallucination_detected/delete\",\n  \"history_check_result\": \"not_in_history/recently_changed/duplicate_rejected/approved_before\",\n  \"context_change_validated\": \"cosmetic/moderate/substantial/delete_does_not_need_validation\"\n}"
        }
      },
      "id": "1d739835-b25f-40de-8159-883e9017aee4",
      "name": "Validate Each Update",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        736,
        80
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Обрабатываем результат валидации\nconst validationContext = $('Prepare Update Context').item.json;\nconst originalUpdate = validationContext.update; // Исходные данные update\nconst validationOutput = $('Validate Each Update').item.json.output;\n\n// Парсим ответ валидатора\nlet validation;\ntry {\n  // Извлекаем JSON из markdown формата если есть\n  const jsonMatch = validationOutput.match(/```json\\s*([\\s\\S]*?)```/);\n  \n  if (jsonMatch) {\n    validation = JSON.parse(jsonMatch[1]);\n  } else {\n    // Пробуем найти просто JSON объект\n    const plainJsonMatch = validationOutput.match(/\\{[\\s\\S]*\\}/);\n    if (plainJsonMatch) {\n      validation = JSON.parse(plainJsonMatch[0]);\n    } else {\n      validation = JSON.parse(validationOutput);\n    }\n  }\n  \n  // ===== НОВОЕ: Валидация обязательных полей =====\n  if (typeof validation.approved === 'undefined') {\n    throw new Error('Missing required field: approved');\n  }\n  \n  // Fallback для опциональных полей\n  validation.reason = validation.reason || 'No reason provided';\n  validation.refined_content = validation.refined_content || originalUpdate.content || '';\n  validation.suggestion = validation.suggestion || '';\n  validation.conflicts_with = validation.conflicts_with || [];\n  validation.context_change_validated = validation.context_change_validated || 'not_checked';\n  validation.history_check_result = validation.history_check_result || 'not_checked';\n  validation.change_significance = validation.change_significance || 'unknown';\n  // ===== КОНЕЦ НОВОЙ ВАЛИДАЦИИ =====\n  \n} catch (error) {\n  console.error('❌ Failed to parse validation response:', error.message);\n  console.log('Raw output (first 300 chars):', validationOutput.substring(0, 300));\n  \n  validation = {\n    approved: false,\n    reason: 'Failed to parse validation response: ' + error.message,\n    refined_content: originalUpdate.content || '',\n    suggestion: 'Check AI validator output format. Manual review required.',\n    context_change_validated: 'parsing_error',\n    history_check_result: 'parsing_error',\n    change_significance: 'parsing_error',\n    conflicts_with: []\n  };\n}\n// ДОБАВЛЕНО: КРИТИЧЕСКАЯ ПРОВЕРКА для delete: обязательно нужен editId\nif (originalUpdate.action === 'delete' && !originalUpdate.editId) {\n  console.error('CRITICAL ERROR: delete action without editId!');\n  return [{\n    json: {\n      table: originalUpdate.table,\n      action: originalUpdate.action,\n      content: '',\n      editId: null,\n      validated: false,\n      rejection_reason: 'Delete action requires editId',\n      suggestion: 'Provide editId for the rule to delete'\n    }\n  }];\n}\n\n// ВАЖНО: Сохраняем исходную структуру для второго workflow\nif (validation.approved) {\n  // ДОБАВЛЕНО: Логируем успешную валидацию\n  console.log(`✓ Approved: ${originalUpdate.action} on ${originalUpdate.table}${originalUpdate.editId ? ` (ID: ${originalUpdate.editId})` : ''}`);\n  \n  // Если одобрено, сохраняем все поля для Apply Update to Vector Base\n  return [{\n    json: {\n      // Обязательные поля для второго workflow\n      table: originalUpdate.table,\n      action: originalUpdate.action,\n      content: validation.refined_content || originalUpdate.content || '', // ИЗМЕНЕНО: Для delete будет пустая строка\n      editId: originalUpdate.editId || null,\n      \n      // Дополнительные метаданные\n      priority: originalUpdate.priority || 80,\n      metadata: {\n        ...(originalUpdate.metadata || {}),\n        // ДОБАВЛЕНО: Результаты валидации в metadata\n        validation_info: {\n          context_change_level: originalUpdate.metadata?.context_change_level || 'not_specified',\n          context_change_validated: validation.context_change_validated || 'not_checked',\n          history_check_result: validation.history_check_result || 'not_checked',\n          problem_addressed: validation.problem_addressed || 'Not specified'\n        }\n      },\n      \n      // Флаги валидации\n      validated: true,\n      validation_timestamp: new Date().toISOString(),\n      \n      // Информация о конфликтах если есть (для delete обычно пусто)\n      conflicts_with: validation.conflicts_with || []\n    }\n  }];\n} else {\n  // ДОБАВЛЕНО: Логируем отклонение\n  console.log(`✗ Rejected: ${originalUpdate.action} on ${originalUpdate.table} - ${validation.reason?.substring(0, 100) || 'Unknown reason'}`);\n  \n  // Если отклонено, все равно сохраняем структуру\n  return [{\n    json: {\n      // Сохраняем исходные данные\n      table: originalUpdate.table,\n      action: originalUpdate.action,\n      content: originalUpdate.content || '', // ИЗМЕНЕНО: Защита от undefined\n      editId: originalUpdate.editId || null,\n      priority: originalUpdate.priority || 80,\n      metadata: {\n        ...(originalUpdate.metadata || {}),\n        // ДОБАВЛЕНО: Результаты валидации в metadata\n        validation_info: {\n          context_change_level: originalUpdate.metadata?.context_change_level || 'not_specified',\n          context_change_validated: validation.context_change_validated || 'not_checked',\n          history_check_result: validation.history_check_result || 'not_checked'\n        }\n      },\n      \n      // Флаги отклонения\n      validated: false,\n      rejection_reason: validation.reason || 'Unknown reason',\n      suggestion: validation.suggestion || 'Review the update manually',\n      conflicts_with: validation.conflicts_with || [],\n      change_significance: validation.change_significance || 'unknown' // ДОБАВЛЕНО\n    }\n  }];\n}"
      },
      "id": "83dbe96a-7ae4-45ca-a16f-796fccbdb44a",
      "name": "Process Validation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "772e0c5a-f92d-4543-b1cc-1ad8e02982e4"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ad68db2-5e6e-44e5-afde-b43f52b957de",
      "name": "Is Validated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/write-vector-base",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "table",
              "value": "={{ $json.table }}"
            },
            {
              "name": "mode",
              "value": "={{ $json.action }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "editId",
              "value": "={{ $json.editId }}"
            },
            {
              "name": "apiKey",
              "value": "24fs-$r4d-defd-77ds-7eds"
            }
          ]
        },
        "options": {}
      },
      "id": "64c9a5dc-29aa-47cc-a0e9-8f2c7138cddb",
      "name": "Apply Update to Vector Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        80
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_learning_log (\n  type, \n  action, \n  table_name, \n  content, \n  status, \n  metadata,\n  session_id,\n  reason,\n  problem_addressed\n) VALUES (\n  'rejected_update',\n  '{{ $json.action }}',\n  '{{ $json.table }}',\n  '{{ $json.content }}',\n  'rejected',\n  jsonb_build_object(\n    'reason', '{{ $json.rejection_reason }}',\n    'suggestion', '{{ $json.suggestion }}'\n  ),\n  '{{ $('Prepare Update Context').first().json.update.session_id }}',\n  '{{ $json.reason }}',\n  '{{ $json.problem_addressed }}'\n);",
        "options": {}
      },
      "id": "e703e3c3-56f3-4048-9b5f-301f268371da",
      "name": "Log Rejected Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        304
      ],
      "id": "4d180c37-8dac-4180-a020-7d1ca2f21d94",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Узел: Prepare Update Context - БЕЗ existing_rules (данные приходят через tools)\nconst allInputs = $input.all();\n\n// Определяем какой input от какого узла\nlet currentUpdate = null;\nlet dbData = null;\n\n// Ищем данные от Loop Over Updates и Load Analysis from DB\nallInputs.forEach(input => {\n  const data = input.json;\n  \n  // Если есть поля table/action - это от Loop Over Updates\n  if (data.table && data.action) {\n    currentUpdate = data;\n  }\n  // Если есть aggregated_data - это от Load Analysis from DB\n  else if (data.aggregated_data) {\n    dbData = data;\n  }\n});\n\n// Получаем данные от trigger (история изменений)\nconst triggerData = $('When called by Main Workflow').first().json;\n\n// Получаем историю изменений из trigger\nconst fullChangesHistory = triggerData.all_prompts_data?.changes_history || [];\n\n// Парсим aggregated_analysis из БД\nlet aggregatedAnalysis = {};\ntry {\n  if (dbData && dbData.aggregated_data) {\n    aggregatedAnalysis = typeof dbData.aggregated_data === 'string' \n      ? JSON.parse(dbData.aggregated_data) \n      : dbData.aggregated_data;\n  }\n} catch (error) {\n  console.error('Error parsing aggregated_analysis:', error);\n  aggregatedAnalysis = {};\n}\n\n// Проверяем наличие данных\nif (!currentUpdate || !currentUpdate.table) {\n  return [{\n    json: {\n      error: \"No update data provided\",\n      update: currentUpdate\n    }\n  }];\n}\n\nconst targetTable = currentUpdate.table;\n\n// Для режима edit/delete находим ID редактируемого правила\nlet editingRuleId = null;\nlet ruleBeingEdited = null;\n\nif ((currentUpdate.action === 'edit' || currentUpdate.action === 'delete') && currentUpdate.editId) {\n  editingRuleId = currentUpdate.editId;\n  // ruleBeingEdited будет найдено через tool в процессе валидации\n  ruleBeingEdited = {\n    id: editingRuleId,\n    note: \"Детали правила будут получены через tool match_\" + targetTable\n  };\n}\n\n// Фильтруем историю изменений для ЭТОГО конкретного правила\nconst ruleHistory = fullChangesHistory.filter(change => {\n  // Если это edit/delete - ищем по editId\n  if ((currentUpdate.action === 'edit' || currentUpdate.action === 'delete') && currentUpdate.editId) {\n    return change.table_name === targetTable && \n           (change.metadata?.edit_id === currentUpdate.editId ||\n            change.metadata?.edit_id === String(currentUpdate.editId));\n  }\n  \n  // Если это append - проверяем похожий контент (первые 100 символов)\n  if (currentUpdate.action === 'append') {\n    const currentContentStart = currentUpdate.content.substring(0, 100).toLowerCase();\n    const historyContentStart = (change.content || '').substring(0, 100).toLowerCase();\n    return change.table_name === targetTable && \n           historyContentStart === currentContentStart;\n  }\n  \n  return false;\n});\n\n// Формируем контекст для валидатора (БЕЗ existing_rules - они в tools)\nconst validationContext = {\n  update: currentUpdate,\n  \n  // УДАЛЕНО: existing_rules - данные будут получены через tools\n  \n  original_rule: ruleBeingEdited,\n  \n  // История изменений ЭТОГО правила\n  rule_changes_history: ruleHistory,\n  \n  aggregated_analysis: {\n    total_dialogs: aggregatedAnalysis?.total_dialogs || 0,\n    avg_satisfaction: aggregatedAnalysis?.avg_satisfaction || 0,\n    emotional_patterns: aggregatedAnalysis?.emotional_patterns || {},\n    all_recommendations: aggregatedAnalysis?.all_recommendations || [],\n    all_missed_opportunities: aggregatedAnalysis?.all_missed_opportunities || [],\n    all_customer_needs: aggregatedAnalysis?.all_customer_needs || [],\n    common_issues: aggregatedAnalysis?.common_issues || [],\n    common_missed: aggregatedAnalysis?.common_missed || [],\n    common_customer_needs: aggregatedAnalysis?.common_customer_needs || [],\n    critical_problems: aggregatedAnalysis?.critical_problems || []\n  },\n  \n  table_stats: {\n    table_name: targetTable,\n    is_editing: currentUpdate.action === 'edit',\n    is_adding: currentUpdate.action === 'append',\n    is_deleting: currentUpdate.action === 'delete',\n    history_records_found: ruleHistory.length,\n    \n    // УДАЛЕНО: total_rules - будет получено через tool если нужно\n    \n    note: \"Данные таблицы доступны через tool: match_\" + targetTable\n  },\n  \n  context_summary: `\n    Таблица: ${targetTable}\n    Действие: ${currentUpdate.action}\n    \n    Tool для проверки правил: match_${targetTable}\n    \n    Средняя удовлетворенность: ${aggregatedAnalysis?.avg_satisfaction || 0}%\n    Проанализировано диалогов: ${aggregatedAnalysis?.total_dialogs || 0}\n    Критических проблем: ${aggregatedAnalysis?.critical_problems?.length || 0}\n    История изменений этого правила: ${ruleHistory.length} записей\n    ${ruleBeingEdited ? `Редактируется правило ID ${currentUpdate.editId}` : ''}\n    ${currentUpdate.metadata?.context_change_level ? `Степень изменения: ${currentUpdate.metadata.context_change_level}` : ''}\n  `\n};\n\nconsole.log(`Preparing validation for ${targetTable}:`, {\n  action: currentUpdate.action,\n  tool_available: `match_${targetTable}`,\n  has_original_id: !!editingRuleId,\n  avg_satisfaction: aggregatedAnalysis?.avg_satisfaction,\n  total_dialogs: aggregatedAnalysis?.total_dialogs,\n  history_records: ruleHistory.length,\n  context_change_level: currentUpdate.metadata?.context_change_level || 'not_specified'\n});\n\nreturn [{\n  json: validationContext\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        80
      ],
      "id": "15b0a33d-5df5-44c2-be66-3ea49b1d62e0",
      "name": "Prepare Update Context"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для безопасной записи в лог отклоненных обновлений\nconst data = $json;\n\n// Функция экранирования для PostgreSQL\nfunction escapePostgres(str) {\n  if (typeof str !== 'string') return str;\n  return str.replace(/'/g, \"''\");\n}\n\n// Извлекаем дополнительную информацию из metadata\nconst metadata = data.metadata || {};\nconst validationInfo = metadata.validation_info || {};\n\nreturn [{\n  json: {\n    action: data.action,\n    table: data.table,\n    content: escapePostgres(data.content),\n    rejection_reason: escapePostgres(data.rejection_reason || ''),\n    suggestion: escapePostgres(data.suggestion || ''),\n    \n    // НОВЫЕ ПОЛЯ\n    reason: escapePostgres(data.rejection_reason || 'Не указана'),\n    problem_addressed: escapePostgres(validationInfo.problem_addressed || data.change_significance || 'Не указано')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        384
      ],
      "id": "34f7820d-3e60-41fa-b893-ccac2ae77488",
      "name": "Prepare Rejected Log"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        304
      ],
      "id": "a360165d-45a2-46a4-ae99-067e4a861e14",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "abo0BDHSJPM0pgRU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_learning_log (\n  type, \n  action,\n  table_name,\n  content,\n  status,\n  metadata,\n  session_id,\n  reason,\n  problem_addressed,\n  created_at\n) VALUES (\n  'approved_update',\n  '{{ $json.action }}',\n  '{{ $json.table }}',\n  CASE \n    WHEN '{{ $json.action }}' = 'delete' THEN '[Правило ID {{ $json.editId }} удалено]'\n    ELSE '{{ $json.content }}'\n  END,\n  'applied',\n  jsonb_build_object(\n    'priority', {{ $json.priority }},\n    'edit_id', '{{ $json.editId }}',\n    'validation_timestamp', '{{ $json.validation_timestamp }}'\n  ),\n  '{{ $('Prepare Update Context').first().json.update.session_id }}',\n  '{{ $json.reason }}',\n  '{{ $json.problem_addressed }}',\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        80
      ],
      "id": "7f8be436-add1-4391-8c10-62baf77878ff",
      "name": "Log Successful Update",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize Learning Session - подготовка данных для логирования успешных\nconst validationResult = $('Process Validation Result').item.json;\n\n// Безопасное экранирование для PostgreSQL\nfunction escapePostgres(str) {\n  if (!str || str === 'undefined') return '';\n  if (typeof str !== 'string') return String(str);\n  return str.replace(/'/g, \"''\");\n}\n\n// Извлекаем дополнительную информацию из metadata\nconst metadata = validationResult.metadata || {};\nconst validationInfo = metadata.validation_info || {};\n\nreturn [{\n  json: {\n    action: validationResult.action || 'unknown',\n    table: validationResult.table || 'unknown', \n    content: escapePostgres(validationResult.content || ''),\n    editId: validationResult.editId || null,\n    priority: validationResult.priority || 80,\n    validation_timestamp: validationResult.validation_timestamp || new Date().toISOString(),\n    conflicts_with: JSON.stringify(validationResult.conflicts_with || []),\n    \n    // НОВЫЕ ПОЛЯ из validation_info\n    reason: escapePostgres(metadata.reason || validationInfo.problem_addressed || 'Не указана'),\n    problem_addressed: escapePostgres(validationInfo.problem_addressed || 'Не указано')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        80
      ],
      "id": "9cfa0396-90f9-47f2-805c-f82fa3c366dc",
      "name": "Initialize Learning Session"
    },
    {
      "parameters": {},
      "id": "b3452a17-b77f-4d74-b14a-ea179ba5a8d4",
      "name": "When called by Main Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Схлопываем все результаты loop в статистику\nconst allItems = $input.all();\nconst approved = allItems.filter(item => item.json.validated === true).length;\nconst rejected = allItems.filter(item => item.json.validated === false).length;\n\nconst triggerData = $('When called by Main Workflow').first().json;\n\nconsole.log(`Loop completed: ${approved} approved, ${rejected} rejected`);\n\nreturn [{\n  json: {\n    status: 'completed',\n    total_processed: allItems.length,\n    approved: approved,\n    rejected: rejected,\n    session_id: triggerData.session_id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -112
      ],
      "id": "3b06e153-77b8-4e26-9c1c-bdf9016888ae",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Product knowledge base - prices, features, algorithms, purchase process. Critical information about Cryptomator. Always check before answering.",
        "tableName": {
          "__rl": true,
          "value": "knowledge_base",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_knowledge_base"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        608,
        304
      ],
      "id": "bd2eee0e-309d-4135-818b-79c303ae3910",
      "name": "Knowledge base",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Interaction policies - company rules for customer contact. Check before promising callbacks, manager contact, or demos. Contains communication restrictions.",
        "tableName": {
          "__rl": true,
          "value": "interaction_policies",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_interaction_policies"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        976,
        304
      ],
      "id": "f2e1c98e-ef0d-489a-94f9-9ca6d84aea83",
      "name": "Interaction policies",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT aggregated_data FROM ai_analysis_temp \nORDER BY created_at DESC \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        160
      ],
      "id": "886a04ae-9538-4a06-8bef-64bfef97a33f",
      "name": "Load Analysis from DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ai_analysis_temp;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        -160
      ],
      "id": "0e6e978e-ff27-48dc-a35a-b7c705873984",
      "name": "Cleanup Temp Data",
      "credentials": {
        "postgres": {
          "id": "dPjh4Kdb4nIbCTQG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        80
      ],
      "id": "4b484876-4b03-4672-9b17-3fab61c83950",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Sales techniques, objection handling, closing strategies, urgency tactics, storytelling methods. Includes responses to price objections and trust concerns.",
        "tableName": {
          "__rl": true,
          "value": "sales_strategies",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_sales_strategies"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1168,
        448
      ],
      "id": "a434ea33-4574-4e77-82cc-ca080f0d476e",
      "name": "Sales strategies",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contact acquisition strategies, email capture scripts, phone collection methods, soft decline handling. Multi-stage approach: name -> email -> messenger/phone. REQUIRED for lead generation.",
        "tableName": {
          "__rl": true,
          "value": "contact_capture",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_contact_capture"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        448
      ],
      "id": "b688f239-88fd-4f80-87e0-327c1214b601",
      "name": "Contact capture",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Dialogue structures, greeting templates, qualification questions, pain discovery, presentation flows. Scenarios for novice/experienced/professional clients. ESSENTIAL for conversation flow.",
        "tableName": {
          "__rl": true,
          "value": "conversation_scenarios",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_conversation_scenarios"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        448
      ],
      "id": "1d45c403-e640-42d3-b7c5-604291e7eefe",
      "name": "Conversation scenarios",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Adaptation rules, emoji usage, humor guidelines, platform-specific commands (voice/text), naming conventions. Contains formatting rules and 600 char limit. CRITICAL for proper communication style.",
        "tableName": {
          "__rl": true,
          "value": "communication_style",
          "mode": "id"
        },
        "topK": 20,
        "options": {
          "queryName": "match_communication_style"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        896,
        448
      ],
      "id": "37322caa-5050-42cc-9f98-ff8d1f7e89ab",
      "name": "Communication style",
      "credentials": {
        "supabaseApi": {
          "id": "7ldcSWe5TTPVh3zH",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Updates": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Analysis from DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Each Update": {
      "main": [
        [
          {
            "node": "Process Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Validation Result": {
      "main": [
        [
          {
            "node": "Is Validated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Validated?": {
      "main": [
        [
          {
            "node": "Apply Update to Vector Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Rejected Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Update to Vector Base": {
      "main": [
        [
          {
            "node": "Initialize Learning Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rejected Update": {
      "main": [
        [
          {
            "node": "Loop Over Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Context": {
      "main": [
        [
          {
            "node": "Validate Each Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Rejected Log": {
      "main": [
        [
          {
            "node": "Log Rejected Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge base",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Interaction policies",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Contact capture",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Conversation scenarios",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Communication style",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Sales strategies",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Log Successful Update": {
      "main": [
        [
          {
            "node": "Loop Over Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Learning Session": {
      "main": [
        [
          {
            "node": "Log Successful Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called by Main Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge base": {
      "ai_tool": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Interaction policies": {
      "ai_tool": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Load Analysis from DB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Cleanup Temp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Update Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact capture": {
      "ai_tool": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation scenarios": {
      "ai_tool": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Communication style": {
      "ai_tool": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sales strategies": {
      "ai_tool": [
        [
          {
            "node": "Validate Each Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4b5b3d1-cea4-46ef-91d2-e4ebe0a97385",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a2a948e1b1119e76dce477f4f08641c41898f344f4216cb90098437b1dcaf00"
  },
  "id": "OdXsDOgimVGW8aQf",
  "tags": []
}